// Default Styles (Mobile First!)
.page-node-type-page {
  .field--name-field-intro {
    font-size: rem(18);
    font-weight: 300;
    margin-top: rem(24);
    text-align: center;
  }
  .field--name-bene-content {
    clear: both;
  }
  .paragraph--type--media {
    width: 100%;
    text-align: center;
    font-size: rem(14);
    font-style: italic;
    margin: rem(24) 0;
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
.page-node-type-page {
    .field--name-field-intro {
      font-size: rem(22)
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
