.block-hero {
  position: relative;
  background-color: bbv(bene-bright-blue); // in case css variables are not supported
  background-color: var(--color-theme-primary-bright);

  h1 {
    font-size: rem(50);
    padding: 0 1rem;
    text-shadow: none;
    text-transform: none;
    z-index: 1;

    @include mq(mobile) {
      flex: 0 1 100%;
      text-align: left;
      font-size: rem(32);
    }

    @include mq(tablet) {
      flex: inherit;
      font-size: rem(50);
    }

    @include mq(desktop) {
      flex: inherit;
      font-size: rem(50);
    }

  }

}
