// Default Styles (Mobile First!)
.page-node-type-event {
  .field--name-bene-content {
    clear: both;
  }
  .field--name-bene-event-date-range {
    margin-bottom: rem(32);
    margin-top: rem(24);
    time {
      font-size: rem(18);
      font-weight: 300;
      line-height: rem(32);
      margin-top: rem(12);
      @include mq(desktop) {
        font-size: rem(22);
        line-height: rem(38);
      }
    }
  }
  .field--name-bene-event-location p.address {
    line-height: 1.3;
    margin-top: 0;
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
