// Default Styles (Mobile First!)
.page-node-type-event {
  .region-content {
    margin-bottom: rem(32);
  }
  .field--name-bene-intro,
  .field--name-bene-event-date-range {
    margin-bottom: rem(24);
    margin-top: rem(16);
    h2 {
      font-size: rem(32);
      font-style: italic;
      color: $bright-blue;
      margin-top: rem(32);
      font-weight: 600;
    }
    h3 {
      font-size: rem(20);
      font-weight: 400;
      margin-bottom: 0;
      margin-top: rem(18);
    }
    p,time {
      font-size: rem(18);
      font-weight: 300;
      margin-top: rem(12);
      line-height: rem(32);
      @include mq(desktop) {
        font-size: rem(22);
        line-height: rem(38);
      }
    }
  }
  .field--name-bene-event-location p.address {
    margin-top: 0;
    line-height: 1.3;
  }

  .field--name-bene-content {
    clear: both;
  }
  .paragraph--type--media {
    width: 100%;
    text-align: center;
    font-size: rem(14);
    font-style: italic;
    margin: rem(24) 0;
    img {
      max-width: 100%;
    }
  }
  .paragraph--type--rich-text {
    figure {
      margin: rem(16) 0;
    }
    figcaption {
      font-size: rem(14);
      font-style: italic;
    }
    .embedded-entity.align-left,
    figure.align-left {
      margin-right: rem(32);
    }
    .embedded-entity.align-right,
    figure.align-right {
      margin-left: rem(32);
    }

    .embedded-entity.align-left,
    .embedded-entity.align-right {
      margin-bottom: rem(12);
    }

    p,
    ol li,
    ul li {
      color: $dark-grey;
    }
    blockquote {
      text-align: center;
      margin: rem(32) auto;
      max-width: 80%;
      p {
        margin: 0;
        font-size: rem(26);
        color: $bright-blue;
        line-height: rem(39);
        font-style: italic;
        font-weight: 600;
        &:before {
          content: "“";
        }
        &:after {
          content: "”";
        }
      }

      &:after {
        content: "";
        position: relative;
        display: inline-block;
        width: 25%;
        height: rem(4);
        background-color: $bright-blue;
      }
    }
    img {
      max-width: 99%;
    }
  }
  .paragraph--type--feature-full-width {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    min-height: 38.2vw;
    color: $white;
    background-color: $blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(24) rem(24) rem(36) rem(24);
    position: relative;
    &:before {
      content: "";
      background-color: rgba(0,0,0,0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }
    .field--name-field-title {
      font-size: rem(36);
      font-weight: 900;
      z-index: 10;
    }
    .field--name-field-text {
      z-index: 10;
      p {
        color: $white;
        max-width: 100%;
        margin: rem(32) auto;
        @include mq(desktop) {
          max-width: 65%;
        }
      }
    }
    .field--type-link {
      z-index: 10;
      a {
        @include button($white, $bright-blue);
        text-transform: none;
        letter-spacing: 0;
      }
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
.page-node-type-event {
    .region-content {
      margin-bottom: rem(48);
    }
    .field--name-bene-intro {
      font-size: rem(22)
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
