.field--name-bene-intro {
  margin-bottom: rem(24);
  margin-top: rem(16);
  h2 {
    color: bbv(bene-bright-blue); // in case css variables are not supported
    color: var(--color-theme-primary-bright);
    font-size: rem(32);
    font-style: italic;
    font-weight: 600;
    margin-top: rem(32);
  }
  h3 {
    font-size: rem(20);
    font-weight: 400;
    margin-bottom: 0;
    margin-top: rem(18);
  }
  p {
    font-size: rem(18);
    font-weight: 300;
    line-height: rem(32);
    margin-top: rem(12);
    @include mq(desktop) {
      font-size: rem(22);
      line-height: rem(38);
    }
  }
}
