// Default Styles (Mobile First!)
input[type="search"], textarea {
  -webkit-appearance: none;
  //background-color: $white;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: $black;
  font-size: rem(16);
  font-weight: 500;
  height: rem(50);
  padding: rem(18) rem(50) rem(18) rem(22);
  width: 100%;
  &::-webkit-input-placeholder {
    color: $placeholder-grey;
  }
  &::-moz-placeholder {
    color: $placeholder-grey;
  }
  &:-ms-input-placeholder {
    color: $placeholder-grey;
  }
  &:-moz-placeholder {
    color: $placeholder-grey;
  }
  &:focus {
    outline: 1px solid $light-grey;
  }
}

.js-facets-checkbox-links,
.js-form-type-checkbox {
  input {
    display: none;
  }
  label {
    display: inline-block;
    font-size: rem(18);
    color: $dark-grey;
    margin-bottom: rem(8);
    margin-left: 0;
    width: 100%;
    text-indent: rem(-38);
    padding-left: rem(38);
    &:hover {
      cursor: pointer;
    }
    &::before {
      @include default-transition;
      content: "✓";
      font-size: rem(32);
      line-height: 1;
      color: transparent;
      display: inline-block;
      position: relative;
      top: rem(1);
      line-height: 0.4;
      left: 0;
      width: rem(26);
      height: rem(24);
      margin-right: 2%;
      padding-left: 3px;
      text-indent: rem(0);
      border: 1px solid $dark-grey;
      border-radius: rem(1);
      &:hover {
        cursor: pointer;
      }
    }
  }
  input[type="checkbox"]:checked + label::before {
    color: $dark-grey;
    text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5);
  }
}

label {
  font-weight: 600;
  color: $dark-grey;
  margin-bottom: rem(24);
}

input:focus {
  outline-color: $light-grey;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid $light-grey;
  border-radius: rem(3);
  box-sizing: border-box;
  color: $black;
  font-size: rem(16);
  font-weight: 500;
  height: rem(50);
  padding: rem(18) rem(50) rem(18) rem(22);
  width: 100%;
  &::-webkit-input-placeholder {
    color: $placeholder-grey;
  }
  &::-moz-placeholder {
    color: $placeholder-grey;
  }
  &:-ms-input-placeholder {
    color: $placeholder-grey;
  }
  &:-moz-placeholder {
    color: $placeholder-grey;
  }
  &:focus {
    outline: none;
  }
}
.user-login-form {
  .form-item {
    text-align: left;
  }
  .description {
    display: none;
  }
}

input[type='submit'] {
  @include button($white,$bright-blue);
  border: none;
}


// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .user-login-form,
  .user-register-form,
  .user-pass {
    @include span-columns(6);
    @include shift(3);
    float: none;
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
