// Default Styles (Mobile First!)
input[type="search"], textarea {
  -webkit-appearance: none;
  //background-color: bbv(main-white); // in case css variables are not supported
  //background-color: var(--color-background-default);
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  color: bbv(main-black); // in case css variables are not supported
  color: var(--color-text-primary);
  font-size: rem(16);
  font-weight: 600;
  height: rem(50);
  padding: rem(18) rem(50) rem(18) rem(22);
  width: 100%;
  &::-webkit-input-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &::-moz-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:-ms-input-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:-moz-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:focus {
    outline: 1px solid bbv(light-grey); // in case css variables are not supported
    outline: 1px solid var(--color-text-light);
  }
}

.js-facets-checkbox-links,
.js-form-type-checkbox {
  input {
    display: none;
  }
  label {
    color: bbv(dark-grey); // in case css variables are not supported
    color: var(--color-text-secondary);
    display: inline-block;
    font-size: rem(18);
    margin-bottom: rem(8);
    margin-left: 0;
    padding-left: rem(38);
    text-indent: rem(-38);
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    &::before {
      @include default-transition;
      border-radius: rem(1);
      border: 1px solid bbv(dark-grey); // in case css variables are not supported
      border: 1px solid var(--color-text-secondary);
      color: transparent;
      content: "✓";
      display: inline-block;
      font-size: rem(32);
      height: rem(24);
      left: 0;
      line-height: 1;
      margin-right: 2%;
      padding-left: 3px;
      position: relative;
      text-indent: rem(0);
      top: rem(1);
      width: rem(26);
      &:hover {
        cursor: pointer;
      }
    }
  }
  input[type="checkbox"]:checked + label::before {
    color: bbv(dark-grey); // in case css variables are not supported
    color: var(--color-text-secondary);
    text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5);
  }
}

label {
  color: bbv(dark-grey); // in case css variables are not supported
  color: var(--color-text-secondary);
  font-weight: 600;
  margin-bottom: rem(24);
}

input:focus {
  outline-color: bbv(light-grey); // in case css variables are not supported
  outline-color: var(--color-text-light);
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  background-color: bbv(main-white);
  border-radius: rem(3);
  border: 1px solid bbv(light-grey); // in case css variables are not supported
  border: 1px solid var(--color-text-light);
  box-sizing: border-box;
  color: bbv(main-black); // in case css variables are not supported
  color: var(--color-text-primary);
  font-size: rem(16);
  font-weight: 600;
  height: rem(50);
  padding: rem(18) rem(50) rem(18) rem(22);
  width: 100%;
  &::-webkit-input-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &::-moz-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:-ms-input-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:-moz-placeholder {
    color: bbv(placeholder-grey); // in case css variables are not supported
    color: var(--color-text-placeholder);
  }
  &:focus {
    outline: none;
  }
}
.user-login-form {
  .form-item {
    text-align: left;
  }
  .description {
    display: none;
  }
}

input[type='submit'] {
  @include button;
  background-color: bbv(bright-blue); // in case css variables are not supported
  background-color: var(--color-theme-primary-bright);
  color: bbv(main-white); // in case css variables are not supported
  color: var(--color-text-inverse);
  &:hover {
    background-color: #1c9db1; // in case css variables are not supported
    background-color: var(--color-theme-primary-bright-darken20);
  }
  border: none;
}

.region-content form {
  width: 95%;
  padding: 1rem;
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .region-content form {
    @include span-columns(6);
    @include shift(3);
    float: none;
    padding: 1rem;
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
