.block-hero {
  align-items: center;
  background-color: $soft-cyan;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 49vw; /* This sets the aspect ratio */
  justify-content: center;
  width: 100vw;
  @include mq(tablet) {
    height: 24vw;
  }
  @include mq(desktop) {
    height: 24vw;
  }
  h1, h2 {
    color: white;
    flex: 0 1 auto;
    font-size: rem(32);
    line-height: 1;
    margin-top: 0;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
    text-transform: uppercase;
    @include mq(tablet) {
      font-size: rem(60);
    }
    @include mq(desktop) {
      font-size: rem(60);
    }
  }
}
