.page-node-type-page .block-system-main-block {
  .field--name-bene-intro {
    float: none;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: none;

  }

  h2 {
    color: bbv(main-black); // in case css variables are not supported
    color: var(--color-text-primary);
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    margin-top: 0;

    @include mq(mobile) {
      font-size: rem(32);
    }
  }

  h3 {
    color: bbv(main-black); // in case css variables are not supported
    color: var(--color-text-primary);
    font-size: medium;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0;

    a {
      color: bbv(bright-blue); // in case css variables are not supported
      color: var(--color-theme-primary-bright);
    }
    a:hover {
      color: #0CC6E3; // in case css variables are not supported
      color: var(--color-theme-primary-bright-darken20);
    }
  }

  p {
    color: bbv(main-black); // in case css variables are not supported
    color: var(--color-text-primary);
    font-size: rem(18);
    font-weight: normal;
    line-height: normal;

    @include mq(mobile) {
      font-size: rem(20);
    }

    @include mq(desktop) {
      font-size: rem(24);
    }
  }

  blockquote {
    p {
      color: bbv(dark-grey); // in case css variables are not supported
      color: var(--color-text-accent);
      font-size: rem(24);
      float: none;
      font-style: normal;
    }
  }
}
