// Default Styles (Mobile First!)
.page-node-type-listing-page {

}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .page-node-type-listing-page {
    .block-system-main-block .field--name-bene-intro {
      font-size: rem(22);
      margin-bottom: rem(32);
      margin-top: rem(24);
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
