// Default Styles (Mobile First!)

.block-system-branding-block {
  text-align-last: center;
  font-style: italic;
  font-weight: 300;
  font-size: rem(18);
}
.mobile-menu-toggle {
  height: 50px;
  display: inline-block;
  float: right;
  width: 80px;
  div {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9999;
    top: -6px;
    span {
      background-color: $bright-blue;
      display: block;
      font-size: 0px;
      height: 6px;
      left: 25%;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      width: 43.76%;
      z-index: 9999;
      &:before,
      &:after {
        background: $bright-blue;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: transform 0.3s, background-color 0.3s;
        width: 100%;
        z-index: 9999;
      }
      &:after {
        transform: translateY(150%);
      }
    }
    &:hover span {
      background: $blue;
      &:before,
      &:after {
        background: $blue;
      }
    }
  }
  &.active {
    div span {
      background-color: transparent;
      &:before,
      &:after {
        background: $bright-blue;
        transition: transform 0.3s;
        transform: rotate(45deg) translateY(0);
      }
      &:after {
        transform: rotate(-45deg) translateY(0) ;
      }
    }
  }
}
.mobile-nav .menu {
  position: absolute;
  top: rem(101);
  left: 0;
  width: 100%;
  background-color: $black;
  a {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $bright-blue;
    padding: rem(25) rem(33);
    color: $bright-blue;
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem(18);
    position: relative;
    &:after {
      @include all-transition;
      background: transparent url('../images/svg/line-arrow.svg') no-repeat center center /cover;
      content: "";
      position: absolute;
      display: inline-block;
      right: rem(33);
      top: rem(25);
      width: rem(9);
      height: rem(19);
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .block-system-branding-block {
    min-width: rem(233);
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 99%;
      }
    }
  }
  .desktop-nav .menu-item {
    a {
      color: black;
      font-weight: 700;
      letter-spacing: rem(0.5);
      text-transform: uppercase;
      &:hover, &:active {
        color: $blue;
      }
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
