// Default Styles (Mobile First!)

.block-system-branding-block {
  font-size: rem(18);
  font-style: italic;
  font-weight: 300;
  text-align-last: center;
}
.mobile-menu-toggle {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px;
  div {
    height: 100%;
    position: relative;
    top: -6px;
    width: 100%;
    z-index: 9999;
    span {
      background-color: $bright-blue;
      display: block;
      font-size: 0px;
      height: 6px;
      left: 25%;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      width: 43.76%;
      z-index: 9999;
      &:before,
      &:after {
        background: $bright-blue;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: transform 0.3s, background-color 0.3s;
        width: 100%;
        z-index: 9999;
      }
      &:after {
        transform: translateY(150%);
      }
    }
    &:hover span {
      background: $blue;
      &:before,
      &:after {
        background: $blue;
      }
    }
  }
  &.active {
    div span {
      background-color: transparent;
      &:before,
      &:after {
        background: $bright-blue;
        transform: rotate(45deg) translateY(0);
        transition: transform 0.3s;
      }
      &:after {
        transform: rotate(-45deg) translateY(0) ;
      }
    }
  }
}
.mobile-nav {
  .region-primary-nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: $black;
    left: 0;
    position: absolute;
    top: rem(101);
    width: 100%;
    z-index: 10;
  }
  .menu a {
    border-bottom: 1px solid $bright-blue;
    color: $bright-blue;
    display: inline-block;
    font-size: rem(18);
    font-weight: 600;
    padding: rem(25) rem(33);
    position: relative;
    text-transform: uppercase;
    width: 100%;
    &:after {
      @include all-transition;
      background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover;
      content: "";
      display: inline-block;
      height: rem(19);
      position: absolute;
      right: rem(33);
      top: rem(25);
      width: rem(9);
    }
  }
}
.mobile-nav .menu--utility .menu li {
  a {
    font-size: rem(15);
    font-weight: 400;
    padding: rem(15) rem(33);
    &:after {
      top: rem(15);
    }
  }
  &:last-child a {
    background-color: $blue;
    color: $black;
    font-weight: 600;
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .block-system-branding-block {
    min-width: rem(233);
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 99%;
      }
    }
  }
  .desktop-nav .menu--utility .menu-item {
    a {
      color: $medium-grey;
      font-size: rem(14);
      &:hover, &:focus, &.is-active {
        color: $blue;
      }
    }
    &:last-child a {
      @include button($white,$bright-blue);
      font-size: rem(12);
      font-weight: 700;
      letter-spacing: 0;
      padding: rem(10) rem(15);
      top: 6px;
    }
  }
  .desktop-nav .menu--main .menu-item {
    a {
      color: $black;
      font-weight: 700;
      letter-spacing: rem(0.5);
      text-transform: uppercase;
      &:hover, &:focus, &.is-active {
        color: $blue;
      }
      &.is-active {
        cursor: default;
      }
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
