// Default Styles (Mobile First!)
.external-newsletter {
  padding: rem(12);
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4, p, a {
    max-width: 94%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    color: $white;
    margin: rem(6) 0;
  }
  a {
    color: $black;
    &:after {
      @include all-transition;
      content: ' →';
      display: inline-block;
      position: relative;
      left: rem(4);
    }
    &:hover:after {
      left: rem(8);
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
