.paragraph--type--tiles .field--name-field-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: rem(16) rem(16);

  @include mq(xl) {
    margin: rem(24) auto;
  }

  &> .field__item {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: rem(24);

    @include mq(phablet) {
      flex: 0 1 calc(50% - 1rem);
      min-width: rem(380);
    }

    @include mq(desktop) {
      flex: 0 1 calc(33% - 1rem);
      margin-bottom: rem(36);
      min-width: rem(300);
    }

    @include mq(xl) {
      margin-bottom: rem(48);
      max-width: rem(380);
    }

    .field--name-field-image,
    .bg-header {
      background-color: $blue;
      max-width: rem(380);
      max-height: rem(228);
      font-size: 0;
      img {
        max-width: 100%;
      }
    }
    @include mq(desktop) {
      .field--name-field-image,
      .bg-header {
        background-color: $blue;
        width: 30.6vw;
        height: 18.36vw;
      }
    }
    .field--name-field-title {
      font-size: rem(20);
      font-weight: 600;
      line-height: rem(30);
      margin-top: rem(28);
    }

    .field--name-field-text p {
      color: $dark-grey;
      line-height: rem(24);
      margin-bottom: rem(12);
      margin-top: rem(12);
    }

    .field--name-field-link a {
      font-size: rem(14);
      font-weight: 600;
      margin-top: rem(12);
      display: inline-block;
    }



  }
}
