@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

:root {
  --color-primary-a: #248BCB;
  --color-primary-b: #1E5375;
  --color-primary-c: #ffffff;
  --color-primary-d: #000000;
  --color-primary-e: #2d3332;
  --color-secondary-a: #E26436;
  --color-secondary-b: #C63E02;
  --color-secondary-c: #F2AF3F;
  --color-secondary-d: #DB830E;
  --color-secondary-e: #5FBA47;
  --font-family-primary: 'Open Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;
  --font-style-italic: italic;
  --font-style-normal: normal;
  --logo-height: 100px;
  --social-media-icon-height: 100px;
  --button-padding: 2rem;
  --input-height: 100px; }

/* ==============================
            BASE STYLING
   ============================== */
body {
  box-sizing: border-box;
  font-style:  normal;
  font-style: var(--font-style-normal );
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary ); }

h1, h2, h3, h4, h5, h6 {
  color:  #000000;
  color: var(--color-primary-d );
  margin: 1rem 0; }

h1 {
  font-size: 2rem;
  line-height: 2.5rem; }

h2 {
  font-size: 1.625rem;
  line-height: 2rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.625rem; }

h4 {
  font-size: 1rem;
  line-height: 1.375rem; }

a {
  color:  #F2AF3F;
  color: var(--color-secondary-c );
  cursor: pointer; }

a:hover, a:active, a:focus, .field--name-field-tiles .text-wrapper a .field--name-field-title:hover {
  color:  #DB830E;
  color: var(--color-secondary-d ); }

.button, .field--name-field-tiles .button-wrapper a {
  color:  #ffffff;
  color: var(--color-primary-c );
  background-color:  #F2AF3F;
  background-color: var(--color-secondary-c );
  border-radius: 100px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 12px 35px;
  text-transform: uppercase; }

.button:hover, .button:active, .button:focus, .field--name-field-tiles .button-wrapper a:hover, .field--name-field-tiles .button-wrapper a:active, .field--name-field-tiles .button-wrapper a:focus {
  background-color:  #DB830E;
  background-color: var(--color-secondary-d );
  color:  #ffffff;
  color: var(--color-primary-c ); }

p, p.standard, blockquote, .field--name-field-tiles .field__item .paragraph {
  font-size: 1rem;
  line-height: 2rem;
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary );
  color:  #000000;
  color: var(--color-primary-d ); }

ul li, ol li {
  font-size: 1rem;
  line-height: 2rem;
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary );
  color:  #000000;
  color: var(--color-primary-d ); }

table {
  border: solid 1px;
  border-color:  #F2AF3F;
  border-color: var(--color-secondary-c );
  border-collapse: collapse;
  border-spacing: 0;
  padding: 1em; }

thead th {
  background-color:  #F2AF3F;
  background-color: var(--color-secondary-c );
  color:  #ffffff;
  color: var(--color-primary-c );
  padding: 10px; }

tbody td {
  border-color:  #F2AF3F;
  border-color: var(--color-secondary-c );
  border: solid 1px;
  padding: 10px; }

/* ==============================
            Site Header
   ============================== */
.site-header {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  padding: 20px 10px;
  display: flex;
  min-height: 100px;
  position: relative; }

.site-header .inner {
  display: flex;
  flex: 1;
  margin: 0 auto; }

.site-header .logo-wrapper {
  align-items: center;
  display: flex;
  width: 100%; }

.site-header .desktop-nav, .site-header .mobile-nav .menu {
  display: none; }

.site-header .mobile-nav {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end; }

.site-header .menu li, .site-header .menu a {
  list-style: none;
  text-decoration: none;
  color:  #ffffff;
  color: var(--color-primary-c );
  text-transform: uppercase; }

.site-header .menu li:hover, .site-header .menu a:hover {
  list-style: none;
  text-decoration: none;
  color:  #F2AF3F;
  color: var(--color-secondary-c );
  text-transform: uppercase; }

.site-header #joinButton .menu-item {
  display: none; }
  .site-header #joinButton .menu-item:last-child {
    display: inline-block;
    background-color:  #F2AF3F;
    background-color: var(--color-secondary-c );
    border-radius: 100px;
    width: 100px;
    text-align: center; }

.site-header .mobile-menu-toggle, .site-header .mobile-menu-toggle.active {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px; }

.site-header .mobile-menu-toggle div, .site-header .mobile-menu-toggle.active div {
  height: 100%;
  position: relative;
  top: -12px;
  width: 100%;
  z-index: 9999; }

.site-header .mobile-menu-toggle span, .site-header .mobile-menu-toggle.active span {
  background-color:  #ffffff;
  background-color: var(--color-primary-c );
  display: block;
  height: 6px;
  left: 25%;
  position: absolute;
  top: 50%;
  transition: background-color 0.3s;
  width: 43.76%;
  z-index: 9999;
  cursor: pointer; }
  .site-header .mobile-menu-toggle span:before, .site-header .mobile-menu-toggle.active span:before, .site-header .mobile-menu-toggle span:after, .site-header .mobile-menu-toggle.active span:after {
    background:  #ffffff;
    background: var(--color-primary-c );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s, background-color 0.3s;
    width: 100%;
    z-index: 9999; }
  .site-header .mobile-menu-toggle span:after, .site-header .mobile-menu-toggle.active span:after {
    transform: translateY(150%); }

.site-header .mobile-menu-toggle.active span {
  background-color: transparent; }
  .site-header .mobile-menu-toggle.active span:before, .site-header .mobile-menu-toggle.active span:after {
    background:  #ffffff;
    background: var(--color-primary-c );
    transform: rotate(45deg) translateY(0);
    transition: transform 0.3s; }
  .site-header .mobile-menu-toggle.active span:after {
    transform: rotate(-45deg) translateY(0); }

.site-header .region-primary-nav {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 6.3125rem;
  z-index: 20; }

@media (min-width: 769px) {
  .site-header {
    min-height: 8.3125rem; }

  .site-header .mobile-nav {
    display: none; }

  .site-header .logo-wrapper {
    width: auto; }

  .site-header .desktop-nav {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; }

  .site-header .region-primary-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: static; }

  .site-header .region-primary-nav nav {
    flex: none;
    margin-right: 0.5em; }

  .site-header .menu {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 5px 0; }

  .site-header .menu-item {
    margin-left: 1.375rem; }

  .site-header .menu--main .menu-item:last-child a {
    background-color:  #F2AF3F;
    background-color: var(--color-secondary-c );
    border-radius: 100px;
    width: 100px;
    text-align: center;
    padding: 0.5rem 1.5rem; }

  .site-header #joinButton {
    display: none; } }
/* ==============================
        Home Page Feature
   ============================== */
/* ==============================
               Tiles
   ============================== */
.paragraph--type--tiles {
  background-color:  #2d3332;
  background-color: var(--color-primary-e ); }

.paragraph--type--tiles .field--name-field-title {
  color:  #ffffff;
  color: var(--color-primary-c );
  font-weight: bold;
  font-size: 2.625rem;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase; }

.field--name-field-tiles {
  max-width: 81.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20.625rem);
  grid-gap: 30px;
  justify-content: center;
  padding: 40px 0; }

.field--name-field-tiles .field__item {
  background-color:  #ffffff;
  background-color: var(--color-primary-c );
  border-bottom-right-radius: 100px;
  text-align: left; }

.field--name-field-tiles .tile-text {
  padding: 0 20px; }

.field--name-field-tiles .text-wrapper a .field--name-field-title {
  color:  #000000;
  color: var(--color-primary-d );
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem; }

.field--name-field-tiles .text-wrapper {
  min-height: 220px;
  margin-bottom: 20px; }

.field--name-field-tiles .field__item .field--name-field-image {
  position: relative;
  z-index: 100;
  height: auto; }

.field--name-field-tiles .field__item img {
  max-width: 100%; }

/* ==============================
          Events Page
   ============================== */
/* ==============================
            Updates Page
   ============================== */
/* ==============================
        Newsletter
   ============================== */
/* ==============================
            Site Footer
   ============================== */
.region-footer {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  display: none; }

/* BASE ELEMENT STYLES */
label {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: block; }

input {
  background-color: #f3f3f3;
  border-radius: 0;
  border: none;
  padding: 1rem; }

.js-form-item-select-list, .js-form-item-select-list-multi {
  display: none; }

.simple-styleguide--site-styles {
  max-width: 100%; }

.region-footer .bene-contact-links .fieldset-wrapper {
  display: flex;
  flex-direction: column; }

.block-bene-footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.625rem;
  margin-top: 1.5rem;
  padding: 0 2%;
  position: relative; }
  .block-bene-footer-block .menu {
    flex: 0 1 35%; }
  .block-bene-footer-block .contact-links {
    flex: 0 1 65%; }
  .block-bene-footer-block .additional-footer {
    flex: 0 1 100%; }
  .block-bene-footer-block div.social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    margin-top: 1.5rem; }
    .block-bene-footer-block div.social-links span {
      min-width: 25%;
      text-align: center; }
      .block-bene-footer-block div.social-links span a {
        margin-left: 0; }
  .block-bene-footer-block .copyright {
    bottom: -2rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center; }

@media (min-width: 769px) {
  .block-bene-footer-block .menu {
    flex: 0 1 20%; }
  .block-bene-footer-block .contact-links {
    flex: 0 1 20%; }
  .block-bene-footer-block .additional-footer {
    flex: 0 1 20%; }
  .block-bene-footer-block div.social-links {
    align-items: baseline;
    flex: 0 1 30%;
    margin-top: 0rem; }
    .block-bene-footer-block div.social-links span {
      min-width: 0; }
      .block-bene-footer-block div.social-links span a {
        margin-left: 0.625rem; }
  .block-bene-footer-block .copyright {
    bottom: 0;
    position: absolute;
    right: 2%;
    text-align: right; } }
@media (min-width: 1240px) {
  .block-bene-footer-block div.social-links {
    flex-wrap: nowrap;
    flex: 0 1 40%;
    justify-content: flex-end; } }
.site-header .mobile-nav .menu {
  text-align: center; }

.field--name-field-tiles .field__item .paragraph {
  overflow: hidden; }
.field--name-field-tiles .button-wrapper {
  margin-bottom: 30px; }
.field--name-field-tiles .text-wrapper a {
  text-decoration: none; }

/*# sourceMappingURL=bene-style.css.map */
