@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

:root {
  --color-primary-a: #248BCB;
  --color-primary-b: #1E5375;
  --color-primary-c: #ffffff;
  --color-primary-d: #000000;
  --color-primary-e: #2d3332;
  --color-secondary-a: #E26436;
  --color-secondary-b: #C63E02;
  --color-secondary-c: #F2AF3F;
  --color-secondary-d: #DB830E;
  --color-secondary-e: #5FBA47;
  --font-family-primary: 'Open Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;
  --font-style-italic: italic;
  --font-style-normal: normal;
  --logo-height: 100px;
  --social-media-icon-height: 2.25rem;
  --button-padding: 2rem;
  --input-height: 100px; }

/* ==============================
            BASE STYLING
   ============================== */
body {
  box-sizing: border-box;
  font-style:  normal;
  font-style: var(--font-style-normal );
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary ); }

h1, h2, h3, h4, h5, h6 {
  color:  #000000;
  color: var(--color-primary-d );
  margin: 1rem 0; }

h1 {
  font-size: 75px;
  line-height: 65px; }

h2 {
  font-size: 65px;
  line-height: 75px; }

h3 {
  font-size: 58px;
  line-height: 68px; }

h4 {
  font-size: 45px;
  line-height: 55px; }

h5 {
  font-size: 35px;
  line-height: 45px; }

@media (max-width: 414px) {
  h1 {
    font-size: 55px;
    line-height: 45px; }

  h2 {
    font-size: 45px;
    line-height: 55px; }

  h3 {
    font-size: 38px;
    line-height: 48px; }

  h4 {
    font-size: 30px;
    line-height: 40px; }

  h5 {
    font-size: 28px;
    line-height: 38px; } }
.block-bene-footer-block .menu-item:first-child a, a {
  color:  #F2AF3F;
  color: var(--color-secondary-c );
  cursor: pointer; }

.block-bene-footer-block .menu-item:first-child a, .block-bene-footer-block .menu-item a, .block-bene-footer-block .contact-links .phone a, .block-bene-footer-block .contact-links .email a, .block-bene-footer-block .contact-links .additional-contact a, a:hover, a:active, a:focus, .field--name-field-tiles .text-wrapper a .field--name-field-title:hover {
  color:  #DB830E;
  color: var(--color-secondary-d ); }

.block-bene-home-page-feature-block .field--name-bene-link a, .button, .page-node-type-page .field--name-bene-intro a.button, .field--name-field-tiles .button-wrapper a {
  color:  #ffffff;
  color: var(--color-primary-c );
  background-color:  #F2AF3F;
  background-color: var(--color-secondary-c );
  border-radius: 100px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 12px 35px;
  text-transform: uppercase; }

.block-bene-home-page-feature-block .field--name-bene-link a:hover, .block-bene-home-page-feature-block .field--name-bene-link a:focus, .block-bene-home-page-feature-block .field--name-bene-link a:active, .button:hover, .button:active, .button:focus, .page-node-type-page .field--name-bene-intro a.button:focus, .page-node-type-page .field--name-bene-intro a.button:hover, .page-node-type-page .field--name-bene-intro a.button:active, .field--name-field-tiles .button-wrapper a:hover, .field--name-field-tiles .button-wrapper a:active, .field--name-field-tiles .button-wrapper a:focus {
  background-color:  #DB830E;
  background-color: var(--color-secondary-d );
  color:  #ffffff;
  color: var(--color-primary-c ); }

p, p.standard, blockquote, .field--name-field-tiles .field__item .paragraph {
  font-size: 1rem;
  line-height: 2rem;
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary );
  color:  #000000;
  color: var(--color-primary-d ); }

ul li, ol li {
  font-size: 1rem;
  line-height: 2rem;
  font-family:  'Open Sans', sans-serif;
  font-family: var(--font-family-primary );
  color:  #000000;
  color: var(--color-primary-d ); }

table {
  border: solid 1px;
  border-color:  #F2AF3F;
  border-color: var(--color-secondary-c );
  border-collapse: collapse;
  border-spacing: 0;
  padding: 1em; }

thead th {
  background-color:  #F2AF3F;
  background-color: var(--color-secondary-c );
  color:  #ffffff;
  color: var(--color-primary-c );
  padding: 10px; }

tbody td {
  border-color:  #F2AF3F;
  border-color: var(--color-secondary-c );
  border: solid 1px;
  padding: 10px; }

/* ==============================
            Site Header
   ============================== */
.site-header {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  padding: 20px 10px;
  display: flex;
  min-height: 100px;
  position: relative; }

.site-header .inner {
  display: flex;
  flex: 1;
  margin: 0 auto; }

.site-header .logo-wrapper {
  align-items: center;
  display: flex;
  width: 100%; }

.site-header .desktop-nav, .site-header .mobile-nav .menu {
  display: none; }

.site-header .mobile-nav {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end; }

.site-header .menu li, .site-header .menu a {
  list-style: none;
  text-decoration: none;
  color:  #ffffff;
  color: var(--color-primary-c );
  text-transform: uppercase; }

.site-header .menu li:hover, .site-header .menu a:hover {
  list-style: none;
  text-decoration: none;
  color:  #F2AF3F;
  color: var(--color-secondary-c );
  text-transform: uppercase; }

.site-header #joinButton .menu-item {
  display: none; }
  .site-header #joinButton .menu-item:last-child {
    display: inline-block;
    background-color:  #F2AF3F;
    background-color: var(--color-secondary-c );
    border-radius: 100px;
    width: 100px;
    text-align: center; }

.site-header .mobile-menu-toggle, .site-header .mobile-menu-toggle.active {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px; }

.site-header .mobile-menu-toggle div, .site-header .mobile-menu-toggle.active div {
  height: 100%;
  position: relative;
  top: -12px;
  width: 100%;
  z-index: 9999; }

.site-header .mobile-menu-toggle span, .site-header .mobile-menu-toggle.active span {
  background-color:  #ffffff;
  background-color: var(--color-primary-c );
  display: block;
  height: 6px;
  left: 25%;
  position: absolute;
  top: 50%;
  transition: background-color 0.3s;
  width: 43.76%;
  z-index: 9999;
  cursor: pointer; }
  .site-header .mobile-menu-toggle span:before, .site-header .mobile-menu-toggle.active span:before, .site-header .mobile-menu-toggle span:after, .site-header .mobile-menu-toggle.active span:after {
    background:  #ffffff;
    background: var(--color-primary-c );
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s, background-color 0.3s;
    width: 100%;
    z-index: 9999; }
  .site-header .mobile-menu-toggle span:after, .site-header .mobile-menu-toggle.active span:after {
    transform: translateY(150%); }

.site-header .mobile-menu-toggle.active span {
  background-color: transparent; }
  .site-header .mobile-menu-toggle.active span:before, .site-header .mobile-menu-toggle.active span:after {
    background:  #ffffff;
    background: var(--color-primary-c );
    transform: rotate(45deg) translateY(0);
    transition: transform 0.3s; }
  .site-header .mobile-menu-toggle.active span:after {
    transform: rotate(-45deg) translateY(0); }

.site-header .region-primary-nav {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 6.3125rem;
  z-index: 20; }

@media (min-width: 769px) {
  .site-header {
    min-height: 8.3125rem; }

  .site-header .mobile-nav {
    display: none; }

  .site-header .logo-wrapper {
    width: auto; }

  .site-header .desktop-nav {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; }

  .site-header .region-primary-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: static; }

  .site-header .region-primary-nav nav {
    flex: none;
    margin-right: 0.5em; }

  .site-header .menu {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 5px 0; }

  .site-header .menu-item {
    margin-left: 1.375rem; }

  .site-header .menu--main .menu-item:last-child a {
    background-color:  #F2AF3F;
    background-color: var(--color-secondary-c );
    border-radius: 100px;
    width: 100px;
    text-align: center;
    padding: 0.5rem 1.5rem; }

  .site-header #joinButton {
    display: none; } }
/* ==============================
        Home Page Feature
   ============================== */
.block-bene-home-page-feature-block {
  background-color:  #2d3332;
  background-color: var(--color-primary-e );
  color:  #ffffff;
  color: var(--color-primary-c );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 8rem 1rem;
  position: relative; }
  .block-bene-home-page-feature-block:after {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79%);
    content: "";
    height: 100%;
    left: 0;
    opacity: .45;
    position: absolute;
    top: 0;
    width: 100%; }

@media (max-width: 414px) {
  .block-bene-home-page-feature-block {
    background-size: cover;
    background-position: center top;
    max-height: 33.6875rem; } }
@media (min-width: 769px) {
  .block-bene-home-page-feature-block {
    min-height: 31.25rem; } }
.block-bene-home-page-feature-block .field--name-bene-lead {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1; }

@media (max-width: 414px) {
  .block-bene-home-page-feature-block .field--name-bene-lead {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 7rem; } }
.block-bene-home-page-feature-block .field--name-bene-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  padding-top: 50px;
  z-index: 2;
  margin: 0 auto 50px auto;
  max-width: 56.25rem;
  position: relative; }

@media (max-width: 414px) {
  .block-bene-home-page-feature-block .field--name-bene-title {
    font-size: 40px;
    line-height: 45px; } }
@media (min-width: 415px) and (max-width: 768px) {
  .block-bene-home-page-feature-block .field--name-bene-title {
    font-size: 40px;
    line-height: 45px; } }
.block-bene-home-page-feature-block .field--name-bene-link {
  position: relative;
  z-index: 1; }

.block-bene-home-page-feature-block .field--name-bene-link a {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem; }

/* ==============================
               Tiles
   ============================== */
.paragraph--type--tiles {
  background-color:  #2d3332;
  background-color: var(--color-primary-e ); }

.paragraph--type--tiles .field--name-field-title {
  color:  #ffffff;
  color: var(--color-primary-c );
  font-weight: bold;
  font-size: 2.625rem;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase; }

.field--name-field-tiles {
  max-width: 81.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20.625rem);
  grid-gap: 30px;
  justify-content: center;
  padding: 40px 0; }

.field--name-field-tiles .field__item {
  background-color:  #ffffff;
  background-color: var(--color-primary-c );
  border-bottom-right-radius: 100px;
  text-align: left; }

.field--name-field-tiles .tile-text {
  padding: 0 20px; }

.field--name-field-tiles .text-wrapper a .field--name-field-title {
  color:  #000000;
  color: var(--color-primary-d );
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem; }

.field--name-field-tiles .text-wrapper {
  min-height: 220px;
  margin-bottom: 20px; }

.field--name-field-tiles .field__item .field--name-field-image {
  position: relative;
  z-index: 100;
  height: auto; }

.field--name-field-tiles .field__item img {
  max-width: 100%; }

/* ==============================
         Rich Text - Intro
   ============================== */
.page-node-type-page .field--name-bene-intro {
  color:  #000000;
  color: var(--color-primary-d );
  padding: 25px 0; }

.page-node-type-page .field--name-bene-intro h1, .page-node-type-page .field--name-bene-intro h2, .page-node-type-page .field--name-bene-intro h3, .page-node-type-page .field--name-bene-intro h4, .page-node-type-page .field--name-bene-intro h5, .page-node-type-page .field--name-bene-intro h6 {
  margin: 30px 0; }

.page-node-type-page .field--name-bene-intro a {
  color:  #000000;
  color: var(--color-primary-d );
  text-decoration: none;
  font-weight: bold; }

.page-node-type-page .field--name-bene-intro p {
  color:  #248BCB;
  color: var(--color-primary-a );
  padding: 0 100px;
  margin-bottom: 35px; }

/* ==============================
            Updates Page
   ============================== */
/* ==============================
        Newsletter
   ============================== */
/* ==============================
            Site Footer
   ============================== */
.block-bene-footer-block {
  background-color:  #2d3332;
  background-color: var(--color-primary-e ); }

.block-bene-footer-block {
  padding: 2rem 5%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between; }

.block-bene-footer-block .menu {
  margin: 0; }

@media (min-width: 769px) {
  .block-bene-footer-block .menu {
    flex: 0 1 20%; } }
.block-bene-footer-block .menu-item {
  line-height: 1.8rem;
  padding: 0; }

.block-bene-footer-block .menu-item a, .block-bene-footer-block .contact-links .phone a, .block-bene-footer-block .contact-links .email a, .block-bene-footer-block .contact-links .additional-contact a {
  color:  #ffffff;
  color: var(--color-primary-c );
  font-size: 12px;
  text-decoration: none; }

.block-bene-footer-block .contact-links {
  color:  #ffffff;
  color: var(--color-primary-c );
  line-height: 1.8rem;
  font-size: 12px;
  padding-left: 10%;
  flex: 0 1 65%; }

@media (min-width: 769px) {
  .block-bene-footer-block .contact-links {
    flex: 0 1 20%; } }
.block-bene-footer-block .contact-links .address {
  white-space: pre-line; }

.block-bene-footer-block .contact-links .phone a, .block-bene-footer-block .contact-links .email a, .block-bene-footer-block .contact-links .additional-contact a {
  display: block; }

.block-bene-footer-block .social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  margin-top: 1.5rem; }

@media (min-width: 769px) {
  .block-bene-footer-block .social-links {
    flex: 0 1 30%;
    align-items: baseline;
    margin-top: 0; } }
@media (max-width: 414px) {
  .block-bene-footer-block .social-links {
    margin: 50px 15%; } }
.block-bene-footer-block .social-links span {
  min-width: 25%;
  text-align: center;
  display: inline-block; }

@media (min-width: 769px) {
  .block-bene-footer-block .social-links span {
    min-width: 0; } }
@media (min-width: 415px) and (max-width: 768px) {
  .block-bene-footer-block .social-links span {
    min-width: 10%; } }
.block-bene-footer-block .social-links a {
  margin-left: 0;
  border-radius: 0%;
  background-color:  #ffffff;
  background-color: var(--color-primary-c );
  height:  2.25rem;
  height: var(--social-media-icon-height );
  width:  2.25rem;
  width: var(--social-media-icon-height );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 62% 62%;
  border: 0.0625rem solid;
  border-color:  #ffffff;
  border-color: var(--color-primary-c );
  padding: 1rem;
  position: relative;
  font-size: 0; }

@media (min-width: 769px) {
  .block-bene-footer-block .social-links a {
    margin-left: 0.625rem; } }
@media (min-width: 415px) and (max-width: 768px) {
  .block-bene-footer-block .social-links a {
    margin-left: 10px; } }
.block-bene-footer-block .social-links .facebook {
  background-image: url(../images/svgs/facebook-f.svg); }

.block-bene-footer-block .social-links .instagram {
  background-image: url(../images/svgs/instagram.svg); }

.block-bene-footer-block .social-links .linkedin {
  background-image: url(../images/svgs/linkedin.svg); }

.block-bene-footer-block .social-links .twitter {
  background-image: url(../images/svgs/twitter.svg); }

.block-bene-footer-block .copyright {
  color:  #ffffff;
  color: var(--color-primary-c );
  width: 100%;
  text-align: center;
  margin: 0 10%;
  line-height: 1.8rem;
  font-size: 12px; }

@media (min-width: 769px) and (max-width: 1239px) {
  .block-bene-footer-block .copyright {
    position: absolute;
    bottom: 6rem;
    right: -5%;
    text-align: right; } }
@media (min-width: 415px) and (max-width: 768px) {
  .block-bene-footer-block .copyright {
    margin-top: 20px;
    bottom: 6rem; } }
/* BASE ELEMENT STYLES */
label {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: block; }

input {
  background-color: #f3f3f3;
  border-radius: 0;
  border: none;
  padding: 1rem; }

.js-form-item-select-list, .js-form-item-select-list-multi {
  display: none; }

.simple-styleguide--site-styles {
  max-width: 100%; }

.site-header .mobile-nav .menu {
  text-align: center; }

.field--name-field-tiles .field__item .paragraph {
  overflow: hidden; }
.field--name-field-tiles .button-wrapper {
  margin-bottom: 30px; }
.field--name-field-tiles .text-wrapper a {
  text-decoration: none; }

/*# sourceMappingURL=bene-style.css.map */
