.DS_Store
.idea
vendor/
.sass-cache/

node_modules
modules/*
core

benefit.css.map

# Don't ignore bene modules/features
# This doesn't work for new files. Force add them using git add -f
!modules/bene_*
modules/bene_media