@charset "UTF-8";
:root {
  --color-theme-primary: #129FB5;
  --color-theme-primary-darken20: darken(#129FB5, 20%);
  --color-theme-primary-lighten20: lighten(#129FB5, 20%);
  --color-theme-primary-bright: #50CFE3;
  --color-theme-primary-bright-darken20: darken(#50CFE3, 20%);
  --color-theme-primary-bright-lighten20: lighten(#50CFE3, 20%);
  --color-text-primary: black;
  --color-text-secondary: #5C5B5B;
  --color-text-placeholder: #979797;
  --color-text-medium-dark: #7C7C7C;
  --color-text-inverse: white;
  --color-text-light: #D8D8D8;
  --color-text-link: black;
  --color-background-default: white;
  --color-background-lightest: #D8D8D8;
  --color-background-darker: #5C5B5B;
  --color-background-darkest: black;
  --social-icon-color: #50CFE3;
  --social-icon-color-darken20: #1C9DB1;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-menu-primary: 'bold'; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
  * Fonts
  * Open+Sans:300,300i,400,600,700,800
  *
  * light: 300
  * light italic: 300 + style: italic
  * regular:      400
  * semi-bold:    600
  * bold:         700
  * extrabold:    800
  *
  **/
/* Turns off the element-invisible effect. */
/* Makes an element visually hidden by default, but visible when focused. */
/* Undo clearfix. Apply to .clearfix:after */
/* Ensure parent has position: relative; */
/* Default transition */
/* All transition */
/* Buttons */
/* BASE ELEMENT STYLES */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  /* Fix the character spacing for headings */ }

h1 {
  font-size: 3rem;
  line-height: 3.875rem;
  font-weight: 800; }

h2 {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 400; }

h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600; }

h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700; }

p,
p.standard {
  color: var(--color-text-primary);
  font-size: 1rem;
  line-height: 1.9375rem;
  font-weight: 400; }

a {
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
  color: var(--color-theme-primary);
  cursor: pointer;
  text-decoration: none; }
  a:hover, a:active, a.nice-select.open {
    color: var(--color-theme-primary-lighten20); }

table a,
li a,
p a {
  color: var(--color-theme-primary); }
  table a:hover, table a:active, table a.nice-select.open,
  li a:hover,
  li a:active,
  li a.nice-select.open,
  p a:hover,
  p a:active,
  p a.nice-select.open {
    color: var(--color-theme-primary-lighten20); }

a.button {
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
  border-radius: 0.1875rem;
  font-weight: 800;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 1.25rem 1.875rem;
  position: relative;
  text-transform: uppercase; }

/* List bullets in content. */
.text-formatted ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0; }
  .text-formatted ul li {
    padding-bottom: 0.875rem;
    padding-left: 2rem;
    text-indent: -1.25rem;
    color: var(--color-text-primary); }
    .text-formatted ul li:before {
      color: var(--color-text-primary);
      content: "•";
      font-size: 1rem;
      line-height: 1;
      padding-right: 0.875rem;
      position: relative; }

ol {
  padding-left: 1.625rem; }
  ol li {
    padding-bottom: 0.875rem;
    padding-left: 0.375rem;
    line-height: 1.4;
    font-size: 1rem;
    color: var(--color-text-primary); }

table, table.tablesaw {
  border: 1px solid var(--color-text-light);
  margin: 1.5rem 0;
  table-layout: auto; }
  table th, table tr, table td, table tr:first-child th, table.tablesaw th, table.tablesaw tr, table.tablesaw td, table.tablesaw tr:first-child th {
    border: none;
    color: var(--color-text-medium-dark);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1.125rem 2.625rem;
    text-align: left; }
    table th strong, table tr strong, table td strong, table tr:first-child th strong, table.tablesaw th strong, table.tablesaw tr strong, table.tablesaw td strong, table.tablesaw tr:first-child th strong {
      font-weight: 600; }
  table th, table tr:first-child th, table.tablesaw th, table.tablesaw tr:first-child th {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-medium-dark);
    font-size: 0.875rem;
    margin: 0; }
  table tr, table.tablesaw tr {
    background-color: var(--color-background-default); }
  table th, table tr:nth-of-type(2n), table.tablesaw th, table.tablesaw tr:nth-of-type(2n) {
    background-color: var(--color-background-lightest); }

ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: left; }
  ul.menu .menu-item {
    padding: 0; }

fieldset {
  border: none;
  padding: 0; }
  fieldset legend {
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--color-text-secondary); }

/* END BASE ELEMENT STYLES */
.region-footer .bene-contact-links .fieldset-wrapper {
  display: flex;
  flex-direction: column; }

.block-bene-footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.625rem;
  margin-top: 1.5rem;
  padding: 0 2%;
  position: relative; }
  .block-bene-footer-block .menu {
    flex: 0 1 35%; }
  .block-bene-footer-block .contact-links {
    flex: 0 1 65%; }
  .block-bene-footer-block .additional-footer {
    flex: 0 1 100%; }
  .block-bene-footer-block div.social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    margin-top: 1.5rem; }
    .block-bene-footer-block div.social-links span {
      min-width: 25%;
      text-align: center; }
      .block-bene-footer-block div.social-links span a {
        margin-left: 0; }
  .block-bene-footer-block .copyright {
    bottom: -2rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center; }

@media (min-width: 769px) {
  .block-bene-footer-block .menu {
    flex: 0 1 20%; }
  .block-bene-footer-block .contact-links {
    flex: 0 1 20%; }
  .block-bene-footer-block .additional-footer {
    flex: 0 1 20%; }
  .block-bene-footer-block div.social-links {
    align-items: baseline;
    flex: 0 1 30%;
    margin-top: 0rem; }
    .block-bene-footer-block div.social-links span {
      min-width: 0; }
      .block-bene-footer-block div.social-links span a {
        margin-left: 0.625rem; }
  .block-bene-footer-block .copyright {
    bottom: 0;
    position: absolute;
    right: 2%;
    text-align: right; } }
@media (min-width: 1240px) {
  .block-bene-footer-block div.social-links {
    flex-wrap: nowrap;
    flex: 0 1 40%;
    justify-content: flex-end; } }
.site-header {
  display: flex;
  min-height: 101px; }
  .site-header .logo-wrapper {
    align-items: center;
    display: flex; }
  .site-header .desktop-nav,
  .site-header .mobile-nav .menu {
    display: none; }
  .site-header .mobile-nav {
    align-items: center;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end; }

@media (min-width: 769px) {
  .site-header {
    min-height: 8.3125rem; }
    .site-header .mobile-nav {
      display: none; }
    .site-header .desktop-nav {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding-bottom: 2.0625rem; }
      .site-header .desktop-nav .region-primary-nav {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .site-header .desktop-nav .region-primary-nav nav {
          flex: 1 1 50%; }
      .site-header .desktop-nav .menu {
        align-items: flex-end;
        display: flex;
        height: 100%;
        justify-content: flex-end; }
        .site-header .desktop-nav .menu .menu-item {
          margin-left: 1.375rem; } }
@media (min-width: 1240px) {
  .site-header .desktop-nav .menu .menu-item {
    margin-left: 2.25rem; } }
.inner {
  display: flex;
  flex: 1;
  margin: 0 auto;
  max-width: 77.5rem; }

#site-wrapper {
  margin: 0 auto;
  position: relative; }

#page,
.site-header,
.site-content,
.site-footer,
.homepage-hero {
  width: 100%; }

#site-wrapper > header,
.site_branding,
.region-content,
.region-footer {
  max-width: 112.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }
  #site-wrapper > header::after,
  .site_branding::after,
  .region-content::after,
  .region-footer::after {
    clear: both;
    content: "";
    display: table; }

.site-header {
  padding: 0 2%; }

.page-node-type-page .region-content,
.page-node-type-listing-page .region-content,
.page-node-type-event .region-content,
.page-node-type-news .region-content {
  margin-bottom: 2rem; }
  @media (min-width: 769px) {
    .page-node-type-page .region-content,
    .page-node-type-listing-page .region-content,
    .page-node-type-event .region-content,
    .page-node-type-news .region-content {
      margin-bottom: 3rem; } }
.page-node-type-page .block-system-main-block .field--name-bene-intro,
.page-node-type-page .field--name-bene-content .paragraph--type--rich-text,
.page-node-type-page .block-system-main-block .field--name-bene-event-date-range,
.page-node-type-page .block-system-main-block .field--name-bene-event-location,
.page-node-type-listing-page .block-system-main-block .field--name-bene-intro,
.page-node-type-listing-page .field--name-bene-content .paragraph--type--rich-text,
.page-node-type-listing-page .block-system-main-block .field--name-bene-event-date-range,
.page-node-type-listing-page .block-system-main-block .field--name-bene-event-location,
.page-node-type-event .block-system-main-block .field--name-bene-intro,
.page-node-type-event .field--name-bene-content .paragraph--type--rich-text,
.page-node-type-event .block-system-main-block .field--name-bene-event-date-range,
.page-node-type-event .block-system-main-block .field--name-bene-event-location,
.page-node-type-news .block-system-main-block .field--name-bene-intro,
.page-node-type-news .field--name-bene-content .paragraph--type--rich-text,
.page-node-type-news .block-system-main-block .field--name-bene-event-date-range,
.page-node-type-news .block-system-main-block .field--name-bene-event-location {
  clear: both;
  padding: 0 2%; }
  @media (min-width: 769px) {
    .page-node-type-page .block-system-main-block .field--name-bene-intro,
    .page-node-type-page .field--name-bene-content .paragraph--type--rich-text,
    .page-node-type-page .block-system-main-block .field--name-bene-event-date-range,
    .page-node-type-page .block-system-main-block .field--name-bene-event-location,
    .page-node-type-listing-page .block-system-main-block .field--name-bene-intro,
    .page-node-type-listing-page .field--name-bene-content .paragraph--type--rich-text,
    .page-node-type-listing-page .block-system-main-block .field--name-bene-event-date-range,
    .page-node-type-listing-page .block-system-main-block .field--name-bene-event-location,
    .page-node-type-event .block-system-main-block .field--name-bene-intro,
    .page-node-type-event .field--name-bene-content .paragraph--type--rich-text,
    .page-node-type-event .block-system-main-block .field--name-bene-event-date-range,
    .page-node-type-event .block-system-main-block .field--name-bene-event-location,
    .page-node-type-news .block-system-main-block .field--name-bene-intro,
    .page-node-type-news .field--name-bene-content .paragraph--type--rich-text,
    .page-node-type-news .block-system-main-block .field--name-bene-event-date-range,
    .page-node-type-news .block-system-main-block .field--name-bene-event-location {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      margin-left: 17.0596085997%; }
      .page-node-type-page .block-system-main-block .field--name-bene-intro:last-child,
      .page-node-type-page .field--name-bene-content .paragraph--type--rich-text:last-child,
      .page-node-type-page .block-system-main-block .field--name-bene-event-date-range:last-child,
      .page-node-type-page .block-system-main-block .field--name-bene-event-location:last-child,
      .page-node-type-listing-page .block-system-main-block .field--name-bene-intro:last-child,
      .page-node-type-listing-page .field--name-bene-content .paragraph--type--rich-text:last-child,
      .page-node-type-listing-page .block-system-main-block .field--name-bene-event-date-range:last-child,
      .page-node-type-listing-page .block-system-main-block .field--name-bene-event-location:last-child,
      .page-node-type-event .block-system-main-block .field--name-bene-intro:last-child,
      .page-node-type-event .field--name-bene-content .paragraph--type--rich-text:last-child,
      .page-node-type-event .block-system-main-block .field--name-bene-event-date-range:last-child,
      .page-node-type-event .block-system-main-block .field--name-bene-event-location:last-child,
      .page-node-type-news .block-system-main-block .field--name-bene-intro:last-child,
      .page-node-type-news .field--name-bene-content .paragraph--type--rich-text:last-child,
      .page-node-type-news .block-system-main-block .field--name-bene-event-date-range:last-child,
      .page-node-type-news .block-system-main-block .field--name-bene-event-location:last-child {
        margin-right: 0; } }
.page-node-type-page .paragraph--type--media .media-instagram,
.page-node-type-page .paragraph--type--media .media-tweet,
.page-node-type-page .paragraph--type--media .media-video,
.page-node-type-listing-page .paragraph--type--media .media-instagram,
.page-node-type-listing-page .paragraph--type--media .media-tweet,
.page-node-type-listing-page .paragraph--type--media .media-video,
.page-node-type-event .paragraph--type--media .media-instagram,
.page-node-type-event .paragraph--type--media .media-tweet,
.page-node-type-event .paragraph--type--media .media-video,
.page-node-type-news .paragraph--type--media .media-instagram,
.page-node-type-news .paragraph--type--media .media-tweet,
.page-node-type-news .paragraph--type--media .media-video {
  clear: both;
  padding: 0 2%; }
  @media (min-width: 769px) {
    .page-node-type-page .paragraph--type--media .media-instagram,
    .page-node-type-page .paragraph--type--media .media-tweet,
    .page-node-type-page .paragraph--type--media .media-video,
    .page-node-type-listing-page .paragraph--type--media .media-instagram,
    .page-node-type-listing-page .paragraph--type--media .media-tweet,
    .page-node-type-listing-page .paragraph--type--media .media-video,
    .page-node-type-event .paragraph--type--media .media-instagram,
    .page-node-type-event .paragraph--type--media .media-tweet,
    .page-node-type-event .paragraph--type--media .media-video,
    .page-node-type-news .paragraph--type--media .media-instagram,
    .page-node-type-news .paragraph--type--media .media-tweet,
    .page-node-type-news .paragraph--type--media .media-video {
      margin-left: 17.05961%;
      margin-top: 3rem;
      max-width: 65.88078%; } }
.page-node-type-page .paragraph--type--media .media-instagram > div,
.page-node-type-page .paragraph--type--media .media-tweet > div,
.page-node-type-listing-page .paragraph--type--media .media-instagram > div,
.page-node-type-listing-page .paragraph--type--media .media-tweet > div,
.page-node-type-event .paragraph--type--media .media-instagram > div,
.page-node-type-event .paragraph--type--media .media-tweet > div,
.page-node-type-news .paragraph--type--media .media-instagram > div,
.page-node-type-news .paragraph--type--media .media-tweet > div {
  align-items: center;
  display: flex;
  justify-content: center; }
.page-node-type-page .field--name-bene-content .paragraph--type--media,
.page-node-type-page .field--name-bene-content .paragraph--type--feature-full-width,
.page-node-type-page .field--name-bene-content .paragraph--type--tiles,
.page-node-type-listing-page .field--name-bene-content .paragraph--type--media,
.page-node-type-listing-page .field--name-bene-content .paragraph--type--feature-full-width,
.page-node-type-listing-page .field--name-bene-content .paragraph--type--tiles,
.page-node-type-event .field--name-bene-content .paragraph--type--media,
.page-node-type-event .field--name-bene-content .paragraph--type--feature-full-width,
.page-node-type-event .field--name-bene-content .paragraph--type--tiles,
.page-node-type-news .field--name-bene-content .paragraph--type--media,
.page-node-type-news .field--name-bene-content .paragraph--type--feature-full-width,
.page-node-type-news .field--name-bene-content .paragraph--type--tiles {
  clear: both; }
.page-node-type-page .paragraph--type--tiles,
.page-node-type-listing-page .paragraph--type--tiles,
.page-node-type-event .paragraph--type--tiles,
.page-node-type-news .paragraph--type--tiles {
  max-width: 112.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem; }
  .page-node-type-page .paragraph--type--tiles::after,
  .page-node-type-listing-page .paragraph--type--tiles::after,
  .page-node-type-event .paragraph--type--tiles::after,
  .page-node-type-news .paragraph--type--tiles::after {
    clear: both;
    content: "";
    display: table; }

.page-node-type-listing-page .views-element-container {
  clear: both;
  padding: 0 2%; }
  @media (min-width: 769px) {
    .page-node-type-listing-page .views-element-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 82.9403914003%;
      margin-left: 8.5298042998%; }
      .page-node-type-listing-page .views-element-container:last-child {
        margin-right: 0; }
      .page-node-type-listing-page .views-element-container .view-bene-events {
        display: flex;
        flex-direction: row; }
        .page-node-type-listing-page .views-element-container .view-bene-events .view-filters {
          flex: 1 1 25%; }
        .page-node-type-listing-page .views-element-container .view-bene-events .view-content {
          flex: 1 1 73%;
          margin-left: 2%; } }

body.path-user .region.region-content,
body.user-logged-in .region.region-content {
  background-color: var(--color-background-default);
  display: inline-block;
  width: 100%; }

.toolbar .toolbar-bar {
  position: fixed; }

.user-logged-in div.messages {
  bottom: 0;
  cursor: pointer;
  left: 1px;
  position: fixed;
  z-index: 1000; }
  .user-logged-in div.messages:after {
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    border-radius: 50%;
    box-shadow: -1px 2px 5px #77b259;
    color: #325e1c;
    content: "×";
    display: inline-block;
    font-size: 1.125rem;
    padding: 0.125rem 0.375rem;
    position: absolute;
    right: -0.8125rem;
    text-transform: uppercase;
    top: -0.8125rem; }
.user-logged-in .contextual-links {
  background-color: var(--color-background-default);
  border-radius: 4px 0 4px 4px;
  border: 1px solid #ccc;
  clear: both;
  float: right;
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  right: 6px;
  text-align: left;
  top: -1px;
  white-space: nowrap; }
  .user-logged-in .contextual-links li {
    background-color: var(--color-background-default);
    border: none;
    line-height: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
    .user-logged-in .contextual-links li a {
      background-color: var(--color-background-default);
      color: #333;
      display: block;
      font-family: sans-serif;
      font-size: small;
      line-height: 0.8em;
      margin: 0.25em 0;
      padding: 0.4em 0.6em; }
.user-logged-in .footer {
  padding-bottom: 3.125rem; }
.user-logged-in #block-bene-child-local-tasks {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: var(--color-background-darkest);
  bottom: 0;
  height: auto;
  padding-right: 45px;
  position: fixed;
  right: -90%;
  width: 90%;
  z-index: 1000; }
  @media (min-width: 769px) {
    .user-logged-in #block-bene-child-local-tasks {
      right: -55%;
      width: 55%; } }
  .user-logged-in #block-bene-child-local-tasks ul.tabs {
    margin: 0; }
  .user-logged-in #block-bene-child-local-tasks li {
    background-color: var(--color-background-default); }
    .user-logged-in #block-bene-child-local-tasks li a {
      background-color: var(--color-theme-primary);
      border: none;
      color: white;
      display: inline-block;
      font-size: 0.9375rem;
      font-weight: 800;
      padding: 0.3125rem 0.625rem 0.3125rem;
      text-transform: uppercase; }
      @media (min-width: 769px) {
        .user-logged-in #block-bene-child-local-tasks li a {
          font-size: 1.125rem;
          padding: 0.4375rem 1.25rem 0.4375rem; } }
      .user-logged-in #block-bene-child-local-tasks li a:hover {
        background-color: var(--color-theme-primary-darken20); }
      .user-logged-in #block-bene-child-local-tasks li a.is-active {
        background-color: var(--color-theme-primary-bright); }
  .user-logged-in #block-bene-child-local-tasks .show-hide {
    background-color: var(--color-background-darkest);
    cursor: pointer;
    font-size: 2.1875rem;
    height: 1.875rem;
    left: -1.875rem;
    line-height: 1.375rem;
    padding: 0 0.5rem 0 0.5625rem;
    position: absolute;
    width: 1.875rem; }
    @media (min-width: 769px) {
      .user-logged-in #block-bene-child-local-tasks .show-hide {
        height: 2.375rem;
        line-height: 2.375rem; } }
    .user-logged-in #block-bene-child-local-tasks .show-hide span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear;
      background: transparent url("../images/svgs/line-arrow.svg") no-repeat center center/cover !important;
      display: inline-block;
      height: 0.9375rem;
      width: 0.75rem; }
      @media (min-width: 769px) {
        .user-logged-in #block-bene-child-local-tasks .show-hide span {
          height: 1.5625rem; } }
  .user-logged-in #block-bene-child-local-tasks.active {
    right: 0; }
    .user-logged-in #block-bene-child-local-tasks.active .show-hide span {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }

.page-node-type-page .field--name-bene-content {
  clear: both; }

@media (min-width: 769px) {
  .page-node-type-page .block-system-main-block .field--name-bene-intro {
    font-size: 1.375rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem; } }
.block-hero {
  position: relative;
  background-color: var(--color-theme-primary-bright); }
  .block-hero h1 {
    font-size: 3.125rem;
    padding: 0 1rem;
    text-shadow: none;
    text-transform: none;
    z-index: 1; }
    @media (max-width: 414px) {
      .block-hero h1 {
        flex: 0 1 100%;
        text-align: left;
        font-size: 2rem; } }
    @media (min-width: 769px) and (max-width: 1239px) {
      .block-hero h1 {
        flex: inherit;
        font-size: 3.125rem; } }
    @media (min-width: 769px) {
      .block-hero h1 {
        flex: inherit;
        font-size: 3.125rem; } }

.page-node-type-event .field--name-bene-content {
  clear: both; }
.page-node-type-event .field--name-bene-event-date-range {
  margin-bottom: 2rem;
  margin-top: 1.5rem; }
  .page-node-type-event .field--name-bene-event-date-range time {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 0.75rem; }
    @media (min-width: 769px) {
      .page-node-type-event .field--name-bene-event-date-range time {
        font-size: 1.375rem;
        line-height: 2.375rem; } }
.page-node-type-event .field--name-bene-event-location p.address {
  line-height: 1.3;
  margin-top: 0; }

@media (min-width: 769px) {
  .page-node-type-event .block-system-main-block .field--name-bene-intro {
    font-size: 1.375rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem; } }
.field--name-bene-intro {
  margin-bottom: 1.5rem;
  margin-top: 1rem; }
  .field--name-bene-intro h2 {
    color: var(--color-theme-primary-bright);
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 2rem; }
  .field--name-bene-intro h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1.125rem; }
  .field--name-bene-intro p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    margin-top: 0.75rem; }
    @media (min-width: 769px) {
      .field--name-bene-intro p {
        font-size: 1.375rem;
        line-height: 2.375rem; } }

.block-bene-footer-block {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .block-bene-footer-block .menu a {
    color: var(--color-text-primary);
    font-size: 0.875rem;
    font-weight: 600; }
    .block-bene-footer-block .menu a:hover, .block-bene-footer-block .menu a:focus, .block-bene-footer-block .menu a.is-active {
      color: var(--color-theme-primary); }
  .block-bene-footer-block .menu .menu-item {
    line-height: 1.875rem; }
    .block-bene-footer-block .menu .menu-item a {
      fontsize: 1rem; }
      .block-bene-footer-block .menu .menu-item a:hover, .block-bene-footer-block .menu .menu-item a:focus, .block-bene-footer-block .menu .menu-item a.is-active {
        color: var(--color-theme-primary); }
  .block-bene-footer-block .copyright,
  .block-bene-footer-block .contact-links,
  .block-bene-footer-block .contact-links .additional-contact p,
  .block-bene-footer-block .contact-links .additional-footer p {
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5625rem; }
  .block-bene-footer-block .contact-links {
    font-size: 0.8125rem; }
    .block-bene-footer-block .contact-links .address {
      white-space: pre-line; }
    .block-bene-footer-block .contact-links .phone, .block-bene-footer-block .contact-links .email, .block-bene-footer-block .contact-links .additional-contact {
      display: block; }
      .block-bene-footer-block .contact-links .phone p, .block-bene-footer-block .contact-links .email p, .block-bene-footer-block .contact-links .additional-contact p {
        font-size: 0.75rem;
        margin: 0.3125rem 0; }
  .block-bene-footer-block .additional-footer p {
    font-size: 0.875rem;
    margin: 0 0.3125rem 0; }
  .block-bene-footer-block .social-links a {
    background-color: var(--social-icon-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 62% 62%;
    border: 0.0625rem solid var(--social-icon-color);
    border-radius: 50%;
    display: inline-block;
    height: 2.5rem;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
    padding: 1rem;
    position: relative;
    text-indent: -9999px;
    width: 2.5rem; }
    .block-bene-footer-block .social-links a:hover, .block-bene-footer-block .social-links a:focus, .block-bene-footer-block .social-links a:active, .block-bene-footer-block .social-links a.nice-select.open {
      background-color: var(--social-icon-color-darken20); }
  .block-bene-footer-block .social-links .facebook {
    background-image: url("../images/svgs/facebook-f.svg"); }
  .block-bene-footer-block .social-links .google {
    background-image: url("../images/svgs/google-plus.svg"); }
  .block-bene-footer-block .social-links .instagram {
    background-image: url("../images/svgs/instagram.svg"); }
  .block-bene-footer-block .social-links .linkedin {
    background-image: url("../images/svgs/linkedin.svg"); }
  .block-bene-footer-block .social-links .pinterest {
    background-image: url("../images/svgs/pinterest-p.svg"); }
  .block-bene-footer-block .social-links .tumblr {
    background-image: url("../images/svgs/tumblr.svg"); }
  .block-bene-footer-block .social-links .twitter {
    background-image: url("../images/svgs/twitter.svg"); }
  .block-bene-footer-block .social-links .youtube {
    background-image: url("../images/svgs/youtube-play.svg"); }
  .block-bene-footer-block .copyright {
    font-size: 0.75rem; }

input[type="search"], textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 600;
  height: 3.125rem;
  padding: 1.125rem 3.125rem 1.125rem 1.375rem;
  width: 100%; }
  input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: var(--color-text-placeholder); }
  input[type="search"]::-moz-placeholder, textarea::-moz-placeholder {
    color: var(--color-text-placeholder); }
  input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: var(--color-text-placeholder); }
  input[type="search"]:-moz-placeholder, textarea:-moz-placeholder {
    color: var(--color-text-placeholder); }
  input[type="search"]:focus, textarea:focus {
    outline: 1px solid var(--color-text-light); }

.js-facets-checkbox-links input,
.js-form-type-checkbox input {
  display: none; }
.js-facets-checkbox-links label,
.js-form-type-checkbox label {
  color: var(--color-text-secondary);
  display: inline-block;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  padding-left: 2.375rem;
  text-indent: -2.375rem;
  width: 100%; }
  .js-facets-checkbox-links label:hover,
  .js-form-type-checkbox label:hover {
    cursor: pointer; }
  .js-facets-checkbox-links label::before,
  .js-form-type-checkbox label::before {
    -webkit-transition: color 0.3s linear, background-color 0.3s linear;
    -moz-transition: color 0.3s linear, background-color 0.3s linear;
    transition: color 0.3s linear, background-color 0.3s linear;
    border-radius: 0.0625rem;
    border: 1px solid var(--color-text-secondary);
    color: transparent;
    content: "✓";
    display: inline-block;
    font-size: 2rem;
    height: 1.5rem;
    left: 0;
    line-height: 1;
    margin-right: 2%;
    padding-left: 3px;
    position: relative;
    text-indent: 0rem;
    top: 0.0625rem;
    width: 1.625rem; }
    .js-facets-checkbox-links label::before:hover,
    .js-form-type-checkbox label::before:hover {
      cursor: pointer; }
.js-facets-checkbox-links input[type="checkbox"]:checked + label::before,
.js-form-type-checkbox input[type="checkbox"]:checked + label::before {
  color: var(--color-text-secondary);
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.5); }

label {
  color: var(--color-text-secondary);
  font-weight: 600;
  margin-bottom: 1.5rem; }

input:focus {
  outline-color: var(--color-text-light); }

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 0.1875rem;
  border: 1px solid var(--color-text-light);
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 600;
  height: 3.125rem;
  padding: 1.125rem 3.125rem 1.125rem 1.375rem;
  width: 100%; }
  input[type='text']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: var(--color-text-placeholder); }
  input[type='text']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  textarea::-moz-placeholder {
    color: var(--color-text-placeholder); }
  input[type='text']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: var(--color-text-placeholder); }
  input[type='text']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: var(--color-text-placeholder); }
  input[type='text']:focus,
  input[type='search']:focus,
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='tel']:focus,
  textarea:focus {
    outline: none; }

.user-login-form .form-item {
  text-align: left; }
.user-login-form .description {
  display: none; }

input[type='submit'] {
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  -moz-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
  border-radius: 0.1875rem;
  font-weight: 800;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 1.25rem 1.875rem;
  position: relative;
  text-transform: uppercase;
  background-color: var(--color-theme-primary-bright);
  color: var(--color-text-inverse);
  border: none; }
  input[type='submit']:hover {
    background-color: var(--color-theme-primary-bright-darken20); }

.region-content form {
  width: 95%;
  padding: 1rem; }

@media (min-width: 769px) {
  .region-content form {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-left: 25.5894128995%;
    float: none;
    padding: 1rem; }
    .region-content form:last-child {
      margin-right: 0; } }
.block-hero {
  visibility: hidden;
  align-items: center;
  background-color: var(--color-theme-primary-bright);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 49vw;
  /* This sets the aspect ratio */
  justify-content: center;
  width: 100vw; }
  @media (min-width: 769px) and (max-width: 1239px) {
    .block-hero {
      height: 24vw; } }
  @media (min-width: 769px) {
    .block-hero {
      height: 24vw; } }
  .block-hero h1, .block-hero h2 {
    color: var(--color-text-inverse);
    flex: 0 1 auto;
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
    text-transform: uppercase; }
    @media (min-width: 769px) and (max-width: 1239px) {
      .block-hero h1, .block-hero h2 {
        font-size: 3.75rem; } }
    @media (min-width: 769px) {
      .block-hero h1, .block-hero h2 {
        font-size: 3.75rem; } }
  .block-hero.no-bgimage {
    height: 6.25rem; }
    @media (min-width: 769px) and (max-width: 1239px) {
      .block-hero.no-bgimage {
        height: 7.5rem; } }
    @media (min-width: 769px) {
      .block-hero.no-bgimage {
        height: 7.5rem; } }

@media (min-width: 769px) {
  .page-node-type-listing-page .block-system-main-block .field--name-bene-intro {
    font-size: 1.375rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem; } }
.block-system-branding-block {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  text-align-last: center; }

.mobile-menu-toggle {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px; }
  .mobile-menu-toggle div {
    height: 100%;
    position: relative;
    top: -6px;
    width: 100%;
    z-index: 9999; }
    .mobile-menu-toggle div span {
      background-color: var(--color-theme-primary-bright);
      display: block;
      font-size: 0;
      height: 6px;
      left: 25%;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      width: 43.76%;
      z-index: 9999; }
      .mobile-menu-toggle div span:before, .mobile-menu-toggle div span:after {
        background: var(--color-theme-primary-bright);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: transform 0.3s, background-color 0.3s;
        width: 100%;
        z-index: 9999; }
      .mobile-menu-toggle div span:after {
        transform: translateY(150%); }
    .mobile-menu-toggle div:hover span {
      background: var(--color-theme-primary); }
      .mobile-menu-toggle div:hover span:before, .mobile-menu-toggle div:hover span:after {
        background: var(--color-theme-primary); }
  .mobile-menu-toggle.active div span {
    background-color: transparent; }
    .mobile-menu-toggle.active div span:before, .mobile-menu-toggle.active div span:after {
      background: var(--color-theme-primary-bright);
      transform: rotate(45deg) translateY(0);
      transition: transform 0.3s; }
    .mobile-menu-toggle.active div span:after {
      transform: rotate(-45deg) translateY(0); }

.menu-item--collapsed {
  list-style-image: none;
  list-style-type: none; }

.mobile-nav .region-primary-nav {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--color-background-darkest);
  left: 0;
  position: absolute;
  top: 6.3125rem;
  width: 100%;
  z-index: 20; }
.mobile-nav .menu a {
  border-bottom: 1px solid var(--color-theme-primary-bright);
  color: var(--color-theme-primary-bright);
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.5625rem 2.0625rem;
  position: relative;
  text-transform: uppercase;
  width: 100%; }
  .mobile-nav .menu a:after {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: transparent url("../images/svgs/line-arrow.svg") no-repeat center center/cover;
    content: "";
    display: inline-block;
    height: 1.1875rem;
    position: absolute;
    right: 2.0625rem;
    top: 1.5625rem;
    width: 0.5625rem; }
  .mobile-nav .menu a.is-active {
    color: var(--color-text-inverse); }

.mobile-nav .menu--utility .menu li a {
  font-size: 0.9375rem;
  font-weight: 400;
  padding: 0.9375rem 2.0625rem; }
  .mobile-nav .menu--utility .menu li a:after {
    top: 0.9375rem; }
.mobile-nav .menu--utility .menu li:last-child a {
  background-color: var(--color-theme-primary);
  color: var(--color-text-primary);
  font-weight: 600; }
  .mobile-nav .menu--utility .menu li:last-child a.is-active {
    color: var(--color-text-inverse); }

@media (min-width: 769px) {
  .block-system-branding-block {
    min-width: 14.5625rem; }
    .block-system-branding-block a {
      display: inline-block;
      width: 100%; }
      .block-system-branding-block a img {
        width: 99%; }

  .desktop-nav .menu--utility .menu-item a {
    color: var(--color-text-medium-dark);
    font-size: 0.875rem; }
    .desktop-nav .menu--utility .menu-item a:hover, .desktop-nav .menu--utility .menu-item a:focus, .desktop-nav .menu--utility .menu-item a.is-active {
      color: var(--color-theme-primary); }
  .desktop-nav .menu--utility .menu-item:last-child a {
    -webkit-transition: background-color 0.3s linear, color 0.3s linear;
    -moz-transition: background-color 0.3s linear, color 0.3s linear;
    transition: background-color 0.3s linear, color 0.3s linear;
    border-radius: 0.1875rem;
    font-weight: 800;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 1.25rem 1.875rem;
    position: relative;
    text-transform: uppercase;
    color: var(--color-text-inverse);
    background-color: var(--color-theme-primary-bright);
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0.625rem 0.9375rem;
    top: 6px; }
    .desktop-nav .menu--utility .menu-item:last-child a:hover {
      background-color: var(--color-theme-primary-bright-darken20); }

  .desktop-nav .menu--main .menu-item a {
    color: var(--color-text-primary);
    font-weight: 700;
    letter-spacing: 0.03125rem;
    text-transform: uppercase; }
    .desktop-nav .menu--main .menu-item a:hover, .desktop-nav .menu--main .menu-item a:focus, .desktop-nav .menu--main .menu-item a.is-active {
      color: var(--color-theme-primary); }
    .desktop-nav .menu--main .menu-item a.is-active {
      cursor: default; } }
.external-newsletter {
  align-items: center;
  background-color: var(--color-theme-primary);
  color: var(--color-text-inverse);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem; }
  .external-newsletter .mailchimp-signup-subscribe-form,
  .external-newsletter .mailchimp-newsletter-mergefields {
    display: flex;
    justify-content: center; }
  .external-newsletter .mailchimp-newsletter-mergefields {
    width: 75%; }
  .external-newsletter .form-actions input {
    height: 3.125rem;
    padding: 1rem 1.875rem;
    margin-top: .9rem; }
  .external-newsletter .form-item {
    flex-grow: 1;
    width: 30%;
    margin: 0 10px; }
  .external-newsletter h2, .external-newsletter p, .external-newsletter a {
    margin: 0 auto;
    max-width: 94%;
    text-align: center; }
  .external-newsletter label {
    color: var(--color-text-inverse); }
  .external-newsletter p {
    color: var(--color-text-inverse);
    margin: 0.375rem 0; }
  .external-newsletter a {
    color: var(--color-text-primary); }
    .external-newsletter a:after {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear;
      content: ' →';
      display: inline-block;
      left: 0.25rem;
      position: relative; }
    .external-newsletter a:hover:after {
      left: 0.5rem; }
  .external-newsletter a.button {
    background-color: var(--color-background-default);
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.9375rem 1.25rem;
    text-transform: none; }
    .external-newsletter a.button:after {
      content: none; }
    .external-newsletter a.button:hover {
      background-color: var(--color-theme-primary-bright-lighten20); }

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--color-background-darker);
  border-radius: 0px;
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  line-height: 48px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%; }
  .nice-select .current {
    color: var(--color-text-inverse); }
  .nice-select:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: transparent url(../images/svgs/arrow.svg) no-repeat center center/cover;
    content: "";
    height: 0.875rem;
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 50%;
    width: 1rem;
    margin-top: -0.375rem;
    z-index: 2; }
  .nice-select.open:after {
    transform: rotate(-90deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: var(--color-text-inverse);
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-25px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    width: 100%;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 48px;
    list-style: none;
    min-height: 48px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    width: 100%; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }
.no-csspointerevents .nice-select.open .list {
  display: block; }

.paragraph--type--media {
  font-size: 0.875rem;
  font-style: italic;
  margin: 1.5rem 0;
  text-align: center;
  width: 100%; }
  .paragraph--type--media img {
    max-width: 100%; }

.paragraph--type--rich-text figure {
  margin: 1rem 0; }
.paragraph--type--rich-text figcaption {
  font-size: 0.875rem;
  font-style: italic; }
.paragraph--type--rich-text .embedded-entity.align-left,
.paragraph--type--rich-text figure.align-left {
  margin-right: 2rem; }
.paragraph--type--rich-text .embedded-entity.align-right,
.paragraph--type--rich-text figure.align-right {
  margin-left: 2rem; }
.paragraph--type--rich-text .embedded-entity.align-left,
.paragraph--type--rich-text .embedded-entity.align-right {
  margin-bottom: 0.75rem; }
.paragraph--type--rich-text p,
.paragraph--type--rich-text ol li,
.paragraph--type--rich-text ul li {
  color: var(--color-text-secondary); }
.paragraph--type--rich-text blockquote {
  margin: 2rem auto;
  max-width: 80%;
  text-align: center; }
  .paragraph--type--rich-text blockquote p {
    color: var(--color-theme-primary-bright);
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 600;
    line-height: 2.4375rem;
    margin: 0; }
    .paragraph--type--rich-text blockquote p:before {
      content: "“"; }
    .paragraph--type--rich-text blockquote p:after {
      content: "”"; }
  .paragraph--type--rich-text blockquote:after {
    background-color: var(--color-theme-primary-bright);
    content: "";
    display: inline-block;
    height: 0.25rem;
    position: relative;
    width: 25%; }
.paragraph--type--rich-text img {
  max-width: 99%; }

.paragraph--type--feature-full-width {
  align-items: center;
  background-color: var(--color-theme-primary);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-inverse);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 38.2vw;
  padding: 1.5rem 1.5rem 2.25rem 1.5rem;
  position: relative;
  text-align: center;
  width: 100vw;
  max-width: 100%; }
  .paragraph--type--feature-full-width:before {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
  .paragraph--type--feature-full-width .field--name-field-title {
    font-size: 2.25rem;
    font-weight: 900;
    z-index: 10; }
  .paragraph--type--feature-full-width .field--name-field-text {
    z-index: 10; }
    .paragraph--type--feature-full-width .field--name-field-text p {
      color: var(--color-text-inverse);
      margin: 2rem auto;
      max-width: 100%; }
      @media (min-width: 769px) {
        .paragraph--type--feature-full-width .field--name-field-text p {
          max-width: 65%; } }
  .paragraph--type--feature-full-width .field--type-link {
    z-index: 10; }
    .paragraph--type--feature-full-width .field--type-link a {
      -webkit-transition: background-color 0.3s linear, color 0.3s linear;
      -moz-transition: background-color 0.3s linear, color 0.3s linear;
      transition: background-color 0.3s linear, color 0.3s linear;
      border-radius: 0.1875rem;
      font-weight: 800;
      display: inline-block;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      line-height: 1;
      padding: 1.25rem 1.875rem;
      position: relative;
      text-transform: uppercase;
      color: var(--color-text-inverse);
      background-color: var(--color-theme-primary-bright);
      letter-spacing: 0;
      text-transform: none; }
      .paragraph--type--feature-full-width .field--type-link a:hover {
        background-color: var(--color-theme-primary-bright-darken20); }

.paragraph--type--tiles > .field--name-field-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  margin: 1.125rem auto 0rem;
  text-align: center; }
  @media (min-width: 769px) {
    .paragraph--type--tiles > .field--name-field-title {
      margin: 2.25rem auto 0rem; } }
.paragraph--type--tiles .field--name-field-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem; }
  @media (min-width: 1240px) {
    .paragraph--type--tiles .field--name-field-tiles {
      margin: 1.5rem auto; } }
  .paragraph--type--tiles .field--name-field-tiles > .field__item {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
    text-align: center; }
    @media (min-width: 415px) and (max-width: 768px) {
      .paragraph--type--tiles .field--name-field-tiles > .field__item {
        flex: 0 1 calc(50% - 1rem);
        min-width: 23.75rem; } }
    @media (min-width: 769px) {
      .paragraph--type--tiles .field--name-field-tiles > .field__item {
        flex: 0 1 calc(33% - 1rem);
        margin-bottom: 2.25rem;
        min-width: 18.75rem; } }
    @media (min-width: 1240px) {
      .paragraph--type--tiles .field--name-field-tiles > .field__item {
        margin-bottom: 3rem;
        max-width: 23.75rem; } }
    .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-image,
    .paragraph--type--tiles .field--name-field-tiles > .field__item .bg-header {
      background-color: var(--color-theme-primary);
      font-size: 0;
      max-height: 14.25rem;
      max-width: 23.75rem; }
      .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-image img,
      .paragraph--type--tiles .field--name-field-tiles > .field__item .bg-header img {
        max-width: 100%; }
    @media (min-width: 769px) {
      .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-image,
      .paragraph--type--tiles .field--name-field-tiles > .field__item .bg-header {
        background-color: var(--color-theme-primary);
        height: 18.36vw;
        width: 30.6vw; } }
    .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-title {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.875rem;
      margin-top: 1.75rem; }
    .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-text p {
      color: var(--color-text-secondary);
      line-height: 1.5rem;
      margin-bottom: 0.75rem;
      margin-top: 0.75rem; }
    .paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-link a {
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 600;
      margin-top: 0.75rem; }

.region-content .block-views {
  clear: both; }
  .region-content .block-views .view-content > .views-row {
    clear: both;
    margin-bottom: 1.5rem; }
    .region-content .block-views .view-content > .views-row .field--name-bene-header-media {
      float: left;
      margin-right: 1.5rem;
      max-width: 30%; }
      .region-content .block-views .view-content > .views-row .field--name-bene-header-media img {
        height: auto;
        max-width: 100%; }

/*# sourceMappingURL=bene-style.css.map */
