version: 2
jobs:
  build:
    docker:
       - image: thinkshout/nginx-php-fpm:php71
         environment:
           WEBROOT: /var/www/html/build/web
           GIT_EMAIL: "ci@thinkshout.com"
           GIT_NAME: "ThinkShout CI Bot"
         cmd: ["/start.sh"]
       - image: mariadb:10.0
         environment:
           MYSQL_RANDOM_ROOT_PASSWORD: 1
           MYSQL_DATABASE: drupal
           MYSQL_USER: drupal
           MYSQL_PASSWORD: drupal
    working_directory: /var/www/html/bene
    steps:
      - checkout
      - type: add-ssh-keys

      - run:
          name: Project configuration
          command: |
            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
            composer global require -n "hirak/prestissimo:^0.3"
            composer global require -n "consolidation/cgr"
            cgr "pantheon-systems/terminus:~1"
            cd /var/www/html
            which patch
            composer create-project thinkshout/bene-project:dev-bene_features_and_promo_redirect /var/www/html/build --stability dev --no-interaction --no-install
      - restore_cache:
          keys:
            - composer-v3-{{ checksum "composer.lock" }}
      - run:
          name: Install dependencies
          command: |
            cd /var/www/html/build
            composer config repositories.bene path /var/www/html/bene
            composer require "drupal/bene:*"
            composer install -n --prefer-dist
      - save_cache:
          key: composer-v3-{{ checksum "composer.lock" }}
          paths:
            - ../build/vendor
            - ../build/web/modules/contrib
      - run:
          name: Configure, install and test
          command: |
            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
            cd /var/www/html/build
            robo configure --db-name=drupal --db-user=drupal --db-pass=drupal --db-host=127.0.0.1
            robo install
#           robo test --profile ci
      - run:
          name: Run CS tests
          command: |
             export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
             cd /var/www/html/build
             phpcs --config-set installed_paths ../../drupal/coder/coder_sniffer/
             phpcs --standard=Drupal --ignore=*/css/*,*/node_modules/* /var/www/html/build/web/profiles/bene
#      - deploy:
#          command: |
#            BRANCH_PATTERN='^[-0-9a-z]{1,11}$'
#            if [[ ${CIRCLE_BRANCH} =~  $BRANCH_PATTERN ]]; then
#              export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
#              terminus auth:login --machine-token=$PANTHEON_TOKEN
#              robo pantheon:deploy --y
#            fi
