// Admin adjustments
%body-region-content {
  @include vars(background-color, background-color-primary);
  display: inline-block;
  width: 100%;
}
%toolbar-bar {
  position: fixed;
}
%user-logged-in-div-messages {
  bottom: 0;
  cursor: pointer;
  left: 1px;
  position: fixed;
  z-index: 1000;
}

  %user-logged-in-div-messages-after-x {
      @include vars(background-color, background-color-secondary);
      @include vars(border-color, color-text-over-color-secondary-background);
      border-radius: 50%;
      box-shadow: -1px 2px 5px #77b259;
      @include vars(color, color-text-over-color-secondary-background);
      content: "×";
      display: inline-block;
      @include vars(font-size, primary-font-size-base);
      padding: rem(2) rem(6);
      position: absolute;
      right: rem(-13);
      text-transform: uppercase;
      top: rem(-13);
    }


%contextual-links {
  @include vars(background-color, background-color-primary);
  border-radius: 4px 0 4px 4px;
  border: 1px solid #ccc;
  clear: both;
  float: right;
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  right: 6px;
  @include vars(text-align, preferred-alignment);
  top: -1px;
  white-space: nowrap;
}

%contextual-links-li {
  @include vars(background-color, background-color-primary);
  @include vars(color, color-text-link-over-color-primary-background);
  border: none;
  line-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

%contextual-links-li-a {
  @include vars(background-color, background-color-primary);
  @include vars(color, color-text-hover-link-over-color-primary-background);
  display: block;
  font-family: sans-serif;
  @include vars(font-size, primary-font-size-base);
  line-height: 0.8em;
  margin: 0.25em 0;
  padding: 0.4em 0.6em;
}


%footer {
  padding-bottom: rem(50);
}

%block-bene-child-local-tasks {
  @include transition(all 0.4s linear);
  @include vars(background-color, background-color-primary);
  bottom: 0;
  height: auto;
  padding-right: 45px;
  position: fixed;
  right: -90%;
  width: 90%;
  z-index: 1000;
  @include mq(desktop) {
    right: -55%;
    width: 55%;
  }
}

%block-bene-child-local-tasks-ul-tabs {
  margin: 0;
}

%block-bene-child-local-tasks-li {
  @include vars(background-color, background-color-primary);
}

%block-bene-child-local-tasks-li-a {
  @include vars(background-color, background-color-primary);
  border: none;
  @include vars(color, color-text-link-over-color-primary-background);
  display: inline-block;
  @include vars(font-size, primary-font-size-base);
  @include vars(font-weight, primary-font-black);
  padding: rem(5) rem(10) rem(5);
  text-transform: uppercase;
  @include mq(desktop) {
    @include vars(font-size, primary-font-size-base);
    padding: rem(7) rem(20) rem(7);
  }
}

%block-bene-child-local-tasks-li-a-hover {
  @include vars(background-color, color-text-hover-link-over-color-primary-background);
}

%block-bene-child-local-tasks-li-a-active {
  @include vars(background-color, color-text-hover-link-over-color-primary-background);
}

%block-bene-child-local-tasks-show-hide {
  @include vars(background-color, background-color-secondary);
  cursor: pointer;
  @include vars(font-size, primary-font-size-accent);
  height: rem(30);
  left: rem(-30);
  @include vars(line-height, primary-line-height-accent);
  padding: 0 rem(8) 0 rem(9);
  position: absolute;
  width: rem(30);
  @include mq(desktop) {
    height: rem(38);
    @include vars(line-height, primary-line-height-accent);
  }
}

%block-bene-child-local-tasks-show-hide-span {
  @include transform(rotate(180deg));
  @include transition(all 0.5s linear);
  background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover !important;
  display: inline-block;
  height: rem(15);
  width: rem(12);
  @include mq(desktop) {
    height: rem(25);
  }
}

%block-bene-child-local-tasks-active {
  right: 0;
}

%block-bene-child-local-tasks-active-show-hide-span {
  @include transform(rotate(0deg));
}


