
%body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include vars(font-family, primary-font-family);
  @include vars(font-size, primary-font-size-base);
  font-style: normal;
  @include vars(font-weight, primary-font-regular);
}

%headings-common {
  margin: 0;
  text-rendering: optimizeLegibility; /* Fix the character spacing for headings */
}

%h1 {
  @include vars(font-size, primary-font-size-medium);
  @include vars(line-height, primary-line-height-medium);
  @include vars(font-weight, primary-font-black);
}
%h2 {
  @include vars(font-size, primary-font-size-accent);
  @include vars(line-height, primary-line-height-accent);
  @include vars(font-weight, primary-font-regular);
}
%h3 {
  @include vars(font-size, primary-font-size-small);
  @include vars(line-height, primary-line-height-small);
  @include vars(font-weight, primary-font-medium);
}
%h4 {
  @include vars(font-size, primary-font-size-base);
  @include vars(line-height, primary-line-height-base);
  @include vars(font-weight, primary-font-bold);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

%p {
  @include vars(color, color-text-over-color-primary-background);
  @include vars(font-size, primary-font-size-base);
  @include vars(line-height, primary-line-height-small);
  @include vars(font-weight, primary-font-regular);
}

%a {
  @include default-transition;
  @include vars(color, color-text-link-over-color-primary-background);
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:active {
    @include vars(color, color-text-hover-link-over-color-primary-background);
  }
}

// tables will look similar to the menu in color - text will be blue in bene parent, for example
%table-basics {
  @include vars(color, color-text-link-over-color-primary-background);
  &:hover,
  &:active {
    @include vars(color, color-text-hover-link-over-color-primary-background);
  }
}

%button {
  @include button;
}

/* List bullets in content. */
%ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  li {
    padding-bottom: rem(14);
    padding-left: rem(32);
    text-indent: rem(-20);
    @include vars(color, color-text-over-color-primary-background);
    &:before {
      @include vars(color, color-text-over-color-primary-background);
      content: "•";
      @include vars(font-size, primary-font-size-base);
      line-height: 1;
      padding-right: rem(14);
      position: relative;
    }
  }
}

%ol {
  padding-left: rem(26);
  li {
    padding-bottom: rem(14);
    padding-left: rem(6);
    line-height: 1.4;
    @include vars(font-size, primary-font-size-base);
    @include vars(color, color-text-over-color-primary-background);
  }
}

%table {
  @include vars(border, 1px solid, color-text-link-over-color-primary-background);
  margin: rem(24) 0;
  table-layout: auto;
  th, tr, td, tr:first-child th {
    border: none;
    @include vars(color, color-text-link-over-color-primary-background);
    @include vars(font-size, primary-font-size-footnote);
    @include vars(font-weight, primary-font-regular);
    padding: rem(18) rem(42);
    @include vars(text-align, preferred-alignment);
    strong {
      @include vars(font-weight, primary-font-medium);
    }
  }
  th, tr:first-child th {
    @include vars(font-weight, primary-font-bold);
    text-transform: uppercase;
    @include vars(color, color-text-hover-link-over-color-primary-background);
    @include vars(font-size, primary-font-size-footnote);
    margin: 0;
  }
  tr {
    @include vars(background-color, background-color-primary);
  }
  th,tr:nth-of-type(2n) {
    @include vars(background-color, background-color-tertiary);
  }
}

%menu-basics {
  list-style: none outside;
  margin: 0;
  padding: 0;
  @include vars(text-align, preferred-alignment);
  .menu-item {
    padding: 0;
  }
}

%fieldset {
  border: none;
  padding: 0;
  legend {
    @include vars(font-size, primary-line-height-small);
    @include vars(font-weight, primary-font-bold);
    @include vars(color, color-text-title-over-color-primary-background);
  }
}

