%block-hero {
  position: relative;
  @include vars(background-color, background-color-secondary);
}
%block-hero-h1 {
  @include vars(font-size, title-font-size-medium);
  padding: 0 1rem;
  text-shadow: none;
  text-transform: none;
  z-index: 1;

  @include mq(mobile) {
    flex: 0 1 100%;
    @include vars(text-align, preferred-alignment);
    @include vars(font-size, title-font-size-accent);
  }

  @include mq(tablet) {
    flex: inherit;
    @include vars(font-size, title-font-size-medium);
  }

  @include mq(desktop) {
    flex: inherit;
    @include vars(font-size, title-font-size-medium);
  }
}

// Gradient overlay
%block-hero-gradient-overlay {
  @include vars(background, hero-overlay-gradient);
  content: '';
  display: block;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

