// Default Styles (Mobile First!)

%page-node-type-event-field--name-bene-content {
  clear: both;
}

%page-node-type-event-field--name-bene-event-date-range {
  margin-bottom: rem(32);
  margin-top: rem(24);
}

%page-node-type-event-field--name-bene-event-date-range-time {
  @include vars(font-size, primary-font-size-base);
  @include vars(font-weight, primary-font-light);
  line-height: rem(32);
  @include mq(desktop) {
    @include vars(font-size, primary-font-size-accent);
    @include vars(line-height, primary-line-height-accent);
  }
}

%page-node-type-event-field--name-bene-event-address {
  line-height: 1.3;
  margin-top: 0;
}

