%field--name-bene-intro {
  margin-bottom: rem(24);
  margin-top: rem(16);
  h2 {
    @include vars(color, color-text-title-over-color-primary-background);
    @include vars(font-size, primary-font-size-accent);
    font-style: italic;
    @include vars(font-weight, primary-font-medium);
    margin-top: rem(32);
  }
  h3 {
    @include vars(font-size, primary-font-size-small);
    @include vars(font-weight, primary-font-regular);
    margin-bottom: 0;
    margin-top: rem(18);
  }
  p {
    @include vars(font-size, primary-font-size-base); // was rem(18)
    @include vars(font-weight, primary-font-light);
    @include vars(line-height, primary-line-height-base);
    margin-top: rem(12);
    @include mq(desktop) {
      @include vars(font-size, primary-font-size-small);
      @include vars(line-height, primary-line-height-small); // was rem(38)
    }
  }
}
