// Default Styles (Mobile First!)
%region-footer-layout {
  display: flex;
  flex-direction: column;
}

%footer-block-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(42);
  margin-top: rem(24);
  padding: 0 2%;
  position: relative;
}

%footer-block-layout-menu {
  flex: 0 1 35%;
}

%footer-block-layout-contact-links {
  flex: 0 1 65%;
}

%footer-block-layout-additional-footer {
  flex: 0 1 100%;
}

%footer-block-layout-social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: center;
  margin-top: rem(24);
}
%footer-block-layout-social-links-span {
  min-width: 25%;
  @include vars(text-align, hero-alignment);
}
%footer-block-layout-social-links-span-a {
  margin-left: 0;
}

%footer-block-layout-copyright {
  bottom: rem(-32);
  left: 0;
  position: absolute;
  right: 0;
  @include vars(text-align, hero-alignment);
}
