
%site-layout-header {
  @include column-width(1,5);

  @include mq($ph) { @include column-width(1,13); }

  @include mq($md) {
    @include center-columns(10, $grid-columns-total);
    margin: 0 auto;
    max-width: 800px;
  }

  @include mq($sl) {
    @include center-columns(8, $grid-columns-total);
  }

  @include mq($xl) {
    @include center-columns(8, $grid-columns-xxl);
  }

  display: flex;
  min-height: 101px;
}
%site-layout-header-logo-wrapper {
  align-items: center;
  display: flex;
}
%site-layout-header-nav-menu {
  display: none;
}
%site-layout-header-mobile-nav {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}