%page-node-type-page-block-system-main-block-h2 {
  @include vars(color, color-text-title-over-color-inset-background);
  font-style: normal;
  @include vars(font-weight, title-font-medium);
  @include vars(font-size, title-font-size-medium);
  @include vars(line-height, title-line-height-medium);
  margin-top: 0;

  @include mq(mobile) {
    @include vars(font-size, primary-font-size-accent);
  }
}

%page-node-type-page-block-system-main-block-h3 {
  @include vars(color, color-text-title-over-color-inset-background);
  @include vars(font-size, title-font-size-medium);
  @include vars(font-weight, title-font-regular);
  @include vars(line-height, title-line-height-medium);
  margin-bottom: 0;
}

%page-node-type-page-block-system-main-block-h3-link {
  @include vars(color, color-text-link-over-color-inset-background);
}

%page-node-type-page-block-system-main-block-h3-link-hover {
  @include vars(color, color-text-hover-link-over-color-inset-background);
}


%page-node-type-page-block-system-main-block-p {
  @include vars(color, color-text-over-color-inset-background);
  @include vars(font-size, primary-font-size-base);
  @include vars(font-weight, primary-font-regular);
  @include vars(line-height, primary-line-height-base);

  @include mq(mobile) {
    @include vars(font-size, primary-font-size-small);
  }

  @include mq(desktop) {
    @include vars(font-size, primary-font-size-small);
  }
}

%page-node-type-page-block-system-main-block-blockquote-p {
  @include vars(background-color, background-color-secondary);
  @include vars(color, color-text-over-color-secondary-background);
  @include vars(font-size, primary-font-size-small);
  @include vars(font-weight, primary-font-regular);
  @include vars(line-height, primary-line-height-small);
  float: none;
  font-style: normal;
}


