%intro-block {
  @include vars(background-color, background-color-inset);
}

%intro-block-header {
  @include vars(font-family, title-font-family);
  @include vars(font-size, title-font-size-medium);
  @include vars(line-height, title-line-height-medium);
  margin: 50px 0;
  @include vars(color, color-text-title-over-color-inset-background);
}

%intro-block-text {
  padding: 0 100px;
  @include vars(font-family, sentence-font-family);
  @include vars(color, color-text-over-color-inset-background);
}

%field--name-bene-intro {
  float: none;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: none;
}
