%intro-block {
  @include vars(background-color, background-color-inset);
}

%intro-block-header {
  @include vars(font-family, title-font-family);
  @include vars(font-size, title-font-size-medium);
  @include vars(line-height, title-line-height-medium);
  margin: 50px 0;
  @include vars(color, color-text-title-over-color-inset-background);
}

%intro-block-text {
  padding: 0 100px;
  @include vars(font-family, sentence-font-family);
  @include vars(color, color-text-over-color-inset-background);
}

%field--name-bene-intro {
  float: none;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: none;
  padding-bottom: rem(24);
  padding-top: rem(16);
}
%field--name-bene-intro-h2 {
  @include vars(color, color-text-title-over-color-primary-background);
  @include vars(font-size, title-font-size-accent);
  font-style: italic;
  @include vars(font-weight, title-font-medium);
  margin-top: rem(32);
}
%field--name-bene-intro-h3 {
  @include vars(color, color-text-title-over-color-primary-background);
  @include vars(font-size, title-font-size-small);
  @include vars(font-weight, title-font-regular);
  margin-bottom: 0;
  margin-top: rem(18);
}
%field--name-bene-intro-h4 {
  @include vars(color, color-text-title-over-color-primary-background);
  @include vars(font-size, title-font-size-small);
  @include vars(font-weight, title-font-regular);
  margin-bottom: 0;
  margin-top: rem(18);
}
%field--name-bene-intro-p {
  @include vars(font-size, sentence-font-size-base); // was rem(18)
  @include vars(font-weight, sentence-font-light);
  @include vars(line-height, sentence-line-height-base);
  margin-top: rem(12);
  @include mq(desktop) {
    @include vars(font-size, sentence-font-size-small);
    @include vars(line-height, sentence-line-height-small); // was rem(38)
  }
}

