// Default Styles (Mobile First!)

%block-system-branding-block {
  @include vars(font-size, primary-font-size-base); // was rem(18)
  font-style: italic;
  @include vars(font-weight, primary-font-light);
  @include vars(text-align-last, hero-alignment);
}
%mobile-menu-toggle {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px;
}
%mobile-menu-toggle-div {
  height: 100%;
  position: relative;
  top: -6px;
  width: 100%;
  z-index: 9999;
}
%mobile-menu-toggle-div-span {
  @include vars(background-color, background-color-primary);
  display: block;
  height: 6px;
  left: 25%;
  position: absolute;
  top: 50%;
  transition: background-color 0.3s;
  width: 43.76%;
  z-index: 9999;
}
%mobile-menu-toggle-div-span-before-and-after {
  @include vars(background, background-color-photo-overlay);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transform: translateY(-150%);
  transition: transform 0.3s, background-color 0.3s;
  width: 100%;
  z-index: 9999;
}
%mobile-menu-toggle-div-span-after {
  transform: translateY(150%);
}

%mobile-menu-toggle-div-hover {
  @include vars(background, background-color-quaternary);
}
%mobile-menu-toggle-div-hover-before-and-after {
  @include vars(background, background-color-quaternary);
}


%mobile-menu-toggle-active-div-span {
  @include vars(background-color, background-color-photo-overlay);
}
%mobile-menu-toggle-active-div-span-before-and-after {
  @include vars(background, background-color-quaternary);
  transform: rotate(45deg) translateY(0);
  transition: transform 0.3s;
}
%mobile-menu-toggle-active-div-span-after {
  transform: rotate(-45deg) translateY(0) ;
}

%menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}
%mobile-nav-menu-region-primary-nav {
  display: flex;
  flex-direction: column-reverse;
  @include vars(background-color, background-color-primary);
  left: 0;
  position: absolute;
  top: rem(101);
  width: 100%;
  z-index: 20;
}
%mobile-nav-menu-region-primary-nav-menu-link {
  @include vars(border-bottom, color-text-menu-over-color-primary-background, 1px solid);
  @include vars(color, color-text-menu-over-color-primary-background);
  display: inline-block;
  @include vars(font-size, primary-font-size-base);
  @include vars(font-weight, primary-font-medium);
  padding: rem(25) rem(33);
  position: relative;
  text-transform: uppercase;
  width: 100%;
}
%mobile-nav-menu-region-primary-nav-menu-link-after {
  @include all-transition;
  background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover;
  content: "";
  display: inline-block;
  height: rem(19);
  position: absolute;
  right: rem(33);
  top: rem(25);
  width: rem(9);
}
%mobile-nav-menu-region-primary-nav-menu-link-after-is-active {
  @include vars(color, color-text-hover-menu-over-color-primary-background);
}

%menu-item-link {
  @include vars(font-size, primary-font-size-footnote); // was rem(15)
  @include vars(font-weight, primary-font-regular);
  padding: rem(15) rem(33);
}
%menu-item-link-after {
  top: rem(15);
}
%menu-item-last-child-link {
  @include vars(background-color, button-primary-color-background);
  @include vars(color, button-primary-text-and-outline-color);
  @include vars(font-weight, primary-font-medium);
}
%menu-item-last-child-link-is-active {
  @include vars(background-color, button-primary-hover-color-background);
  @include vars(color, button-primary-hover-text-and-outline-color);
}



// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }



  //%block-system-branding-block-desktop {
  //  min-width: rem(233);
  //  a {
  //    display: inline-block;
  //    width: 100%;
  //    img {
  //      width: 99%;
  //    }
  //  }
  //}
  //.desktop-nav .menu--utility .menu-item {
  //  a {
  //    color: bbv(font-color-link); // in case css variables are not supported
  //    color: var(--general-link-color);
  //    font-size: rem(14);
  //    &:hover, &:focus, &.is-active {
  //      color: bbv(font-color-hover-link); // in case css variables are not supported
  //      color: var(--general-link-hover-color);
  //    }
  //  }
  //  &:last-child a {
  //    @include button;
  //    color: bbv(font-color-accent);
  //    color: var(--general-font-accent-color);
  //    background-color: bbv(background-color-tertiary);
  //    background-color: var(--general-tertiary-background-color);
  //    &:hover {
  //      background-color: bbv(background-color-secondary);
  //      background-color: var(--general-secondary-background-color);
  //    }
  //    font-size: rem(12);
  //    font-weight: 700;
  //    letter-spacing: 0;
  //    padding: rem(10) rem(15);
  //    top: 6px;
  //  }
  //}
  //.desktop-nav .menu--main .menu-item {
  //  a {
  //    color: bbv(font-color-tertiary); // in case css variables are not supported
  //    color: var(--general-font-tertiary-color);
  //    font-weight: 700;
  //    letter-spacing: rem(0.5);
  //    text-transform: uppercase;
  //    &:hover, &:focus, &.is-active {
  //      color: bbv(font-color-hover-link); // in case css variables are not supported
  //      color: var(--general-link-hover-color);
  //    }
  //    &.is-active {
  //      cursor: default;
  //    }
  //  }
  //}


%block-bene-sub-navigation-block {
  @include vars(background-image, background-color-photo-overlay);
  padding: 1.5rem 2%;
  @include vars(text-align, hero-alignment);

  ul.menu{
    @include vars(text-align, hero-alignment);
  }

  ////// ADD CHILD STUFF HERE
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
