// Default Styles (Mobile First!)
%external-newsletter {
  align-items: center;
  background-image: linear-gradient(rgba(#50CFE3, 1), rgba(#000000, 1)); // parent theme fallback in case css variables are not supported
  background-image: var(--background-color-tertiary);
  @include vars(color, color-text-over-color-tertiary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(12);
}

%mailchimp-form {
  display: flex;
  justify-content: center;
}

%mailchimp-newsletter-mergefields {
  width: 75%
}
%form-actions-input {
  height: 3.125rem;
  padding: 1rem 1.875rem;
  margin-top: .9rem;
}

%form-item {
  flex-grow: 1;
  width: 30%;
  margin: 0 10px;
}
%form-item-p {
  margin: 0 auto;
  max-width: 94%;
  @include vars(text-align, hero-alignment);
}
%form-item-label {
  @include vars(color, color-text-over-color-tertiary-background);
}
%form-item-p {
  @include vars(color, color-text-over-color-tertiary-background); // in case css variables are not supported
  margin: rem(6) 0;
  @include vars(font-family, sentence-font-family);
}
%form-item-link {
  @include vars(color, color-text-link-over-color-tertiary-background);
}
%form-item-link-arrow {
  @include all-transition;
  content: ' →';
  display: inline-block;
  left: rem(4);
  position: relative;
}
%form-item-link-hover-arrow {
  left: rem(8);
}

%form-item-link-button {
  @include vars(background-color, button-primary-color-background);
  @include vars(color, button-primary-text-and-outline-color);
  @include vars(font-size, sentence-font-size-footnote);
  @include vars(font-weight, sentence-font-medium);
  padding: rem(15) rem(20);
  text-transform: none;
}
%form-item-link-button-after {
  content: none;
}
%form-item-link-button-hover {
  @include vars(background-color, button-primary-hover-color-background);
  @include vars(color, button-primary-hover-text-and-outline-color);
}


