// Style the dropdown
%nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include vars(background-color, background-color-primary);
  @include vars(border-radius, preferred-border-radius);
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  @include vars(font-size, primary-font-size-footnote);
  @include vars(font-weight, primary-font-bold);
  @include vars(height, primary-line-height-footnote + 2);
  @include vars(line-height, primary-line-height-footnote);
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  @include vars(text-align, preferred-alignment, null, !important);
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}
%nice-select-current {
  @include vars(color, color-text-over-color-primary-background);
}

%nice-select-arrow {
  @include transform(rotate(90deg));
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: transparent url(../images/svgs/arrow.svg) no-repeat center center/cover;
  content: "";
  height: rem(14);
  display: inline-block;
  position: absolute;
  right: rem(32);
  top: 50%;
  width: rem(16);
  margin-top: rem(-6);
  z-index: 2;
}

%nice-select-open {
  @extend :active;
}

%nice-select-open-after {
  transform: rotate(-90deg);
}
%nice-select-open-list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

%nice-select-disabled {
  @include vars(border-color, color-text-menu-disabled-over-color-primary-background);
  @include vars(color, color-text-over-color-primary-background);
  pointer-events: none;
}
%nice-select-disabled-after {
  @include vars(border-color, color-text-menu-disabled-over-color-primary-background);
}


  // Modifiers
%nice-select-wide {
  width: 100%;
  .list {
    left: 0 !important;
    right: 0 !important;
  }
}
%nice-select-right {
  float: right;
  .list {
    left: auto;
    right: 0;
  }
}
%nice-select-small {
  @include vars(font-size, primary-font-size-footnote);
  @include vars(height, primary-line-height-footnote + 2);
  @include vars(line-height, primary-line-height-footnote);
}
%nice-select-small-after {
  height: 4px;
  width: 4px;
}
%nice-select-small-option {
  @include vars(line-height, primary-line-height-footnote);
  @include vars(min-height, primary-line-height-footnote);
}


// List and options
%nice-select-list {
  @include vars(background-color, background-color-primary);
  @include vars(border-radius, preferred-border-radius);
  @include vars(box-shadow, background-color-photo-overlay, 0 0 0 1px);
  box-sizing: border-box;
  margin-top: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%; left: 0;
  transform-origin: 50% 0;
  transform: scale(.75) translateY(- 25px);
  transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
  width: 100%;
  z-index: 9;
}
%nice-select-list-hover {
  background-color: transparent !important;
}

%nice-select-option {
  cursor: pointer;
  @include vars(font-weight, primary-font-regular);
  @include vars(line-height, primary-line-height-footnote);
  list-style: none;
  @include vars(min-height, primary-line-height-footnote);
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  @include vars(text-align, preferred-alignment);
  transition: all 0.2s;
  width: 100%;
}
%nice-select-option-hover {
  @include vars(background-color, background-color-primary);
}
%nice-select-option-selected {
  @include vars(font-weight, primary-font-bold);
}
%nice-select-option-disabled {
  background-color: transparent;
  @include vars(color, color-text-menu-disabled-over-color-primary-background);
  cursor: default;
}



// Use display instead of opacity for IE <= 10
%no-csspointerevents-nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}
