
%paragraph--type--feature-full-width {
  align-items: center;
  @include vars(background-color, background-color-quaternary);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include vars(color, color-text-over-color-photo-overlay-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vw;
  padding: rem(24) rem(24) rem(36) rem(24);
  position: relative;
  @include vars(text-align, hero-alignment);
  width: 100vw;
  max-width: 100%;
}

%paragraph--type--feature-full-width-before {
  @include vars(background-color, background-color-photo-overlay);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

%paragraph--type--feature-full-width-after {
  background-image: none;
}

%paragraph--type--feature-full-width-image-after {
  @include vars(background-color, background-color-quaternary);
  content: "";
  height: 100%;
  left: 0;
  opacity: .45;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

%paragraph--type--feature-full-width-field--name-field-title {
  @include vars(color, color-text-title-over-color-photo-overlay-background);
  @include vars(font-family, title-font-family);
  @include vars(font-size, title-font-size-medium);
  @include vars(font-weight, title-font-bold);
  z-index: 10;
}

%paragraph--type--feature-full-width-field--name-field-text-p {
  @include vars(font-family, sentence-font-family);
  @include vars(color, color-text-over-color-photo-overlay-background);
  margin: rem(32) auto;
  max-width: 100%;
  @include mq(desktop) {
    max-width: 65%;
  }

  @include vars(font-size, sentence-font-size-base);
  @include vars(line-height, sentence-line-height-base);
  font-weight: normal;

  @include mq(mobile) {
    @include vars(font-size, sentence-font-size-small);
    @include vars(line-height, sentence-line-height-small);
  }

  @include mq(desktop) {
    @include vars(font-size, sentence-font-size-small);
    @include vars(line-height, sentence-line-height-small);
  }
}

%paragraph--type--feature-full-width-field--type-link-a {
  @include button;
  @include vars(color, button-tertiary-text-and-outline-color);
  @include vars(background-color, button-tertiary-color-background);
  &:hover {
    @include vars(color, button-tertiary-hover-text-and-outline-color);
    @include vars(background-color, button-tertiary-color-hover-background);
  }
  letter-spacing: 0;
  text-transform: none;
}


  // Gradient overlay
%paragraph--type--feature-full-width-gradient-overlay {
  // todo: make gradient mixin; look into the work done for street trust (can it be brought into bene parent?)
  background-image: var(--photo-overlay-linear-gradient);
  content: '';
  display: block;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%feature-full-width {
  .field--name-field-title{
    @include vars(color, color-text-title-over-color-photo-overlay-background);
  }
  .field--name-field-text {
    p {
      @include vars(color, color-text-over-color-photo-overlay-background);
    }
  }
}

%feature-full-width-image{
  min-height: 38.2vw;
}
