
%paragraph--type--tiles {
  @include vars(background-color, background-color-secondary);
  padding-top: 2.5rem;
}

%paragraph--type--tiles-field--name-field-title {
  @include vars(font-size, title-font-size-medium);
  @include vars(font-weight, title-font-bold);
  @include vars(line-height, title-line-height-medium);
  @include vars(color, color-text-title-over-color-secondary-background);
  @include vars(font-family, title-font-family);
  @include vars(text-align, hero-alignment);
  padding-top: 20px;
  padding-bottom: 20px;
}

%paragraph--type--tiles-field--name-field-tiles {
  max-width: rem(1300);
  margin: 0 auto;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, rem(330));
  grid-gap: 30px;
  justify-content: center;

  @include mq(xl) {
    margin: rem(24) 0;
  }

  @include mq(desktop) {
    .field--name-field-image,
    .bg-header {
      @include vars(background-color, background-color-secondary);
      height: 18.36vw;
      width: 100%;
    }
  }
}

%paragraph--type--tiles-field--name-field-tiles-field__item {
  @include vars(text-align, hero-alignment);
  @include vars(background-color, background-color-inset);
  @include vars(font-family, sentence-font-family);
  display: grid;
  grid-template-rows: auto;
  justify-items: stretch;

  @include mq(xl) {
    max-width: rem(380);
  }

  @include mq(desktop) {
    .field--name-field-image,
    .bg-header {
      @include vars(background-color, background-color-secondary);
      height: 18.36vw;
      width: 30.6vw;
    }
  }
}

%paragraph--type--tiles-field--name-field-tiles-field__item-paragraph--type--tile {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-paragraph--type--tile-a {
  align-self: start;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}
%paragraph--type--tiles-field--name-field-tiles-field__item-paragraph--type--tile-a-div {
  height: 100%;
}
%paragraph--type--tiles-field--name-field-tiles-field__item-tile-text {
  align-self: end;
  display: grid;
  grid-template-rows: repeat(3, auto);
  height: 100%;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-image {
  @include vars(background, background-color-inset);
  width: 100%;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-image-img {
  width: 100%;
  max-width: 100%;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-lead {
  @include vars(text-align, preferred-alignment);
  @include vars(font-size, sentence-font-size-footnote);
  @include vars(line-height, sentence-line-height-footnote);
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-image-hover-after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include vars(background-color, background-color-secondary);
  opacity: .45;
  z-index: 1;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-title {
  @include vars(color, color-text-title-over-color-inset-background);
  @include vars(text-align, hero-alignment);
  @include vars(font-family, title-font-family);
  @include vars(font-size, title-font-size-small);
  @include vars(font-weight, title-font-medium);
  @include vars(line-height, title-line-height-small);
  margin-top: rem(28);
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-text-p {
  @include vars(text-align, hero-alignment);
  @include vars(font-size, sentence-font-size-base);
  @include vars(color, color-text-over-color-inset-background);
  @include vars(line-height, sentence-line-height-base);
  margin-bottom: rem(12);
  margin-top: rem(12);
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-link {
  margin-top: auto;
  margin-bottom: rem(38);
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-link-a {
  @include vars(font-size, sentence-font-size-base);
  @include vars(font-weight, sentence-font-bold);
  @include vars(color, color-text-link-over-color-inset-background);
  margin-top: auto;
}

%paragraph--type--tiles-field--name-field-tiles-field__item-field--name-field-link-a-hover {
  @include vars(color, color-text-hover-link-over-color-inset-background);
}
