// Admin adjustments
body.path-user .region.region-content,
body.user-logged-in .region.region-content {
  @include set-bbv-var(background-color, background-color-primary, --body-background-color);
  display: inline-block;
  width: 100%;
}
.toolbar .toolbar-bar {
  position: fixed;
}
.user-logged-in {
  div.messages {
    bottom: 0;
    cursor: pointer;
    left: 1px;
    position: fixed;
    z-index: 1000;
    &:after {
      @include set-bbv-var(background-color,background-color-secondary, --body-user-logged-in-messages-after-background-color);
      @include set-bbv-var(border-color, background-color-tertiary, --body-user-logged-in-messages-after-border-color);
      border-radius: 50%;
      box-shadow: -1px 2px 5px #77b259;
      @include set-bbv-var(color, font-color-primary, --body-user-logged-in-messages-after-font-color);
      content: "×";
      display: inline-block;
      font-size: rem(18);
      padding: rem(2) rem(6);
      position: absolute;
      right: rem(-13);
      text-transform: uppercase;
      top: rem(-13);
    }
  }

  .contextual-links {
    @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-contextual-links-background-color);
    border-radius: 4px 0 4px 4px;
    border: 1px solid #ccc;
    clear: both;
    float: right;
    margin: 0;
    padding: 0.25em 0;
    position: relative;
    right: 6px;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    li {
      @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-contextual-links-li-background-color);
      border: none;
      line-height: 100%;
      // list-style-image: none;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-contextual-links-li-a-background-color);
        @include set-bbv-var(color, font-color-link, --body-user-logged-in-contextual-links-li-a-link-color);
        display: block;
        font-family: sans-serif;
        font-size: small;
        line-height: 0.8em;
        margin: 0.25em 0;
        padding: 0.4em 0.6em;
      }
    }
  }
  .footer {
    padding-bottom: rem(50);
  }
  #block-bene-child-local-tasks {
    @include transition(all 0.4s linear);
    @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-block-bene-child-local-tasks-background-color);
    bottom: 0;
    height: auto;
    padding-right: 45px;
    position: fixed;
    right: -90%;
    width: 90%;
    z-index: 1000;
    @include mq(desktop) {
      right: -55%;
      width: 55%;
    }
    ul.tabs {
      margin: 0;
    }
    li {
      @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-block-bene-child-local-tasks-li-background-color);
      a {
        @include set-bbv-var(background-color, background-color-primary, --body-user-logged-in-block-bene-child-local-tasks-li-a-background-color);
        border: none;
        @include set-bbv-var(color, font-color-link, --body-user-logged-in-block-bene-child-local-tasks-li-link-color);
        display: inline-block;
        font-size: rem(15);
        font-weight: 800;
        padding: rem(5) rem(10) rem(5);
        text-transform: uppercase;
        @include mq(desktop) {
          font-size: rem(18);
          padding: rem(7) rem(20) rem(7);
        }
        &:hover {
          @include set-bbv-var(background-color, background-color-secondary, --body-user-logged-in-block-bene-child-local-tasks-li-a-hover-background-color);
        }
        &.is-active {
          @include set-bbv-var(background-color, background-color-tertiary, --body-user-logged-in-block-bene-child-local-tasks-li-a-is-active-background-color);
        }
      }
    }
    .show-hide {
      @include set-bbv-var(background-color, background-color-tertiary, --body-user-logged-in-block-bene-child-local-tasks-show-hide-background-color);
      cursor: pointer;
      font-size: rem(35);
      height: rem(30);
      left: rem(-30);
      line-height: rem(22);
      padding: 0 rem(8) 0 rem(9);
      position: absolute;
      width: rem(30);
      @include mq(desktop) {
        height: rem(38);
        line-height: rem(38);
      }
      span {
        @include transform(rotate(180deg));
        @include transition(all 0.5s linear);
        background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover !important;
        display: inline-block;
        height: rem(15);
        width: rem(12);
        @include mq(desktop) {
          height: rem(25);
        }

      }
    }
    &.active {
      right: 0;
      .show-hide span {
        @include transform(rotate(0deg));
      }
    }
  }
}
