// Admin adjustments (ODFW Theme)
body.path-user .region.region-content,
body.user-logged-in .region.region-content {
  background-color: bbv(color-background-default); // in case css variables are not supported
  background-color: var(--base_style-body-background-color);
  display: inline-block;
  width: 100%;
}
.toolbar .toolbar-bar {
  position: fixed;
}
.user-logged-in {
  div.messages {
    bottom: 0;
    cursor: pointer;
    left: 1px;
    position: fixed;
    z-index: 1000;
    &:after {
      background-color: #f3faef;
      border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
      border-radius: 50%;
      box-shadow: -1px 2px 5px #77b259;
      color: #325e1c;
      content: "×";
      display: inline-block;
      font-size: rem(18);
      padding: rem(2) rem(6);
      position: absolute;
      right: rem(-13);
      text-transform: uppercase;
      top: rem(-13);
    }
  }

  .contextual-links {
    background-color: bbv(color-background-default); // in case css variables are not supported
    background-color: var(--base_style-contextual-links-background-color);
    border-radius: 4px 0 4px 4px;
    border: 1px solid #ccc;
    clear: both;
    float: right;
    margin: 0;
    padding: 0.25em 0;
    position: relative;
    right: 6px;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    li {
      background-color: bbv(color-background-default); // in case css variables are not supported
      background-color: var(--base_style-contextual-links-list-item-background-color);
      border: none;
      line-height: 100%;
      // list-style-image: none;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        background-color: bbv(color-background-default); // in case css variables are not supported
        background-color: var(--base_style-contextual-links-list-item-link-background-color);
        color: #333;
        display: block;
        font-family: sans-serif;
        font-size: small;
        line-height: 0.8em;
        margin: 0.25em 0;
        padding: 0.4em 0.6em;
      }
    }
  }
  .footer {
    padding-bottom: rem(50);
  }
  #block-bene-child-local-tasks {
    @include transition(all 0.4s linear);
    background-color: bbv(color-background-darkest); // in case css variables are not supported
    background-color: var(--base_style-block-local-tasks-background-color);
    bottom: 0;
    height: auto;
    padding-right: 45px;
    position: fixed;
    right: -90%;
    width: 90%;
    z-index: 1000;
    @include mq(desktop) {
      right: -55%;
      width: 55%;
    }
    ul.tabs {
      margin: 0;
    }
    li {
      background-color: bbv(color-background-default); // in case css variables are not supported
      background-color: var(--base_style-block-local-tasks-list-item-background-color);
      a {
        background-color: bbv(color-theme-primary); // in case css variables are not supported
        background-color: var(--base_style-block-local-tasks-link-background-color);
        border: none;
        color: bbv(color-text-inverse); // in case css variables are not supported
        color: var(--base_style-block-local-tasks-link-color);
        display: inline-block;
        font-size: rem(15);
        font-weight: 800;
        padding: rem(5) rem(10) rem(5);
        text-transform: uppercase;
        @include mq(desktop) {
          font-size: rem(18);
          padding: rem(7) rem(20) rem(7);
        }
        &:hover {
          background-color: bbv(color-theme-primary-darken20); // in case css variables are not supported
          background-color: var(--base_style-block-local-tasks-link-hover-color);
        }
        &.is-active {
          background-color: bbv(color-theme-primary-bright); // in case css variables are not supported
          background-color: var(--base_style-block-local-tasks-link-active-color);
        }
      }
    }
    .show-hide {
      background-color: bbv(color-background-darkest); // in case css variables are not supported
      background-color: var(--base_style-block-local-tasks-show-hide-background-color);
      cursor: pointer;
      font-size: rem(35);
      height: rem(30);
      left: rem(-30);
      line-height: rem(22);
      padding: 0 rem(8) 0 rem(9);
      position: absolute;
      width: rem(30);
      @include mq(desktop) {
        height: rem(38);
        line-height: rem(38);
      }
      span {
        @include transform(rotate(180deg));
        @include transition(all 0.5s linear);
        background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover !important;
        display: inline-block;
        height: rem(15);
        width: rem(12);
        @include mq(desktop) {
          height: rem(25);
        }

      }
    }
    &.active {
      right: 0;
      .show-hide span {
        @include transform(rotate(0deg));
      }
    }
  }
}
