.block-hero {
  position: relative;

  h1 {
    @include set-bbv-var(font-size, font-size-medium, --block-hero-h1-font-size);
    padding: 0 1rem;
    text-shadow: none;
    text-transform: none;
    z-index: 1;

    @include mq(mobile) {
      flex: 0 1 100%;
      text-align: left;
      @include set-bbv-var(font-size, font-size-medium-small, --block-hero-h1-mobile-font-size);
    }

    @include mq(tablet) {
      flex: inherit;
      @include set-bbv-var(font-size, font-size-medium, --block-hero-h1-tablet-font-size);
    }


    @include mq(desktop) {
      flex: inherit;
      @include set-bbv-var(font-size, font-size-medium, --block-hero-h1-desktop-font-size);
    }

  }

}
