.block-hero {
  position: relative;
  @include vars(background-color, background-color-secondary);

  h1 {
    font-size: rem(50);
    padding: 0 1rem;
    text-shadow: none;
    text-transform: none;
    z-index: 1;

    @include mq(mobile) {
      flex: 0 1 100%;
      @include vars(text-align, preferred-alignment);
      @include vars(font-size, primary-font-size-accent);
    }

    @include mq(tablet) {
      flex: inherit;
      font-size: rem(50);
    }

    @include mq(desktop) {
      flex: inherit;
      font-size: rem(50);
    }

  }

}
