.block-hero {
  position: relative;
  @include set-bbv-var(background-color, background-color-tertiary, --general-tertiary-background-color);

  h1 {
    @include set-bbv-var(font-size, font-size-medium, --hero-heading-font-size);
    padding: 0 1rem;
    text-shadow: none;
    text-transform: none;
    z-index: 1;

    @include mq(mobile) {
      flex: 0 1 100%;
      text-align: left;
      @include set-bbv-var(font-size, font-size-medium-small, --hero-heading-font-size-mobile);
    }

    @include mq(tablet) {
      flex: inherit;
      @include set-bbv-var(font-size, font-size-medium, --hero-heading-font-size);
    }


    @include mq(desktop) {
      flex: inherit;
      @include set-bbv-var(font-size, font-size-medium, --hero-heading-font-size);
    }

  }

}
