// Figure
figure {
  margin: 0;
}

.embedded-entity {
  max-width: 100%;
}

//Images align-center
.embedded-entity.align-center{
  width: auto;
  margin: 0 auto;
  max-width: 100%;
}

//Images align-left
.embedded-entity.align-left{
  margin: 0 20px 20px 0;
  max-width: 50%;
}

//Images align-right
.embedded-entity.align-right{
  margin: 20px 0 0 20px;
  max-width: 50%;
}
