// Default Styles (Mobile First!)
.block-bene-footer-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include set-bbv-var(background-color, background-color-primary, --footer-block-background-color);


  .menu {
    a {
      @include set-bbv-var(color, color-text-primary, --footer-menu-link-color);
      @include set-bbv-var(font-size, font-size-base-small, --bene_footer_block-menu-font-size);
      font-weight: 600;
      &:hover, &:focus, &.is-active {
        @include set-bbv-var(color, color-primary-first, --footer-menu-link-hover-color);
      }
    }

    .menu-item {
      line-height: rem(30);

      a {
        @include font-style('bold'); // font-menu-primary
        @include set-bbv-var(font-size, font-size-base, --bene_footer_block-menu-item-link);
        &:hover, &:focus, &.is-active {
          @include set-bbv-var(color, font-color-link, --footer-menu-link-color);
        }
      }
    }
  }

  .copyright,
  .contact-links,
  .contact-links .additional-contact p,
  .contact-links .additional-footer p {
    @include font-style('regular');
    @include set-bbv-var(font-size, font-size-base-small, --bene_footer_block-menu-item-contact-links-additional);
    line-height: rem(25);
  }

  .contact-links {
    @include set-bbv-var(font-size, font-size-base-x-small, --bene_footer_block-menu-item-contact-links);
    .address {
      white-space: pre-line;
    }
    .phone, .email, .additional-contact {
      display: block;
      p {
        @include set-bbv-var(font-size, --font-size-base-x-small, --bene_footer_block-phone-p-fontsize);
        margin: rem(5) 0;
      }
    }
  }

  .additional-footer {
    p {
      font-size: rem(14);
      margin: 0 rem(5) 0;
    }
  }

  .social-links {
    a {
      @include set-bbv-var(background-color, background-color-secondary, --footer-social-background-color);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 62% 62%;
      border: rem(1) solid bbv(background-color-secondary);  // in case css variables are not supported
      border: rem(1) solid var(--footer-social-border-color);
      border-radius: 50%;
      display: inline-block;
      @include set-bbv-var(height, social-media-icon-size, --footer-social-icon-size);
      margin-bottom: rem(10);
      margin-left: rem(10);
      padding: 1rem;
      position: relative;
      text-indent: -9999px;
      @include set-bbv-var(width, social-media-icon-size, --footer-social-icon-size);
      &:hover, &:focus, &:active {
        @include set-bbv-var(background-color, background-color-tertiary, --footer-social-hover-background-color);
      }
    }
    .facebook { background-image:  url('../images/svgs/facebook-f.svg'); }
    .google { background-image: url('../images/svgs/google-plus.svg'); }
    .instagram { background-image: url('../images/svgs/instagram.svg'); }
    .linkedin { background-image: url('../images/svgs/linkedin.svg'); }
    .pinterest { background-image: url('../images/svgs/pinterest-p.svg'); }
    .tumblr { background-image: url('../images/svgs/tumblr.svg'); }
    .twitter { background-image: url('../images/svgs/twitter.svg'); }
    .youtube { background-image: url('../images/svgs/youtube-play.svg'); }
  }

  .copyright {
    font-size: rem(12);
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
