// Default Styles (Mobile First!)
.block-bene-footer-block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include set-bbv-var(background-color, background-color-primary, --block-bene-footer-background-color);


  .menu {
    a {
      @include set-bbv-var(color, color-text-primary, --block-bene-footer-menu-link-color);
      @include set-bbv-var(font-size, font-size-base - 2rem, --block-bene-footer-menu-link-font-size);
      font-weight: 600;
      &:hover, &:focus, &.is-active {
        @include set-bbv-var(color, color-primary-first, --block-bene-footer-menu-link-hover-focus-active-color);
      }
    }

    .menu-item {
      line-height: rem(30);

      a {
        @include font-style('bold'); // font-menu-primary
        @include set-bbv-var(font-size, font-size-base, --block-bene-footer-menu-item-link-font-size);
        &:hover, &:focus, &.is-active {
          @include set-bbv-var(color, font-color-link, --block-bene-footer-menu-item-link-color);
        }
      }
    }
  }

  .copyright,
  .contact-links,
  .contact-links .additional-contact p,
  .contact-links .additional-footer p {
    @include font-style('regular');
    @include set-bbv-var(font-size, font-size-base - 2rem, --block-bene-footer-copyright-contact-links-font-size);
    line-height: rem(25);
  }

  .contact-links {
    @include set-bbv-var(font-size, font-size-base - 4rem, --block-bene-footer-contact-links-font-size);
    .address {
      white-space: pre-line;
    }
    .phone, .email, .additional-contact {
      display: block;
      p {
        @include set-bbv-var(font-size, font-size-base - 4rem, --block-bene-footer-contact-links-phone-email-additional-contact-p-fontsize);
        margin: rem(5) 0;
      }
    }
  }

  .additional-footer {
    p {
      font-size: rem(14);
      margin: 0 rem(5) 0;
    }
  }

  .social-links {
    a {
      @include set-bbv-var(background-color, background-color-secondary, --block-bene-footer-social-links-a-background-color);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 62% 62%;
      @include set-bbv-with-arg-before-var(border, rem(1) solid, background-color-secondary, --block-bene-footer-social-links-a-border-color);
      border-radius: 50%;
      display: inline-block;
      @include set-bbv-var(height, social-media-icon-size, --block-bene-footer-social-links-a-height);
      margin-bottom: rem(10);
      margin-left: rem(10);
      padding: 1rem;
      position: relative;
      text-indent: -9999px;
      @include set-bbv-var(width, social-media-icon-size, --block-bene-footer-social-links-a-width);
      &:hover, &:focus, &:active {
        @include set-bbv-var(background-color, background-color-tertiary, --block-bene-footer-social-links-a-hover-focus-active-background-color);
      }
    }
    .facebook { background-image:  url('../images/svgs/facebook-f.svg'); }
    .google { background-image: url('../images/svgs/google-plus.svg'); }
    .instagram { background-image: url('../images/svgs/instagram.svg'); }
    .linkedin { background-image: url('../images/svgs/linkedin.svg'); }
    .pinterest { background-image: url('../images/svgs/pinterest-p.svg'); }
    .tumblr { background-image: url('../images/svgs/tumblr.svg'); }
    .twitter { background-image: url('../images/svgs/twitter.svg'); }
    .youtube { background-image: url('../images/svgs/youtube-play.svg'); }
  }

  .copyright {
    font-size: rem(12);
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
