// Default Styles (Mobile First!)
input[type="search"], textarea {
  @extend %input-search-textarea;
}

.js-facets-checkbox-links,
.js-form-type-checkbox {
  input {
    @extend %js-form-type-checkbox-input;
  }
  label {
    @extend %js-form-type-checkbox-label;

    &:hover {
      @extend %js-form-type-checkbox-label-hover;
    }
    &::before {
      @extend %js-form-type-checkbox-label-checkmark;

      &:hover {
        @extend %js-form-type-checkbox-label-checkmark-hover;
      }
    }
  }
  input[type="checkbox"]:checked + label::before {
    @extend %js-form-type-checkbox-input-checkbox-checked-label-before;
  }
}

label {
  @extend %form-label;
}

input:focus {
  @extend %form-input-focus;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  @extend %form-input;
}
.user-login-form {
  .form-item {
    @extend %form-item;
  }
  .description {
    @extend %form-description;
  }
}

input[type='submit'] {
  @extend %form-input-submit;
  &:hover {
    @extend %form-input-submit-hover;
  }
}

.region-content form {
  @extend %region-content-form;
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .region-content form {
    @include span-columns(6);
    @include shift(3);
    float: none;
    padding: 1rem;
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
