.site-header{
  padding: 20px 10px;
  display: flex;
  min-height: 100px;
  position: relative;
  @extend %site-header;

  @include mq(desktop) {
    align-items: flex-end;
    min-height: rem(133);
  }

  .inner{
    display: flex;
    flex: 1;
    margin: 0 auto;
  }

  .logo-wrapper{
    align-items: center;
    display: flex;
    width: 100%;

    @extend %site-logo;
  }

  .site-logo img { 
    @include mq(mobile) {
      max-height: rem(50);
    }
  }

  .desktop-nav {
    display: none;
  } 
  .mobile-nav .menu{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  // Utility menu links
  .desktop-nav .menu--utility .menu-item a {
    @extend %menu-utility;
  }

  // Small screen navigation
  .mobile-nav {

    .region-primary-nav {
      @include vars(background-color, color-neutral-a);
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: absolute;
      top: rem(100);
      left: 0;
      width: 100%;
      z-index: 21;

      display: none;
    } 

    .region-primary-nav nav { 
      @include vars(background-color, color-neutral-a);
      margin-right: 0;

      &:nth-of-type(1) { 
        order: 2; // makes the utility nav at the bottom
        padding-bottom: 2rem; 
      }

      .menu { 
        display: block;
      }
    }

    .menu {
      text-align: center;
      margin: 0;
    }

    @extend  %mobile-nav;
  }

  .desktop-nav{
    align-self: stretch;
    display: none;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-end;

    @include mq(desktop) {
      display: flex;
    }

  }

  .region-primary-nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: static;

    nav{
      flex: none;
      margin-right: 0.5em;
      @extend %primary-nav;
    }
  }

  .menu {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 5px 0;
  }

  .menu-item{@extend  %menu-item;}

  .menu li, 
  .menu a{
    @extend %menu-link;
    flex-shrink: 0; 
  }

  .menu li, .menu a{
    &:hover{@extend %menu-link-hover;}
  }

  .menu a{
    &:hover{@extend %menu-item-hover;}
  }

  #joinButton{@extend %join-button;
    .menu-item{@extend %join-menu;}
  }

  .mobile-menu-toggle{
    display: inline-block;
    float: right;
    height: 50px;
    width: 80px;

    div{
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 9999;
    }

    span{
      display: block;
      height: 6px;
      left: 25%;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      width: 43.76%;
      z-index: 9999;
      cursor: pointer;

      &:before, &:after{
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: transform 0.3s, background-color 0.3s;
        width: 100%;
        z-index: 9999;
      }

      &:after{
        transform: translateY(150%);
      }

      @extend %menu-toggle-hamburger;
    }
  }

  .mobile-menu-toggle.active{
    background-color: transparent;

    &:before, &:after{
      @include vars(background, color-primary-c);
      transform: rotate(45deg) translateY(0);
      transition: transform 0.3s;
    }

    &:after {
      transform: rotate(-45deg) translateY(0);
    }
  }
}


