.site-header{
  @extend %site-header;

  .inner{@extend %header-inner-div;}

  .logo-wrapper{@extend %site-logo;}

  .desktop-nav, .mobile-nav .menu{@extend %mobile-menu;}

  .desktop-nav .menu--utility .menu-item a{
    @extend %menu-utility;
  }

  .mobile-nav{@extend  %mobile-nav;
    .menu{@extend %text-align-center;}
  }

  .desktop-nav{@extend %desktop-nav;}

  .region-primary-nav{
    @extend %primary-nav-region;
    nav{@extend %primary-nav;}
  }

  .menu{@extend %nav-menu;}

  .menu-item{@extend  %menu-item;}

  .menu li, .menu a{@extend %menu-link;}

  .menu li, .menu a{
    &:hover{@extend %menu-link-hover;}
  }

  .menu--main .menu-item{
    @extend %main-menu-button;
  }

  #joinButton{@extend %join-button;
    .menu-item{@extend %join-menu;}
  }

  .mobile-menu-toggle{
    @extend %menu-toggle;
    div{@extend %menu-toggle-div;}
    span{@extend %menu-toggle-span;}
  }

  .mobile-menu-toggle.active{
    @extend %menu-toggle;
    div{@extend %menu-toggle-div;}
    span{@extend %menu-toggle-span;}
    span{@extend %menu-toggle-active;}
  }
}


