.block-hero {
  visibility: hidden;
  @include set-bbv-var(align-items, hero-alignment, --block-hero-align-items);
  @include set-bbv-var(background-color, background-color-primary, --block-hero-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 49vw; /* This sets the aspect ratio */
  @include set-bbv-var(justify-content, hero-alignment, --block-hero-justify-content);
  width: 100vw;
  @include mq(tablet) {
    height: 24vw;
  }
  @include mq(desktop) {
    height: 24vw;
  }
  h1, h2 {
    @include set-bbv-var(color, font-color-secondary, --block-hero-h1-h2-text-color);
    flex: 0 1 auto;
    @include set-bbv-var(font-size, font-size-medium - 18rem, --block-hero-h1-h2-font-size);
    line-height: 1;
    margin-top: 0;
    @include set-bbv-var(text-align, hero-alignment, --block-hero-h1-h2-text-align);
    text-shadow: 2px 2px 10px #000;
    text-transform: uppercase;
    @include mq(tablet) {
      @include set-bbv-var(font-size, font-size-large, --block-hero-h1-h2-font-size-tablet);
    }
    @include mq(desktop) {
      @include set-bbv-var(font-size, font-size-large, --block-hero-h1-h2-font-size-desktop);
    }
  }
  &.no-bgimage {
    height: rem(100);
    @include mq(tablet) {
      height: rem(120);
    }
    @include mq(desktop) {
      height: rem(120);
    }
  }
}
