.block-bene-home-page-feature-block {
  @extend %block-bene-home-page-feature-block;

  .field--name-bene-lead {
    @extend %block-bene-home-page-feature-block-field--name-bene-lead;
  }

  .field--name-bene-title {
    @extend %block-bene-home-page-feature-block-field--name-bene-title;
  }

  .field--name-bene-link {
    @extend %block-bene-home-page-feature-block-field--name-bene-button;
    a {
      @extend %block-bene-home-page-feature-block-field--name-bene-button-link;

      &:hover {
        @extend %block-bene-home-page-feature-block-field--name-bene-button-link-hover;
      }
    }
  }

  // Gradient overlay
  &::after {
    @extend %block-bene-home-page-feature-block-after;
  }
}
