.page-node-type-page .block-system-main-block {
  .field--name-bene-intro {
    float: none;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: none;

  }

  h2 {
    @include set-bbv-var(color, font-color-primary, --page-node-type-page-block-system-main-block-h2-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    margin-top: 0;

    @include mq(mobile) {
      font-size: rem(32);
    }
  }

  h3 {
    @include set-bbv-var(color, font-color-secondary, --page-node-type-page-block-system-main-block-h3-text-color);
    font-size: medium;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 0;

    a {
      @include set-bbv-var(color, font-color-link, --page-node-type-page-block-system-main-block-h3-link-color);
    }
    a:hover {
      @include set-bbv-var(color, font-color-hover-link, --page-node-type-page-block-system-main-block-h3-link-hover-color);
    }
  }

  p {
    @include set-bbv-var(color, font-color-primary, --page-node-type-page-block-system-main-block-p-text-color);
    font-size: rem(18);
    font-weight: normal;
    line-height: normal;

    @include mq(mobile) {
      font-size: rem(20);
    }

    @include mq(desktop) {
      font-size: rem(24);
    }
  }

  blockquote {
    p {
      @include set-bbv-var(color, font-color-tertiary, --page-node-type-page-block-system-main-block-blockquote-p-text-color);
      font-size: rem(24);
      float: none;
      font-style: normal;
    }
  }
}
