// Default Styles (Mobile First!)
.page-node-type-listing-page {

}

.field--name-bene-listing-view {
  .view-filters {
    @include span-columns(3);
  }
}

.view-content {
  display: block;
}

.view-row {
  clear: both;
}

.node--view-mode-teaser .image,
.node--view-mode-search-result .image {
  @include span-columns(3);

  img {
    height: auto;
    width: 100%;
  }
}

.node--view-mode-teaser .text,
.node--view-mode-search-result .text {
  @include span-columns(8);
  @include shift(0.25);

  @include mq(mobile) {
    @include span-columns(12);
    @include shift(0);
  }
}

.node--view-mode-teaser .field--name-bene-intro {
  padding: 0;
  margin-left: 0;
  width: 100%;
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .page-node-type-listing-page {
    .block-system-main-block .field--name-bene-intro {
      @include set-bbv-var(font-size, font-size-x-small, --listing-page-page-node-type-listing-page-block-system-main-block-field-intro-desktop-font-size);
      margin-bottom: rem(32);
      margin-top: rem(24);
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
