// Default Styles (Mobile First!)

.block-system-branding-block {
  @include set-bbv-var(font-size, font-size-base + rem(2), --branding-block-font-size);
  @include set-bbv-var(font-style, font-style-italic, --branding-block-font-style);
  @include set-bbv-var(font-weight, font-weight-normal, --branding-block-font-weight);
  @include set-bbv-var(text-align-last, hero-alignment, --branding-block-text-align-last);
}
.mobile-menu-toggle {
  display: inline-block;
  float: right;
  height: 50px;
  width: 80px;
  div {
    height: 100%;
    position: relative;
    top: -6px;
    width: 100%;
    z-index: 9999;
    span {
      @include set-bbv-var(background-color, background-color-primary, --mobile-menu-toggle-div-span-background-color);
      display: block;
      height: 6px;
      left: 25%;
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      width: 43.76%;
      z-index: 9999;
      &:before,
      &:after {
        @include set-bbv-var(background, background-color-secondary, --mobile-menu-toggle-div-span-after-background-color);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        transform: translateY(-150%);
        transition: transform 0.3s, background-color 0.3s;
        width: 100%;
        z-index: 9999;
      }
      &:after {
        transform: translateY(150%);
      }
    }
    &:hover span {
      @include set-bbv-var(background, background-color-tertiary, --mobile-menu-toggle-div-hover-background-color);
      &:before,
      &:after {
        @include set-bbv-var(background, background-color-tertiary, --mobile-menu-toggle-div-hover-after-background-color);
      }
    }
  }
  &.active {
    div span {
      background-color: transparent;
      &:before,
      &:after {
        @include set-bbv-var(background, background-color-tertiary, --mobile-menu-toggle-active-background-color);
        transform: rotate(45deg) translateY(0);
        transition: transform 0.3s;
      }
      &:after {
        transform: rotate(-45deg) translateY(0) ;
      }
    }
  }
}
.menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}
.mobile-nav {
  .region-primary-nav {
    display: flex;
    flex-direction: column-reverse;
    @include set-bbv-var(background-color, background-color-primary, --mobile-nav-region-primary-nav-background-color);
    left: 0;
    position: absolute;
    top: rem(101);
    width: 100%;
    z-index: 20;
  }
  .menu a {
    @include set-bbv-with-arg-before-var(border-bottom, 1px solid, color-text-link-over-color-primary-background, --mobile-nav-menu-link-border-bottom);
    @include set-bbv-var(color, color-text-link-over-color-primary-background, --mobile-nav-menu-link-color);
    display: inline-block;
    font-size: rem(18);
    font-weight: 600;
    padding: rem(25) rem(33);
    position: relative;
    text-transform: uppercase;
    width: 100%;
    &:after {
      @include all-transition;
      background: transparent url('../images/svgs/line-arrow.svg') no-repeat center center /cover;
      content: "";
      display: inline-block;
      height: rem(19);
      position: absolute;
      right: rem(33);
      top: rem(25);
      width: rem(9);
    }
    &.is-active {
      @include set-bbv-var(color, color-text-link-over-color-primary-background-hover, --mobile-nav-menu-link-active-color);
    }
  }
}
.mobile-nav .menu--utility .menu li {
  a {
    @include set-bbv-var(font-size, font-size-base, --mobile-nav-menu-li-link-font-size);
    @include set-bbv-var(font-weight, font-weight-normal, --mobile-nav-menu-li-link-font-weight);
    padding: rem(15) rem(33);
    &:after {
      top: rem(15);
    }
  }
  &:last-child a {
    @include set-bbv-var(background-color, background-color-secondary, --mobile-nav-menu-li-last-child-link-background-color);
    @include set-bbv-var(color, color-text-link-over-color-secondary-background, --mobile-nav-menu-li-last-child-link-text-color);
    @include set-bbv-var(font-weight, font-weight-bold, --mobile-nav-menu-li-last-child-link-font-weight);
    &.is-active {
      @include set-bbv-var(color, color-text-link-over-color-secondary-background-hover, --mobile-nav-menu-li-last-child-link-active-text-color);
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .block-system-branding-block {
    min-width: rem(233);
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 99%;
      }
    }
  }
  .desktop-nav .menu--utility .menu-item {
    a {
      @include set-bbv-var(color, color-text-menu-over-color-primary-background, --desktop-nav-menu-utility-menu-item-link-color);
      @include set-bbv-var(font-size, font-size-base - rem(2), --desktop-nav-menu-utility-menu-item-font-size);
      &:hover, &:focus, &.is-active {
        @include set-bbv-var(color, color-text-menu-over-color-primary-background-hover, --desktop-nav-menu-utility-menu-item-link-hover-color);
      }
    }
    &:last-child a {
      @include button;
      @include set-bbv-var(color, button-primary-text-and-outline-color, --desktop-nav-menu-utility-menu-item-last-child-link-text-color);
      @include set-bbv-var(background-color, button-primary-color-background, --desktop-nav-menu-utility-menu-item-last-child-link-background-color);
      &:hover {
        @include set-bbv-var(color, button-primary-text-and-outline-hover-color, --desktop-nav-menu-utility-menu-item-last-child-link-hover-text-color);
        @include set-bbv-var(background-color, button-primary-hover-color-background, --desktop-nav-menu-utility-menu-item-last-child-link-hover-background-color);
      }
      @include set-bbv-var(font-size, font-size-base - rem(2), --desktop-nav-menu-utility-menu-item-last-child-link-font-size);
      @include set-bbv-var(font-weight, font-weight-bold, --desktop-nav-menu-utility-menu-item-last-child-link-font-weight);
      letter-spacing: 0;
      padding: rem(10) rem(15);
      top: 6px;
    }
  }
  .desktop-nav .menu--main .menu-item {
    a {
      @include set-bbv-var(color, color-text-secondary-menu-over-color-primary-background, --desktop-nav-main-menu-item-link-text-color);
      @include set-bbv-var(font-weight, font-weight-bold, --desktop-nav-main-menu-font-weight);
      letter-spacing: rem(0.5);
      text-transform: uppercase;
      &:hover, &:focus, &.is-active {
        @include set-bbv-var(color, color-text-secondary-menu-hover-over-color-primary-background, --desktop-nav-main-menu-item-link-hover-focus-active-text-color);
      }
      &.is-active {
        cursor: default;
      }
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
