// Default Styles (Mobile First!)

.site_branding {
  @extend %branding;
}

.block-system-branding-block {
  @extend %block-system-branding-block;
}
.mobile-menu-toggle {
  @extend %mobile-menu-toggle;
  div {
    @extend %mobile-menu-toggle-div;
    span {
      @extend %mobile-menu-toggle-div-span;
      &:before,
      &:after {
        @extend %mobile-menu-toggle-div-span-before-and-after;
      }
      &:after {
        @extend %mobile-menu-toggle-div-span-after;
      }
    }
    &:hover span {
      @extend %mobile-menu-toggle-div-hover;
      &:before,
      &:after {
        @extend %mobile-menu-toggle-div-hover-before-and-after;
      }
    }
  }
  &.active {
    div span {
      @extend %mobile-menu-toggle-active-div-span;
      &:before,
      &:after {
        @extend %mobile-menu-toggle-active-div-span-before-and-after;
      }
      &:after {
        @extend %mobile-menu-toggle-active-div-span-after;
      }
    }
  }
}
.menu-item--collapsed {
  @extend %menu-item--collapsed;
}
.mobile-nav {
  .region-primary-nav {
    @extend %mobile-nav-menu-region-primary-nav;
  }
  .menu a {
    @extend %mobile-nav-menu-region-primary-nav-menu-link;
    &:after {
      @extend %mobile-nav-menu-region-primary-nav-menu-link-after;
    }
    &.is-active {
      @extend %mobile-nav-menu-region-primary-nav-menu-link-after-is-active;
    }
  }
}
.mobile-nav .menu--utility .menu li {
  a {
    @extend %menu-item-link;
    &:after {
      @extend %menu-item-link-after;
    }
  }
  &:last-child a {
    @extend %menu-item-last-child-link;
    &.is-active {
      @extend %menu-item-last-child-link-is-active;
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .block-system-branding-block {
    min-width: rem(233);
    a {
      display: inline-block;
      width: 100%;
      img {
        width: 99%;
      }
    }
  }
  .desktop-nav .menu--utility .menu-item {
    a {
      @include vars(color, color-text-secondary-menu-over-color-primary-background);
      @include vars(font-size, primary-font-size-footnote);
      &:hover, &:focus, &.is-active {
        @include vars(color, color-text-hover-secondary-menu-over-color-primary-background);
      }
    }
  }
  .desktop-nav .menu--main .menu-item {
    a {
      @include vars(color, color-text-menu-over-color-primary-background);
      @include vars(font-weight, primary-font-bold);
      letter-spacing: rem(0.5);
      text-transform: uppercase;
      &:hover, &:focus, &.is-active {
        @include vars(color, color-text-hover-menu-over-color-primary-background);
      }
      &.is-active {
        cursor: default;
      }
    }
    &:last-child a {
      @include button;
      @include vars(color, button-primary-text-and-outline-color);
      @include vars(background-color, button-primary-color-background);
      &:hover {
        @include vars(color, button-primary-hover-text-and-outline-color);
        @include vars(background-color, button-primary-hover-color-background);
      }
      @include vars(font-size, primary-font-size-footnote); // was rem(12)
      @include vars(font-weight, primary-font-bold);
      letter-spacing: 0;
      padding: rem(10) rem(15);
      top: 6px;
    }
  }
}

.block-bene-sub-navigation-block {
  @extend %block-bene-sub-navigation-block;
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
