.mobile-menu-toggle {
  @include set-bbv-var(color, font-color-accent, --mobile-menu-toggle-text-color);
}

.mobile-nav {
  .region-primary-nav {
    @include set-bbv-var(background, background-color-tertiary, --mobile-nav-region-primary-nav-background);
  }

  .menu {
    @include set-bbv-var(text-align, preferred-alignment, --mobile-nav-menu-text-align);
  }

  .menu a {
    @include set-bbv-var(color, font-color-link, --mobile-nav-menu-link-text-color);
    border-bottom: none;
    @include font-style('regular');
    @include set-bbv-var(font-size, font-size-small, --mobile-nav-menu-link-font-size);
    padding: 0.5rem;

    &:after {
      display: none;
    }

    menu--main {
      li:first-of-type { padding-top: 1rem; }
      a {
        @include font-style('black');
        @include set-bbv-var(font-size, font-size-small, --mobile-nav-menu-link-menu-main-link-font-size);
      }
    }

    .menu--utility {
      li:last-of-type { padding: 1rem; }
    }

  }
}