.mobile-menu-toggle {
  @include set-bbv-var(color, font-color-accent, --general-font-accent-color);
}

.mobile-nav {
  .region-primary-nav {
    @include set-bbv-var(background, background-color-tertiary, --general-tertiary-background-color);
  }

  .menu {
    @include set-bbv-var(text-align, preferred-alignment, --general-preferred-alignment);
  }

  .menu a {
    @include set-bbv-var(color, font-color-link, --general-link-color);
    border-bottom: none;
    @include font-style('regular');
    @include set-bbv-var(font-size, font-size-small, --general-font-size-small);
    padding: 0.5rem;

    &:after {
      display: none;
    }

    menu--main {
      li:first-of-type { padding-top: 1rem; }
      a {
        @include font-style('black');
        @include set-bbv-var(font-size, font-size-small, --general-font-size-small);
      }
    }

    .menu--utility {
      li:last-of-type { padding: 1rem; }
    }

  }
}