// Default Styles (Mobile First!)
.external-newsletter {
  align-items: center;
  @include set-bbv-var(background-color, color-primary-first, --external-newsletter-background-color);
  @include set-bbv-var(color, font-color-tertiary, --external-newsletter-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(12);
  .mailchimp-signup-subscribe-form,
  .mailchimp-newsletter-mergefields {
    display: flex;
    justify-content: center;
  }
  .mailchimp-newsletter-mergefields {
    width: 75%
  }
  .form-actions {
    input {
      height: 3.125rem;
      padding: 1rem 1.875rem;
      margin-top: .9rem;
    }
  }
  .form-item {
    flex-grow: 1;
    width: 30%;
    margin: 0 10px;
  }
  h2, p, a {
    margin: 0 auto;
    max-width: 94%;
    text-align: center;
  }
  label {
    @include set-bbv-var(color, font-color-tertiary, --external-newsletter-label-text-color);
  }
  p {
    @include set-bbv-var(color, font-color-tertiary, --external-newsletter-p-text-color);
    margin: rem(6) 0;
    font-family: bbv(font-family-secondary);
    font-family: var(--general-font-family-secondary);
  }
  a {
    @include set-bbv-var(color, font-color-link, --external-newsletter-link-color);
    &:after {
      @include all-transition;
      content: ' →';
      display: inline-block;
      left: rem(4);
      position: relative;
    }
    &:hover:after {
      left: rem(8);
    }
  }
  a.button {
    @include set-bbv-var(background-color, color-primary-second, --external-newsletter-link-button-background-color);
    font-size: rem(12);
    font-weight: 600;
    padding: rem(15) rem(20);
    text-transform: none;
    &:after {
      content: none;
    }
    &:hover {
      @include set-bbv-var(background-color, color-primary-second, --external-newsletter-link-button-hover-background-color);
    }
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
