// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include set-bbv-var(background-color, background-color-secondary, --nice-select-background-color);
  @include set-bbv-var(border-radius, preferred-border-radius, --nice-select-border-radius);
  border: none;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  @include set-bbv-var(font-size, font-size-base-small, --nice-select-font-size);
  @include set-bbv-var(font-weight, font-weight-bold, --nice-select-font-weight);
  @include set-bbv-var(height, input-height, --nice-select-height);
  @include set-bbv-var(line-height, input-height - 2px, --nice-select-line-height);
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  .current {
    @include set-bbv-var(color, font-color-accent, --nice-select-current-text-color);
  }

  // Arrow
  &:after {
    @include transform(rotate(90deg));
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: transparent url(../images/svgs/arrow.svg) no-repeat center center/cover;
    content: "";
    height: rem(14);
    display: inline-block;
    position: absolute;
    right: rem(32);
    top: 50%;
    width: rem(16);
    margin-top: rem(-6);
    z-index: 2;
  }

  &.open {
    @extend .active;
    &:after {
      transform: rotate(-90deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    @include set-bbv-var(border-color, disabled-border-color, --nice-select-disabled-border-color);
    @include set-bbv-var(color, font-color-secondary, --nice-select-disabled-text-color);
    pointer-events: none;
    &:after {
      @include set-bbv-var(border-color, disabled-border-color, --nice-select-disabled-after-border-color);
    }
  }

  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }
  &.small {
    @include set-bbv-var(font-size, font-size-base-x-small, --nice-select-small-font-size);
    @include set-bbv-var(height, input-height-small, --nice-select-small-height);
    @include set-bbv-var(line-height, input-height-small - 2px, --nice-select-small-line-height);
    &:after {
      height: 4px;
      width: 4px;
    }
    .option {
      @include set-bbv-var(line-height, input-height-small - 2px, --nice-select-small-option-line-height);
      @include set-bbv-var(min-height, input-height-small - 2px, --nice-select-small-option-min-height);
    }
  }

  // List and options
  .list {
    background-color: #fff;
    @include set-bbv-var(border-radius, preferred-border-radius, --nice-select-list-border-radius);
    // box-shadow: 0 0 0 1px shadow-transparent-color; // in case css variables are not supported
    box-shadow: 0 0 0 1px var(--nice-select-list-shadow);
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- input-height / 2); // in case css variables are not supported
    transform: scale(.75) translateY(- var(--nice-select-list-transform-move-y));
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    width: 100%;
    z-index: 9;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    @include set-bbv-var(line-height, input-height - 2px, --nice-select-option-line-height);
    list-style: none;
    @include set-bbv-var(min-height, input-height - 2px, --nice-select-option-min-height);
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    width: 100%;
    &:hover, &.focus, &.selected.focus {
      @include set-bbv-var(background-color, background-color-hover, --nice-select-option-hover-focus-selected-background-color);
    }
    &.selected {
      font-weight: bold;
    }
    &.disabled {
      background-color: transparent;
      @include set-bbv-var(color, disabled-color, --nice-select-option-disabled-text-color);
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}
