.paragraph--type--media {
  font-size: rem(14);
  font-style: italic;
  margin: rem(24) 0;
  text-align: center;
  width: 100%;
  img {
    max-width: 100%;
  }
}

.paragraph--type--rich-text {
  figure {
    margin: rem(16) 0;
  }
  figcaption {
    font-size: rem(14);
    font-style: italic;
  }
  .embedded-entity.align-left,
  figure.align-left {
    margin-right: rem(32);
  }
  .embedded-entity.align-right,
  figure.align-right {
    margin-left: rem(32);
  }

  .embedded-entity.align-left,
  .embedded-entity.align-right {
    margin-bottom: rem(12);
  }

  p,
  ol li,
  ul li {
    color: bbv(font-color-primary); // in case css variables are not supported
    color: var(--general-font-primary-color);
  }
  blockquote {
    margin: rem(32) auto;
    max-width: 80%;
    text-align: center;
    p {
      color: bbv(font-color-primary); // in case css variables are not supported
      color: var(--general-font-primary-color);
      font-size: rem(26);
      font-style: italic;
      font-weight: 600;
      line-height: rem(39);
      margin: 0;
      &:before {
        content: "“";
      }
      &:after {
        content: "”";
      }
    }

    &:after {
      background-color: bbv(background-color-tertiary); // in case css variables are not supported
      background-color: var(--general-tertiary-background-color);
      content: "";
      display: inline-block;
      height: rem(4);
      position: relative;
      width: 25%;
    }
  }
  img {
    max-width: 99%;
  }
}

.paragraph--type--feature-full-width {
  align-items: center;
  background-color: bbv(background-color-tertiary); // in case css variables are not supported
  background-color: var(--general-tertiary-background-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: bbv(font-color-primary); // in case css variables are not supported
  color: var(--general-font-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 38.2vw;
  padding: rem(24) rem(24) rem(36) rem(24);
  position: relative;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  &:before {
    background-color: rgba(0,0,0,0.4);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .field--name-field-title {
    color: bbv(font-color-primary);
    color: var(--general-font-primary-color);
    font-family: bbv(font-family-primary);
    font-family: var(--general-font-family-primary);
    font-size: bbv(font-size-large);
    font-size: var(--general-font-size-large);
    font-weight: bbv(font-weight-bold);
    font-weight: var(--general-font-weight-bold);
    z-index: 10;
  }
  .field--name-field-text {
    z-index: 10;
    p {
      font-family: bbv(font-family-primary);
      font-family: var(--general-font-family-primary);
      color: bbv(font-color-primary);
      color: var(--general-font-primary-color);
      margin: rem(32) auto;
      max-width: 100%;
      @include mq(desktop) {
        max-width: 65%;
      }
    }
  }
  .field--type-link {
    z-index: 10;
    a {
      @include button;
      color: bbv(font-color-link);
      color: var(--general-link-color);
      background-color: bbv(background-color-secondary);
      background-color: var(--general-secondary-background-color);
      &:hover {
        background-color: bbv(background-color-tertiary);
        background-color: var(--general-tertiary-background-color);
      }
      letter-spacing: 0;
      text-transform: none;
    }
  }

  // Gradient overlay
  &::after {
    background-image: linear-gradient(bbv(--gradient-direction), bbv(--gradient-start-color), bbv(--gradient-end-color));
    background-image: var(--feature_block-linear-gradient);
    content: '';
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
