.paragraph--type--media {
  @extend %paragraph--type--media;
  img {
    @extend %paragraph--type--media-img;
  }
}

.paragraph--type--rich-text {
  @include vars(background-color, background-color-inset);

  .field--name-field-text {

    h2 {
      @extend %page-node-type-page-block-system-main-block-h2;
    }

    h3 {
      @extend %page-node-type-page-block-system-main-block-h3;

      a {
        @extend %page-node-type-page-block-system-main-block-h3-link;
      }
      a:hover {
        @extend %page-node-type-page-block-system-main-block-h3-link-hover;
      }
    }

    figure {
      @extend %paragraph--type--rich-text-figure;
    }
    figcaption {
      @extend %paragraph--type--rich-text-figcaption;
    }
    .embedded-entity.align-left,
    figure.align-left {
      @extend %paragraph--type--rich-text-align-left;
    }
    .embedded-entity.align-right,
    figure.align-right {
      @extend %paragraph--type--rich-text-align-right;
    }

    .embedded-entity.align-left,
    .embedded-entity.align-right {
      @extend %paragraph--type--rich-text-alignment;
    }

    p,
    ol li,
    ul li {
      @extend %paragraph--type--rich-text-p;
      @extend %page-node-type-page-block-system-main-block-p;
    }

    blockquote {
      @extend %paragraph--type--rich-text-blockquote;
      p {
        @extend %paragraph--type--rich-text-blockquote-p;
        @extend %page-node-type-page-block-system-main-block-blockquote-p;
      }

      &:after {
        @extend %paragraph--type--rich-text-blockquote-after;
      }
    }
    img {
      @extend %paragraph--type--rich-text-img;
    }
  }
}


.paragraph--type--feature-full-width {
  @extend %paragraph--type--feature-full-width;

  &:before {
    @extend %paragraph--type--feature-full-width-before;
  }

  .paragraph--type--feature-full-width::after {
    @extend %paragraph--type--feature-full-width-after;
  }

  .paragraph--type--feature-full-width.image:after {
    @extend %paragraph--type--feature-full-width-image-after;
  }

  .field--name-field-title {
    @extend %paragraph--type--feature-full-width-field--name-field-title;
  }
  .field--name-field-text {
    z-index: 10;
    p {
      @extend %paragraph--type--feature-full-width-field--name-field-text-p;
    }
  }
  .field--type-link {
    z-index: 10;
    a {
      @extend %paragraph--type--feature-full-width-field--type-link-a;
    }
  }

  // Gradient overlay
  &::after {
    @extend %paragraph--type--feature-full-width-gradient-overlay;
  }
}

.feature-full-width-paragraph .paragraph--type--feature-full-width {
  @extend %feature-full-width;
}

.paragraph--type--feature-full-width.image {
  @extend %feature-full-width-image;
}
