.paragraph--type--tiles {
  @include set-bbv-var(background-color, color-primary-first, --paragraph-tile-background-color);
  &> .field--name-field-title {
    font-size: rem(24);
    font-weight: 400;
    line-height: rem(36);
    margin: rem(18) auto rem(0);
    text-align: center;

    @include mq(desktop) {
      margin: rem(36) auto rem(0);
    }
  }
  .field--name-field-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: rem(16) rem(16);

    @include mq(xl) {
      margin: rem(24) auto;
    }

    &> .field__item {
      display: flex;
      flex: 1 1 auto;
      margin-bottom: rem(24);
      text-align: center;

      @include mq(phablet) {
        flex: 0 1 calc(50% - 1rem);
        min-width: rem(380);
      }

      @include mq(desktop) {
        flex: 0 1 calc(33% - 1rem);
        margin-bottom: rem(36);
        min-width: rem(300);
      }

      @include mq(xl) {
        margin-bottom: rem(48);
        max-width: rem(380);
      }

      .field--name-field-image,
      .bg-header {
        @include set-bbv-var(background-color, background-color-secondary, --paragraph-tile-field-name-field-tiles-item-image-bg-header-background-color);
        font-size: 0;
        max-height: rem(228);
        max-width: rem(380);
        img {
          max-width: 100%;
        }
      }
      @include mq(desktop) {
        .field--name-field-image,
        .bg-header {
          @include set-bbv-var(background-color, background-color-secondary, --paragraph-tile-field-name-field-tiles-item-desktop-background-color);
          height: 18.36vw;
          width: 30.6vw;
        }
      }
      .field--name-field-title {
        font-size: rem(20);
        font-weight: 600;
        line-height: rem(30);
        margin-top: rem(28);
      }

      .field--name-field-text p {
        @include set-bbv-var(color, color-primary-second, --paragraph-tile-field-name-field-tiles-item-field-text-p-color);
        line-height: rem(24);
        margin-bottom: rem(12);
        margin-top: rem(12);
      }

      .field--name-field-link a {
        display: inline-block;
        font-size: rem(14);
        font-weight: 600;
        margin-top: rem(12);
      }
    }
  }
}

.page-node-type-page .block-system-main-block .field--name-bene-intro{
  h1, h2, h3, h4, h5{
    font-family: bbv(font-family-secondary);
    font-family: var(--general-font-family-secondary);
    margin: 50px 0;
  }

  span, p {
    padding: 0 100px;
    color: bbv(color-secondary-third);
    color: var(--rich-paragraph-font-secondary-color);
  }
}

.page-node-type-page .block-system-main-block .field--name-bene-intro{

  h1, h2, h3, h4, h5, a{
    color: bbv(font-color-secondary);
    color: var(--general-font-secondary-color);
  }
}

