.paragraph--type--tiles{
  @extend %tiles-background;

  .field--name-field-title{@extend %tiles-main-title;}
}

.field--name-field-tiles{
  @extend %tiles-container;

  .paragraph--type--tile{
    @extend %tiles-wrapper;
  }

  .field__item{
    @extend %individual-tiles;

    .field--name-field-title{
      @extend %tile-inner-title;
    }

    .paragraph{
      @extend %over-flow-hidden;
      @extend %text;
    }

    .field--name-field-image{@extend %tiles-img-container;}

    img{@extend %tiles-img;}
  }

  .tile-text{@extend %tile-text;}

  .tile-button {
    padding: 0 20px;
    margin-bottom: 30px;
    a {
      @extend %button-secondary;
      &:hover, &:active, &:focus {@extend %button-secondary-hover;}
      @extend %button;
      &:hover, &:active, &:focus {@extend %button-hover;}
    }
  }

  .text-wrapper{
    @extend %text-wrapper;

    a{
      .field--name-field-title{
        @extend %tile-inner-title;
        &:hover{@extend %link-hover;}
      }
    }
    p{@extend %text-wrapper-text}
  }
}
