.field--name-bene-intro {
  @extend %updates-pg-intro;
  h2 {
    @extend %updates-pg-intro-h2;
  }
  h3 {
    @extend %updates-pg-intro-h3;
  }
  p {
    @extend %updates-pg-intro-p;
  }
}

#block-otfo-bene-content article.node--type-listing-page{
  @extend %updates-pg-summary;
}

.node--type-news{
  h2{
    @extend %updates-pg-h2;

    a{
      @extend  %updates-pg-a;
    }
  }
}


.view-bene-news .view-content {
  @extend %updates-pg-content;

  .node__content{
    @extend %updates-pg-node-content;
  }



  .field--name-bene-intro p,
  .field--name-bene-intro{
    @extend %listing-pg-font-settings;
  }
}

.field--name-bene-date time{
  @extend %updates-pg-bene-date-time;
}

.block-system-main-block article.node--type-news .node__content {
  .field--name-bene-intro {
    p {@extend %updates-pg-intro-padding;}
  }
  .field--name-bene-content p {
    @extend %listing-pg-paragraph;
  }
}

.block-system-main-block article.node--type-news.node--view-mode-search-result .node__content {
  .field--name-bene-intro {
    p {@extend %updates-listing-intro-padding;}
  }
}
