/* Colors */

$black: #000;
$white: #FFF;

$light-grey: #D8D8D8;
$placeholder-grey: #979797;
$medium-grey: #7C7C7C;
$dark-grey: #5C5B5B;

$soft-cyan: #50CFE3;
$bright-blue: $soft-cyan;

$strong-cyan: #129FB5;
$blue: $strong-cyan;

/**
  * Fonts
  * Open+Sans:300,300i,400,600,700,800
  *
  * light: 300
  * light italic: 300 + style: italic
  * regular:      400
  * semi-bold:    600
  * bold:         700
  * extrabold:    800
  *
  **/
$sans: 'Open Sans', sans-serif;

$social-icon-color: $bright-blue;
$social-icon-size: 40;

