// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/* Makes an element visually hidden by default, but visible when focused. */
@mixin element-focusable {
  @include element-invisible;
  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

/* Undo clearfix. Apply to .clearfix:after */
@mixin undo-clearfix {
  content: "";
  display: inline-block;
  height: auto;
  clear: none;
  display: none;
}

/* Ensure parent has position: relative; */
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Default transition */
@mixin default-transition {
  @include transition(color 0.3s linear,background-color 0.3s linear);
}

/* All transition */
@mixin all-transition {
  @include transition(all 0.3s linear);
}

/* Buttons */
@mixin button($color: $white, $bgcolor: $black) {
  @include transition(background-color 0.3s linear,color 0.3s linear);
  background-color: $bgcolor;
  border-radius: rem(3);
  color: $color;
  font-weight: 800;
  display: inline-block;
  font-size: rem(16);
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: rem(20) rem(30);
  position: relative;
  text-transform: uppercase;
  &:hover {
    background-color: $bgcolor - 50;
  }
}

@mixin thick_gradient($direction: to bottom, $color: $white) {
  background-image: linear-gradient($direction,
    rgba($color, 1.0) 0%,
    rgba($color, 0.95) 10%,
    rgba($color, 0.9) 30%,
    rgba($color, 0.7) 60%,
    rgba($color, 0.3) 70%,
    rgba($color, 0.0) 90%
  );
  content: "";
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin thin_gradient($direction: to bottom, $color: $white) {
  background-image: linear-gradient($direction,
    rgba($color, 1.0) 0%,
    rgba($color, 1.0) 5%,
    rgba($color, 0.7) 30%,
    rgba($color, 0.5) 50%,
    rgba($color, 0.4) 60%,
    rgba($color, 0.1) 75%,
    rgba($color, 0.0) 95%,
    rgba($color, 0.0) 100%
  );
  content: "";
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

