/* BASE ELEMENT STYLES */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $sans;
  font-size: rem(16);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility; /* Fix the character spacing for headings */
}

h1 {
  font-size: rem(48);
  line-height: rem(62);
  font-weight: 800;
}
h2 {
  font-size: rem(32);
  line-height: rem(38);
  font-weight: 400;
}
h3 {
  font-size: rem(20);
  line-height: rem(30);
  font-weight: 600;
}
h4 {
  font-size: rem(16);
  line-height: rem(20);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
}

p,
p.standard {
  color: var(--color-text-primary);
  font-size: rem(16);
  line-height: rem(31);
  font-weight: 400;
}

a {
  @include default-transition;
  color: var(--color-theme-primary);
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:active {
    color: var(--color-theme-primary-lighten20);
  }
}

table a,
li a,
p a {
  color: var(--color-theme-primary);
  &:hover,
  &:active {
    color: var(--color-theme-primary-lighten20);
  }
}

a.button {
  @include button;
}

/* List bullets in content. */
.text-formatted ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  li {
    padding-bottom: rem(14);
    padding-left: rem(32);
    text-indent: rem(-20);
    color: var(--color-text-primary);
    &:before {
      color: var(--color-text-primary);
      content: "•";
      font-size: rem(16);
      line-height: 1;
      padding-right: rem(14);
      position: relative;
    }
  }
}

ol {
    padding-left: rem(26);
  li {
    padding-bottom: rem(14);
    padding-left: rem(6);
    line-height: 1.4;
    font-size: rem(16);
    color: var(--color-text-primary);
  }
}

table, table.tablesaw {
  border: 1px solid var(--color-text-light);
  margin: rem(24) 0;
  table-layout: auto;
  th, tr, td, tr:first-child th {
    border: none;
    color: var(--color-text-medium-dark);
    font-size: rem(14);
    font-weight: 400;
    padding: rem(18) rem(42);
    text-align: left;
    strong {
      font-weight: 600;
    }
  }
  th, tr:first-child th {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-medium-dark);
    font-size: rem(14);
    margin: 0;
  }
  tr {
    background-color: var(--color-background-default);
  }
  th,tr:nth-of-type(2n) {
    background-color: var(--color-background-lightest);
  }
}

ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: left;
  .menu-item {
    padding: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  legend {
    font-size: rem(30);
    font-weight: 700;
    color: var(--color-text-secondary);
  }
}

/* END BASE ELEMENT STYLES */
