/***
 * FONTS
 */
@mixin font-family($weight: 400, $style: normal) {
  font-family: "Open Sans", sans-serif;
  font-style: $style;
  font-weight: $weight;
}

/***
 * MEDIA QUERIES
 */
 // Extra small screen / phone
  $xs: 0;
  // Small screen / phone
  $sm: 544px;
  // Medium screen / tablet
  $md: 768px;
  // Large screen / desktop
  $lg: 992px;
  // Extra large screen / wide desktop
  $xl: 1200px;

  @mixin mq($query) {
    @media (min-width: rem($query)) {
      @content
    }
  }
