// Default Styles (Mobile First!)
.region-footer .bene-contact-links .fieldset-wrapper {
  @extend %region-footer-layout;
}

.block-bene-footer-block {
  @extend %footer-block-layout;

  .menu {
    @extend %footer-block-layout-menu;
  }

  .contact-links {
    @extend %footer-block-layout-contact-links;
  }

  .additional-footer {
    @extend %footer-block-layout-additional-footer;
  }

  div.social-links {
    @extend %footer-block-layout-social-links;

    span {
      @extend %footer-block-layout-social-links-span;
      a {
        @extend %footer-block-layout-social-links-span-a;
      }
    }
  }

  .copyright {
    @extend %footer-block-layout-copyright;
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {
  .block-bene-footer-block {

    .menu {
      flex: 0 1 20%;
    }

    .contact-links {
      flex: 0 1 20%;
    }

    .additional-footer {
      flex: 0 1 20%;
    }

    div.social-links {
      align-items: baseline;
      flex: 0 1 30%;
      margin-top: rem(0);
      span {
        min-width: 0;
        a {
          margin-left: rem(10);
        }
      }
    }

    .copyright {
      bottom: 0;
      position: absolute;
      right: 2%;
      text-align: right;
    }
  }
}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {
  .block-bene-footer-block {
    div.social-links {
      flex-wrap: nowrap;
      flex: 0 1 40%;
      justify-content: flex-end;
    }
  }
}
