.page-node-type-listing-page {
  .views-element-container {
    clear: both;
    padding: 0 2%;
    width: 80%;
    @include mq(desktop) {
      @include span-columns(10);
      @include shift(1);
      .view-bene-events {
        display: flex;
        flex-direction: row;
        .view-filters {
          @include span-columns(12);
        }
        .view-content {
          flex: 1 1 73%;
          margin-left: 2%;
          @include shift(1);

          h2{
            margin-bottom: 10px;
          }

          .field--name-bene-event-location{
            display: none;
          }

          .field__item{
            p, div{
              display: inline;
            }
          }
        }
      }
    }
  }
}

.page-node-type-listing-page {
  .views-element-container {
    clear: both;
    padding: 0 2%;
    @include mq(desktop) {
      @include span-columns(10);
      @include shift(1);
      .view-bene-events {
        display: flex;
        flex-direction: row;
        .view-filters {
          flex: 1 1 25%;
        }
        .view-content {
          flex: 1 1 73%;
          margin-left: 2%;
        }
      }
    }
  }
}