// Default Styles (Mobile First!)
.region-footer .bene-contact-links .fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.block-bene-footer-block {
  margin-bottom: rem(24);
  margin-top: rem(24);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;

  .copyright {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

// Specific ranges - use sparingly.
// Mobile - things specifically under 400px.
@include mq(mobile) {  }

// Phablet - things between 401px and 768px.
@include mq(phablet) {  }

// Tablet - things between 769px and 1239px.
@include mq(tablet) {  }


// Desktops - 769px or more. (This is the most common Media Query)
@include mq(desktop) {

}

// Extra Large Desktop: min-width: 1240px.
@include mq(xl) {  }
