// Default layout
  $max-width: rem(1800) !global;

  #site-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
  }

  #page,
  .site-header,
  .site-content,
  .site-footer,
  .homepage-hero {
    @include fill-parent();
  }

  #site-wrapper > header,
  .site_branding,
  .region-content,
  .region-footer {
    @include outer-container;
    max-width: 100%;
    padding: 0 2%;
  }
