// Default layout
  $max-width: rem(1800) !global;

  .inner {
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: rem(1240);
  }

  #site-wrapper {
    margin: 0 auto;
    position: relative;
  }

  #page,
  .site-header,
  .site-content,
  .site-footer,
  .homepage-hero {
    @include fill-parent();
  }

  #site-wrapper > header,
  .site_branding,
  .region-content,
  .region-footer {
    @include outer-container;
    max-width: 100%;
  }

  .site-header {
    padding: 0 2%;
  }

  .page-node-type-page,
  .page-node-type-listing-page,
  .page-node-type-event,
  .page-node-type-news {
    .region-content {
      margin-bottom: rem(32);
      @include mq(desktop) {
        margin-bottom: rem(48);
      }
    }
    .block-system-main-block .field--name-bene-intro,
    .field--name-bene-content .paragraph--type--rich-text,
    .block-system-main-block .field--name-bene-event-date-range,
    .block-system-main-block .field--name-bene-event-location {
      clear: both;
      padding: 0 2%;
      @include mq(desktop) {
        @include span-columns(8);
        @include shift(2);
      }
    }
    .paragraph--type--media .media-instagram,
    .paragraph--type--media .media-tweet,
    .paragraph--type--media .media-video {
      clear: both;
      padding: 0 2%;
      @include mq(desktop) {
        margin-left: 17.05961%;
        margin-top: rem(48);
        max-width: 65.88078%;
      }
    }

    .paragraph--type--media .media-instagram > div,
    .paragraph--type--media .media-tweet > div {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .field--name-bene-content .paragraph--type--media,
    .field--name-bene-content .paragraph--type--feature-full-width,
    .field--name-bene-content .paragraph--type--tiles {
      clear: both;
    }
    .paragraph--type--tiles {
      @include outer-container;
      max-width: rem(1440);
    }
  }

  .page-node-type-listing-page {
    .views-element-container {
      clear: both;
      padding: 0 2%;
      @include mq(desktop) {
        @include span-columns(10);
        @include shift(1);
        .view-bene-events {
          display: flex;
          flex-direction: row;
          .view-filters {
            flex: 1 1 25%;
          }
          .view-content {
            flex: 1 1 73%;
            margin-left: 2%;
          }
        }
      }
    }
  }
