// Default layout
  $max-width: rem(1800) !global;

  #site-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
  }

  #page,
  .site-header,
  .site-content,
  .site-footer,
  .homepage-hero {
    @include fill-parent();
  }

  #site-wrapper > header,
  .site_branding,
  .region-content,
  .region-footer {
    @include outer-container;
    max-width: 100%;
  }

  .site-header {
    padding: 0 2%;
  }

  .page-node-type-page {
    .node__content .field--name-field-intro,
    .field--name-bene-content .paragraph--type--rich-text {
      clear: both;
      padding: 0 2%;
      @include mq(desktop) {
        @include span-columns(8);
        @include shift(2);
      }
    }
    .field--name-bene-content .paragraph--type--media,
    .field--name-bene-content .paragraph--type--feature-full-width,
    .field--name-bene-content .paragraph--type--tiles {
      clear: both;
    }

  }
