/**
 * First-level variables. Do not use these except to define
 * buildup css variables in the next section.
 *
 * Notice that the variable names are specific to the color
 * they refer to... that means these can be thrown out and a
 * whole new set of variables brought in for a new theme.
 **/
$bene-a-level-variables: (
  bene-main-white: #FFF,
  bene-light-grey: #D8D8D8,
  bene-placeholder-grey: #979797,
  bene-medium-grey: #7C7C7C,
  bene-dark-grey: #5C5B5B,
  bene-shadow: rgba(#444, .11),
  bene-main-black: #000,
  bene-bright-blue: #50CFE3,
  bene-main-blue: #129FB5,
  bene-sans-font: "'Open Sans', sans-serif",
  bene-input-height: 50px,
  bene-input-height-small: 36px,
);

// bav = bene a-level variable
// access the above variables with this function
@function bav($var-name) {
  @return map-get($bene-a-level-variables, #{$var-name});
}

$bene-buildup-variables: (
  color-primary-first: bav(bene-bright-blue),
  color-primary-second: bav(bene-main-blue),
  color-primary-third: bav(bene-dark-grey),
  color-primary-fourth: bav(bene-main-white),

  color-secondary-first: bav(bene-main-black),
  color-secondary-second: bav(bene-medium-grey),
  color-secondary-third: bav(bene-placeholder-grey),
  color-secondary-fourth: bav(bene-light-grey),

  background-color-primary: bav(bene-main-white),
  background-color-secondary: bav(bene-bright-blue),
  background-color-tertiary: bav(bene-main-blue),
  background-color-hover: bav(bene-light-grey),

  disabled-color: bav(bene-placeholder-grey),
  disabled-border-color: lighten(bav(bene-placeholder-grey), 20%),

  button-size-large: rem(56),
  button-size-medium: rem(30),
  button-size-small: rem(27),

  font-family-primary: bav(bene-sans-font),
  font-family-secondary: bav(bene-sans-font),

  font-size-large: rem(61),
  font-size-medium: rem(50),
  font-size-accent: rem(30),
  font-size-small: rem(25),
  font-size-base: rem(16), // Base font size for the body

  font-color-primary: bav(bene-main-black),
  font-color-secondary: bav(bene-main-white),
  font-color-tertiary: bav(bene-dark-grey),
  font-color-accent: bav(bene-bright-blue),
  font-color-link: bav(bene-bright-blue),
  font-color-hover-link: bav(bene-main-blue),

  font-weight-bold: bold,
  font-weight-normal: normal,
  font-weight-light: 100,

  gradient-direction: -180deg,
  gradient-start-color: rgba(bav(bene-main-blue), 1), // 0.00 = transparent
  gradient-end-color: rgba(bav(bene-bright-blue), 1), //  1 = opaque
  preferred-border-radius: 0px,
  shadow-transparent-color: bav(bene-shadow),

  logo-size: rem(170),
  social-media-icon-size: rem(36),
  input-height: bav(bene-input-height), // can we change to rem?
  input-height-small: bav(bene-input-height-small),

  preferred-alignment: left,
  hero-alignment: center,

);

// bbv = bene buildup variable
// access the above variables with this function
@function bbv($var-name) {
  @return map-get($bene-buildup-variables, #{$var-name});
}

:root {
  // place each item in bene-buildup-variables here so they are defined in root scope
  // output of this loop will be (just a brief sampling):
  // ...
  //  --color-primary-first: #50CFE3;
  //  --color-secondary-third: #979797;
  //  --background-color-secondary: #50CFE3;
  //  --background-color-hover: #D8D8D8;
  //  --disabled-color: #979797;
  //  --button-size-large: 3.5rem;
  //  --font-family-secondary: 'Open Sans', sans-serif;
  //  --font-size-large: 3.8125rem;
  // ...
  @each $name, $color-num in $bene-buildup-variables {
    --#{$name}: #{$color-num};
  }

}
