$vars: (
  //Colors
  color-primary-a: #50CFE3,
  color-primary-b: #129FB5,
  color-primary-c: #ffffff,
  color-primary-d: #000000,
  color-secondary-a: #7C7C7C,
  color-secondary-b: #979797,
  color-secondary-c: #D8D8D8,
  color-secondary-d: #ECECEC,

  //Fonts
  font-family-primary: "'Open Sans', sans-serif",
  font-family-secondary: '',
  font-weight-regular: 400,
  font-weight-medium: 600,
  font-weight-bold: 700,
  font-weight-black: 800,
  font-style-italic: italic,
  font-style-normal: normal,

  //Logo & Icons
  logo-height: 100px,
  social-media-icon-height: 100px,

  //Buttons & Inputs
  button-padding: 2rem,
  input-height: 100px
);


:root{
  @each $key, $value in $vars {
    #{--$key}: #{$value};
  }
}

// // // BASE STYLING \\ \\ \\

%body {
  box-sizing: border-box;
  @include vars(font-style, font-style-normal);
  @include vars(font-family, font-family-primary);
}

%h1-h6{
  @include vars(color, color-primary-d);
  margin: rem(16) 0;
}

%h1{
  font-size: rem(32);
  line-height: rem(40);
}

%h2 {
  font-size: rem(26);
  line-height: rem(32);
}

%h3 {
  font-size: rem(20);
  line-height: rem(26);
}

%h4 {
  font-size: rem(16);
  line-height: rem(22);
}

%link{
  @include vars(color, color-primary-b);
  cursor: pointer;
}

%link-hover{
  @include vars(color, color-primary-a);
}

%button{
  @include vars(color, color-primary-c);
  @include vars(background-color, color-primary-a);
  border-radius: 100px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: rem(32);
  margin: 0;
  text-align: center;
  text-decoration: none;
  padding: 12px 35px;
  text-transform: uppercase;
}

%button-hover{
  @include vars(background-color, color-primary-b);
  @include vars(color, color-primary-c);
}

%text {
  font-size: rem(16);
  line-height: rem(32);
  @include vars(font-family, font-family-primary);
  @include vars(color, color-primary-d);
}

%lists{
  font-size: rem(16);
  line-height: rem(32);
  @include vars(font-family, font-family-primary);
  @include vars(color, color-primary-d);
}

%table{
  border: solid 1px;
  @include vars(border-color, color-primary-b);
  border-collapse: collapse;
  border-spacing: 0;
  padding: 1em;
}

%table-header {
  @include vars(background-color, color-primary-b);
  @include vars(color, color-primary-c);
  padding: 10px;
}

%table-body{
  @include vars(border-color, color-primary-b);
  border: solid 1px;
  padding: 10px;
}



%footer-background{
  @include vars(background-color, color-primary-b);
}

