/* BASE ELEMENT STYLES */
body {
  @extend %body;
}

h1, h2, h3, h4, h5, h6 {@extend %h1-h6;}

h1 {@extend %h1;}
h2 {@extend %h2;}
h3 {@extend %h3;}
h4 {@extend %h4;}
h5 {@extend %h5;}

p, p.standard {@extend %text}

a {
  @extend %link;
  &:hover, &:active, &:focus { @extend %link-hover;}
}


.button {
  @extend %button;
  &:hover, &:active, &:focus{
    @extend %button-hover;
  }
}


ul {
  li {
    @extend %lists;
  }
}

ol {
  li {
   @extend %lists;
  }
}

blockquote{
  @extend %text;
  @extend %blockquote;
}

blockquote p{
  @extend %blockquote-p;
}

label{
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: block;
}

input{
  @include vars(background-color, color-secondary-a);
  border-radius: 0;
  border: none;
  padding: 1rem;
}

table{
  @extend %table;
}

thead th{
  @extend %table-header;
}

tbody td {
  @extend %table-body;
}


