/* BASE ELEMENT STYLES */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include set-bbv-var(font-family, font-family-primary, --base_style-font-family);
  @include set-bbv-var(font-size, font-size-base, --base_style_font-size);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility; /* Fix the character spacing for headings */
}

h1 {
  font-size: rem(48);
  line-height: rem(62);
  font-weight: 800;
}
h2 {
  font-size: rem(32);
  line-height: rem(38);
  font-weight: 400;
}
h3 {
  font-size: rem(20);
  line-height: rem(30);
  font-weight: 600;
}
h4 {
  font-size: rem(16);
  line-height: rem(20);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
}

p,
p.standard {
  @include set-bbv-var(color, color-text-primary, --base_style-paragraph-color);
  font-size: rem(16);
  line-height: rem(31);
  font-weight: 400;
}

a {
  @include default-transition;
  @include set-bbv-var(color, color-theme-primary, --base_style-link-color);
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:active {
    @include set-bbv-var(color, color-theme-primary-lighten20, --base_style-active-link-color);
  }
}

table a,
li a,
p a {
  @include set-bbv-var(color, color-theme-primary, --base_style-link-color);
  &:hover,
  &:active {
    @include set-bbv-var(color, color-theme-primary-lighten20, --base_style-active-link-color);
  }
}

a.button {
  @include button;
}

/* List bullets in content. */
.text-formatted ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  li {
    padding-bottom: rem(14);
    padding-left: rem(32);
    text-indent: rem(-20);
    @include set-bbv-var(color, color-text-primary, --base_style-formatted-text-ul-li-color);
    &:before {
      @include set-bbv-var(color, color-text-primary, --base_style-formatted-text-ul-li-bullet-color);
      content: "•";
      @include set-bbv-var(font-size, font-size-base, --base_style-font-size);
      line-height: 1;
      padding-right: rem(14);
      position: relative;
    }
  }
}

ol {
    padding-left: rem(26);
  li {
    padding-bottom: rem(14);
    padding-left: rem(6);
    line-height: 1.4;
    font-size: rem(16);
    @include set-bbv-var(color, color-text-primary, --base_style-formatted-text-ol-li-color);
  }
}

table, table.tablesaw {
  @include set-bbv-var(border, color-text-light, --base_style-table-border-color);
  margin: rem(24) 0;
  table-layout: auto;
  th, tr, td, tr:first-child th {
    border: none;
    @include set-bbv-var(color, color-text-medium-dark, --base_style-table-text-color);
    font-size: rem(14);
    font-weight: 400;
    padding: rem(18) rem(42);
    text-align: left;
    strong {
      font-weight: 600;
    }
  }
  th, tr:first-child th {
    font-weight: 700;
    text-transform: uppercase;
    @include set-bbv-var(color, color-text-medium-dark, --base_style-table-headerrow-leftcolumn-text-color);
    font-size: rem(14);
    margin: 0;
  }
  tr {
    @include set-bbv-var(background-color, color-background-default, --base_style-table-background-color);
  }
  th,tr:nth-of-type(2n) {
    @include set-bbv-var(background-color, color-background-lightest, --base_style-table-background-stripe-color);
  }
}

ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
  text-align: left;
  .menu-item {
    padding: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  legend {
    font-size: rem(30);
    font-weight: 700;
    @include set-bbv-var(color, color-text-secondary, --base_style-fieldset-legend-color);
  }
}

/* END BASE ELEMENT STYLES */
