/* BASE ELEMENT STYLES */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include set-bbv-var(font-family, font-family-primary, --body-font-family);
  @include set-bbv-var(font-size, font-size-base, --body-font-size);
  @include set-bbv-var(font-style, font-style-normal, --body-font-style);
  @include set-bbv-var(font-weight, font-weight-normal, --body-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility; /* Fix the character spacing for headings */
}

h1 {
  @include set-bbv-var(font-size, font-size-medium, --h1-font-size);
  @include set-bbv-var(line-height, line-height-medium, --h1-line-height);
  @include set-bbv-var(font-weight, font-weight-bold, --h1-font-weight);
}
h2 {
  @include set-bbv-var(font-size, font-size-accent, --h2-font-size);
  @include set-bbv-var(line-height, line-height-accent, --h2-line-height);
  @include set-bbv-var(font-weight, font-weight-normal, --h2-font-weight);
}
h3 {
  @include set-bbv-var(font-size, font-size-small, --h3-font-size);
  @include set-bbv-var(line-height, line-height-small, --h3-line-height);
  @include set-bbv-var(font-weight, font-weight-bold, --h3-font-weight);
}
h4 {
  @include set-bbv-var(font-size, font-size-base, --h4-font-size);
  @include set-bbv-var(line-height, line-height-base, --h4-line-height);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  @include set-bbv-var(font-weight, font-weight-bold, --h4-font-weight);
}

p,
p.standard {
  @include set-bbv-var(color, color-text-over-color-primary-background, --paragraph-color);
  font-size: rem(16);
  line-height: rem(31);
  font-weight: 400;
}

a {
  @include default-transition;
  @include set-bbv-var(color, color-text-link-over-color-primary-background, --link-color);
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:active {
    @include set-bbv-var(color, color-text-link-over-color-primary-background-hover, --active-link-color);
  }
}

table a,
li a,
p a {
  @include set-bbv-var(color, color-text-link-over-color-primary-background, --li-link-color);
  &:hover,
  &:active {
    @include set-bbv-var(color, color-text-link-over-color-primary-background-hover, --active-li-link-color);
  }
}

a.button {
  @include button;
}

/* List bullets in content. */
.text-formatted ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  li {
    padding-bottom: rem(14);
    padding-left: rem(32);
    text-indent: rem(-20);
    @include set-bbv-var(color, color-text-over-color-primary-background, --formatted-text-ul-li-color);
    &:before {
      @include set-bbv-var(color, color-text-over-color-primary-background, --formatted-text-ul-li-bullet-color);
      content: "•";
      @include set-bbv-var(font-size, font-size-base, --font-size);
      line-height: 1;
      padding-right: rem(14);
      position: relative;
    }
  }
}

ol {
    padding-left: rem(26);
  li {
    padding-bottom: rem(14);
    padding-left: rem(6);
    line-height: 1.4;
    @include set-bbv-var(font-size, font-size-base, --ol-li-font-size);
    @include set-bbv-var(color, color-text-over-color-primary-background, --formatted-text-ol-li-color);
  }
}

table, table.tablesaw {
  @include set-bbv-var(border, color-text-subtitle-over-color-primary-background, --table-border-color);
  margin: rem(24) 0;
  table-layout: auto;
  th, tr, td, tr:first-child th {
    border: none;
    @include set-bbv-var(color, color-text-subtitle-over-color-primary-background, --table-text-color);
    @include set-bbv-var(font-size, font-size-base - rem(2), --table-tr-td-font-size);
    @include set-bbv-var(font-weight, font-weight-normal, --table-tr-td-font-weight);
    padding: rem(18) rem(42);
    @include set-bbv-var(text-align, preferred-alignment, --table-tr-td-text-align);
    strong {
      @include set-bbv-var(font-weight, font-weight-bold, --table-tr-td-strong-font-weight);
    }
  }
  th, tr:first-child th {
    @include set-bbv-var(font-weight, font-weight-bold, --table-headerrow-leftcolumn-font-weight);
    text-transform: uppercase;
    @include set-bbv-var(color, color-text-subtitle-over-color-primary-background, --table-headerrow-leftcolumn-text-color);
    @include set-bbv-var(font-size, font-size-base - rem(2), --table-headerrow-leftcolumn-font-size);
    margin: 0;
  }
  tr {
    @include set-bbv-var(background-color, background-color-primary, --table-background-color);
  }
  th,tr:nth-of-type(2n) {
    @include set-bbv-var(background-color, background-color-tertiary, --table-background-stripe-color);
  }
}

ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
  @include set-bbv-var(text-align, preferred-alignment, --ul-menu-text-align);
  .menu-item {
    padding: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  legend {
    @include set-bbv-var(font-size, font-size-accent, --fieldset-legend-font-size);
    @include set-bbv-var(font-weight, font-weight-bold, --fieldset-legend-font-weight);
    @include set-bbv-var(color, color-text-secondary, --fieldset-legend-color);
  }
}

/* END BASE ELEMENT STYLES */
