/*
Generated content - do not change! Changes will be overwritten!

To make changes to these css variables find the one you want to change and go to
it's declaration in one of the component files, for example in _admin.scss you will
find several calls to mixin @include set-bbv-var(...). these provide the input to
this script.

The purpose of these variables is to provide the ability to override them
in bene child themes. This is important because the b-level or bene-buildup-variables
are used in multiple places. These provide the ability to fine-tune a child theme.

This file should be named sass/config/_05.cssvars.scss
*/
:root {

// admin
--body-background-color: var(--background-color-primary);
--body-user-logged-in-messages-after-background-color: var(--background-color-secondary);
--body-user-logged-in-messages-after-border-color: var(--background-color-tertiary);
--body-user-logged-in-messages-after-font-color: var(--font-color-primary);
--body-user-logged-in-contextual-links-background-color: var(--background-color-primary);
--body-user-logged-in-contextual-links-li-background-color: var(--background-color-primary);
--body-user-logged-in-contextual-links-li-a-background-color: var(--background-color-primary);
--body-user-logged-in-contextual-links-li-a-link-color: var(--font-color-link);
--body-user-logged-in-block-bene-child-local-tasks-background-color: var(--background-color-primary);
--body-user-logged-in-block-bene-child-local-tasks-li-background-color: var(--background-color-primary);
--body-user-logged-in-block-bene-child-local-tasks-li-a-background-color: var(--background-color-primary);
--body-user-logged-in-block-bene-child-local-tasks-li-link-color: var(--font-color-link);
--body-user-logged-in-block-bene-child-local-tasks-li-a-hover-background-color: var(--background-color-secondary);
--body-user-logged-in-block-bene-child-local-tasks-li-a-is-active-background-color: var(--background-color-tertiary);
--body-user-logged-in-block-bene-child-local-tasks-show-hide-background-color: var(--background-color-tertiary);

// basic_page
--node-type-page-block-system-main-block-field-intro-font-size: var(--font-size-x-small);

// block-hero
--block-hero-h1-font-size: var(--font-size-medium);
--block-hero-h1-mobile-font-size: var(--font-size-medium-small);
--block-hero-h1-tablet-font-size: var(--font-size-medium);
--block-hero-h1-desktop-font-size: var(--font-size-medium);

// event_page
--page-node-type-event-field--name-bene-event-date-range-time-font-size: var(--font-size-xx-small);
--page-node-type-event-field--name-bene-event-date-range-time-font-size-desktop: var(--font-size-x-small);
--event-main-block-bene-intro-desktop-font-size: var(--font-size-x-small);

// fields
--field--name-bene-intro-h2-font-color: var(--font-color-primary);

// footer
--block-bene-footer-background-color: var(--background-color-primary);
--block-bene-footer-menu-link-color: var(--color-text-primary);
--block-bene-footer-menu-link-font-size: var(--font-size-base-small);
--block-bene-footer-menu-link-hover-focus-active-color: var(--color-primary-first);
--block-bene-footer-menu-item-link-font-size: var(--font-size-base);
--block-bene-footer-menu-item-link-color: var(--font-color-link);
--block-bene-footer-copyright-contact-links-font-size: var(--font-size-base-small);
--block-bene-footer-contact-links-font-size: var(--font-size-base-x-small);
--block-bene-footer-contact-links-phone-email-additional-contact-p-fontsize: var(--font-size-base-x-small);
--block-bene-footer-social-links-a-background-color: var(--background-color-secondary);
--block-bene-footer-social-links-a-border-color: rem(1) solid var(--background-color-secondary);
--block-bene-footer-social-links-a-height: var(--social-media-icon-size);
--block-bene-footer-social-links-a-width: var(--social-media-icon-size);
--block-bene-footer-social-links-a-hover-focus-active-background-color: var(--background-color-tertiary);

// forms
--form-input-textarea-background-color: var(--color-primary-first);
--form-input-textarea-font-color: var(--color-primary-first);
--form-input-textarea-placeholder-color: var(--color-primary-first);
--form-input-textarea-placeholder-color: var(--color-primary-first);
--form-input-textarea-placeholder-color: var(--color-primary-first);
--form-input-textarea-placeholder-color: var(--color-primary-first);
--form-input-textarea-focus-outline-color: 1px solid var(--color-primary-first);
--form-js-checkbox-label-text-color: var(--color-primary-first);
--form-js-checkbox-label-before-border-color: 1px solid var(--color-primary-first);
--form-js-checkbox-input-checkbox-checked-label-before-color: var(--color-primary-first);
--form-label-text-color: var(--color-primary-first);
--form-input-focus-outline-color: var(--color-primary-first);
--form-input-textarea-border-color: 1px solid var(--color-primary-first);
--form-input-textarea-text-color: var(--color-primary-first);
--form-input-textarea-placeholder-text-color: var(--color-primary-first);
--form-input-textarea-placeholder-text-color: var(--color-primary-first);
--form-input-textarea-placeholder-text-color: var(--color-primary-first);
--form-input-textarea-placeholder-text-color: var(--color-primary-first);
--form-submit-button-background-color: var(--color-primary-second);
--form-button-color: var(--color-primary-first);
--form-submit-button-hover-background-color: var(--color-primary-first);

// hero
--block-hero-align-items: var(--hero-alignment);
--block-hero-background-color: var(--background-color-primary);
--block-hero-justify-content: var(--hero-alignment);
--block-hero-h1-h2-text-color: var(--font-color-secondary);
--block-hero-h1-h2-font-size: var(--font-size-medium-small);
--block-hero-h1-h2-text-align: var(--hero-alignment);
--block-hero-h1-h2-font-size-tablet: var(--font-size-large);
--block-hero-h1-h2-font-size-desktop: var(--font-size-large);

// home-hero
--block-bene-home-page-feature-block-text-color: var(--font-color-secondary);
--block-bene-home-page-feature-block-text-align: var(--hero-alignment);
--block-bene-home-page-feature-block-background-color: var(--background-color-primary);
--block-bene-home-page-feature-block-title-text-color: var(--font-color-secondary);
--block-bene-home-page-feature-block-field-bene-link-border-color: rem(2) solid var(--font-color-secondary);
--block-bene-home-page-feature-block-title-link-text-color: var(--font-color-secondary);
--block-bene-home-page-feature-block-link-text-hover-color: var(--font-color-secondary);
--block-bene-home-page-feature-block-link-text-hover-background-color: var(--background-color-primary);

// inner-page
--page-node-type-page-block-system-main-block-h2-text-color: var(--font-color-primary);
--page-node-type-page-block-system-main-block-h3-text-color: var(--font-color-secondary);
--page-node-type-page-block-system-main-block-h3-link-color: var(--font-color-link);
--page-node-type-page-block-system-main-block-h3-link-hover-color: var(--font-color-hover-link);
--page-node-type-page-block-system-main-block-p-text-color: var(--font-color-primary);
--page-node-type-page-block-system-main-block-blockquote-p-text-color: var(--font-color-tertiary);

// listing_page
--listing-page-page-node-type-listing-page-block-system-main-block-field-intro-desktop-font-size: var(--font-size-x-small);

// menus
--mobile-menu-toggle-div-span-background-color: var(--background-color-primary);
--mobile-nav-region-primary-nav-background-color: var(--background-color-primary);
--mobile-nav-menu-link-color: var(--font-color-link);
--mobile-nav-menu-link-active-color: var(--font-color-hover-link);
--mobile-nav-menu-li-last-child-link-background-color: var(--background-color-secondary);
--mobile-nav-menu-li-last-child-link-text-color: var(--font-color-primary);
--mobile-nav-menu-li-last-child-link-active-text-color: var(--font-color-accent);
--desktop-nav-menu-utility-menu-item-link-color: var(--font-color-link);
--desktop-nav-menu-utility-menu-item-link-hover-color: var(--font-color-hover-link);
--desktop-nav-menu-utility-menu-item-last-child-link-text-color: var(--font-color-accent);
--desktop-nav-menu-utility-menu-item-last-child-link-background-color: var(--background-color-tertiary);
--desktop-nav-menu-utility-menu-item-last-child-link-hover-background-color: var(--background-color-secondary);
--desktop-nav-main-menu-item-link-text-color: var(--font-color-tertiary);
--desktop-nav-main-menu-item-link-hover-focus-active-text-color: var(--font-color-hover-link);

// mobile-nav
--mobile-menu-toggle-text-color: var(--font-color-accent);
--mobile-nav-region-primary-nav-background: var(--background-color-tertiary);
--mobile-nav-menu-text-align: var(--preferred-alignment);
--mobile-nav-menu-link-text-color: var(--font-color-link);
--mobile-nav-menu-link-font-size: var(--font-size-small);
--mobile-nav-menu-link-menu-main-link-font-size: var(--font-size-small);

// newsletter
--external-newsletter-background-color: var(--color-primary-first);
--external-newsletter-text-color: var(--font-color-tertiary);
--external-newsletter-label-text-color: var(--font-color-tertiary);
--external-newsletter-p-text-color: var(--font-color-tertiary);
--external-newsletter-link-color: var(--font-color-link);
--external-newsletter-link-button-background-color: var(--color-primary-second);
--external-newsletter-link-button-hover-background-color: var(--color-primary-second);

// nice_select
--nice-select-background-color: var(--background-color-secondary);
--nice-select-border-radius: var(--preferred-border-radius);
--nice-select-font-size: var(--font-size-base-small);
--nice-select-font-weight: var(--font-weight-bold);
--nice-select-height: var(--input-height);
--nice-select-line-height: calc( var(--input-height) - 2px);
--nice-select-current-text-color: var(--font-color-accent);
--nice-select-disabled-border-color: var(--disabled-border-color);
--nice-select-disabled-text-color: var(--font-color-secondary);
--nice-select-disabled-after-border-color: var(--disabled-border-color);
--nice-select-small-font-size: var(--font-size-base-x-small);
--nice-select-small-height: var(--input-height-small);
--nice-select-small-line-height: calc( var(--input-height-small) - 2px);
--nice-select-small-option-line-height: calc( var(--input-height-small) - 2px);
--nice-select-small-option-min-height: calc( var(--input-height-small) - 2px);
--nice-select-list-border-radius: var(--preferred-border-radius);
    //include set-bbv-with-arg-before-var(transform, scale(.75), translateY(- input-height / 2), translateY(- var(--nice-select-list-transform-move-y) / 2));
--nice-select-option-line-height: calc( var(--input-height) - 2px);
--nice-select-option-min-height: calc( var(--input-height) - 2px);
--nice-select-option-hover-focus-selected-background-color: var(--background-color-hover);
--nice-select-option-disabled-text-color: var(--disabled-color);

// paragraphs
--paragraph-rich-text-p-li-text-color: var(--font-color-primary);
--paragraph-rich-text-blockquote-p-font-color: var(--font-color-primary);
--paragraph-rich-text-blockquote-after-background-color: var(--background-color-tertiary);
--paragraph-feature-full-width-background-color: var(--background-color-tertiary);
--paragraph-feature-full-width-text-color: var(--font-color-primary);
--paragraph-feature-full-width-field-title-text-color: var(--font-color-primary);
--paragraph-feature-full-width-field-title-font-family: var(--font-family-primary);
--paragraph-feature-full-width-field-title-font-size: var(--font-size-large);
--paragraph-feature-full-width-field-title-font-weight: var(--font-weight-bold);
--paragraph-feature-full-width-field-text-font-family: var(--font-family-primary);
--paragraph-feature-full-width-field-text-color: var(--font-color-primary);
--paragraph-feature-full-width-field-type-link-link-color: var(--font-color-link);
--paragraph-feature-full-width-field-type-link-background-color: var(--background-color-secondary);
--paragraph-feature-full-width-field-type-link-hover-background-color: var(--background-color-tertiary);

// template

// tiles
--paragraph-tile-background-color: var(--color-primary-first);
--paragraph-tile-field-name-field-tiles-item-image-bg-header-background-color: var(--background-color-secondary);
--paragraph-tile-field-name-field-tiles-item-desktop-background-color: var(--background-color-secondary);
--paragraph-tile-field-name-field-tiles-item-field-text-p-color: var(--color-primary-second);

// views
}
