$vars: (
  //Colors
        color-primary-a: #248BCB, //light blue
        color-primary-b: #1E5375, //dark blue
        color-primary-c: #ffffff, //white
        color-primary-d: #000000, //black
        color-primary-e: #2d3332, //dark grey
        color-secondary-a: #E26436, //light orange
        color-secondary-b: #C63E02,  //dark orange
        color-secondary-c: #F2AF3F, //light yellow
        color-secondary-d: #DB830E, //dark yellow
        color-secondary-e: #5FBA47, //green

  //Fonts
        font-family-primary: "'Work Sans', sans-serif",
        font-family-secondary: "'Oswald', sans-serif",
        font-weight-regular: 400,
        font-weight-medium: 600,
        font-weight-bold: 700,
        font-weight-black: 800,
        font-style-italic: italic,
        font-style-normal: normal,

  //Logo & Icons
        logo-height: 100px,
        social-media-icon-height: 2.25rem,

  //Buttons & Inputs
        button-padding: 2rem,
        input-height: 100px
);

:root{
  @each $key, $value in $vars {
    #{--$key}: #{$value};
  }
}

/* ==============================
            BASE STYLING
   ============================== */

/* ==============================
            Site Header
   ============================== */

%site-header{
  @include vars(background-color, color-primary-e);
}


/* ==============================
          Sub Navigation
   ============================== */


/* ==============================
        Home Page Feature
   ============================== */


/* ==============================
               Tiles
   ============================== */
%individual-tiles{
  border-bottom-right-radius: 100px;
}

/* ==============================
         Rich Text - Intro
   ============================== */


/* ==============================
    Full Width Feature Paragraph
   ============================== */


/* ==============================
           Listing Page
   ============================== */


/* ==============================
           Inline Embeds
   ============================== */


/* ==============================
            Events Page
   ============================== */


/* ==============================
            Updates Page
   ============================== */


/* ==============================
        General Page Settings
   ============================== */


/* ==============================
        Newsletter
   ============================== */


/* ==============================
            Site Footer
   ============================== */


/* ==============================
      Tools & Repetitive Things
   ============================== */
