.bene-social-links {
  padding: 10px;
  background-color: #cccccc;
}

.bene-social-links a {
    display: inline-block;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    text-indent: -9999px;
    background-size: contain;
}

.bene-social-links a.facebook {
  background: url(../images/facebook.svg) no-repeat top left;
  background-size: contain;
}

.bene-social-links a.google {
    background: url(../images/google.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.instagram {
    background: url(../images/instagram.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.linkedin {
    background: url(../images/linkedin.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.pinterest {
    background: url(../images/pinterest.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.tumblr {
    background: url(../images/tumblr.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.twitter {
    background: url(../images/twitter.svg) no-repeat top left;
    background-size: contain;
}

.bene-social-links a.youtube {
    background: url(../images/youtube.svg) no-repeat top left;
    background-size: contain;
}